<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.web.ui"
   name="Simple Web UI Plug-in"
   version="1.0.0"
   provider-name="IBM"
   description="This plugin contains the UI to create a simple non j2ee web project."
   class="org.eclipse.wst.web.ui.internal.WSTWebUIPlugin">

   <runtime>
      <library name="ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.wst.common.frameworks.ui"/>
      <import plugin="org.eclipse.wst.web"/>
   </requires>
  <!-- static web project wizard -->
   <extension
         point="org.eclipse.wst.common.frameworks.ui.extendableWizard">
      <extendableWizard
            id="org.eclipse.wst.web.ui.internal.wizards.SimpleWebModuleCreationWizard">
      </extendableWizard>
   </extension>
   <extension
       point="org.eclipse.ui.newWizards">
      <category
            name="%web.category_ui_"
            id="org.eclipse.wst.web.ui">
      </category>
      <wizard
            name="%StaticWebProject.name"
            icon="icons/full/ctool16/newwebprj_wiz.gif"
            category="org.eclipse.wst.web.ui"
            class="org.eclipse.wst.web.ui.internal.wizards.SimpleWebModuleCreationWizard"
            project="true"
            id="org.eclipse.wst.web.ui.internal.wizards.SimpleWebModuleCreation">
         <description>
            %StaticWebProject.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <!-- add in the features page 
   	<extension
   		id="corg.eclipse.wst.web.ui.internal.wizards.WebProjectFeaturesWizardPage"
        name="%WebProjectFeatures.name"
        point="org.eclipse.wst.common.frameworks.ui.wizardPageGroup">
      	<wizardPageGroup
        	pageGroupID="org.eclipse.wst.web.ui.internal.wizards.WebProjectFeaturesWizardPage"
            wizardID="com.ibm.etools.webtools.StaticWebProjectCreation">
        	<factory
            	className="org.eclipse.wst.web.ui.internal.wizards.WebProjectFeaturesWizardPageFactory">
         	</factory>
      	</wizardPageGroup>
   	</extension>
   -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%StaticWebSettings"
            class="org.eclipse.wst.web.ui.internal.wizards.SimpleWebSettingsPropertiesPage"
            id="StaticWebSettingsPropertiesPage">
         <filter
               name="nature"
               value="org.eclipse.wst.web.StaticWebNature">
         </filter>
      </page>
      
 <!--     <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%WebProjectFeatures.name"
            class="com.ibm.itp.wt.ui.WebFeaturesPropertiesPage"
            id="WebFeaturesPropertiesPage">
         <filter
               name="nature"
               value="org.eclipse.wst.web.StaticWebNature">
         </filter>
      </page> -->
   </extension>
   
   <!-- the following 2 are needed to add an image for SWPs into the "Add/Remove Project" dialog -->
	<extension point="org.eclipse.wst.server.core.moduleTypes">
		<moduleType
			id="web.static"
			name="%StaticWebModule.name"/>
	</extension>
	<extension point="org.eclipse.wst.server.ui.serverImages">
		<image
			id="com.ibm.wtp.web.static"
			typeIds="web.static"
			icon="icons/full/obj16/web_application.gif"/>
	</extension>
	
	<!-- Static Web project creation operation is now extendable -->
	<extension point="org.eclipse.wst.common.frameworks.ExtendableOperation"
			   id="extendableOperation">
		<extendableOperation
			class="org.eclipse.wst.staticwebproject.internal.operations.SimpleWebModuleCreationOperation"
			id="org.eclipse.wst.staticwebproject.internal.operations.SimpleWebModuleCreationOperation">
		</extendableOperation>
	</extension>
	
	<!-- this extension is needed to migrate the 5.1.2 StaticWebNature ID to the new 6.0 ID -->
	<extension
		id="NatureMappings"
		name="Static Nature Mappings"
		point="org.eclipse.wst.common.migration.natureMapping">
		<natureMapping>
			<mapping
				position="first"
				name="Nature Mapping"
				newValue="org.eclipse.wst.web.StaticWebNature">
				<alias
					value="com.ibm.etools.j2ee.StaticWebNature">
				</alias>
			</mapping>
		</natureMapping>
	</extension>
	<!-- ====================================================== -->
<!-- Extension point: org.eclipse.ui.projectNatureImages    -->
<!-- Purpose: Attach icon overlays for J2EE project natures -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/web_module_ovr.gif"
            natureId="org.eclipse.wst.web.StaticWebNature"
            id="org.eclipse.ui.simpleWebProjectNatureImage">
      </image>
   </extension>
</plugin>
