<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <!-- static web project wizard -->
   <extension
       point="org.eclipse.ui.newWizards">
      <category
            name="%web.category_ui_"
            id="org.eclipse.wst.web.ui">
      </category>
      <wizard
            name="%StaticWebProject.name"
            icon="icons/full/ctool16/newwebprj_wiz.gif"
            category="org.eclipse.wst.web.ui"
            class="org.eclipse.wst.web.ui.internal.wizards.SimpleWebProjectWizard"
            project="true"
            id="org.eclipse.wst.web.ui.internal.wizards.SimpleWebProjectWizard">
         <description>
            %StaticWebProject.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension> -->
   
   <!-- the following 2 are needed to add an image for SWPs into the "Add/Remove Project" dialog -->
	<extension point="org.eclipse.wst.server.core.moduleTypes">
		<moduleType
			id="web.static"
			name="%StaticWebModule.name"/>
	</extension>
	<extension point="org.eclipse.wst.server.ui.serverImages">
		<image
			id="com.ibm.wtp.web.static"
			typeIds="web.static"
			icon="icons/full/obj16/web_application.gif"/>
	</extension>
	
	
	<!-- ====================================================== -->
<!-- Extension point: org.eclipse.ui.projectNatureImages    -->
<!-- Purpose: Attach icon overlays for J2EE project natures -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/web_module_ovr.gif"
            natureId="org.eclipse.wst.web.StaticWebNature"
            id="org.eclipse.ui.simpleWebProjectNatureImage">
      </image>
   </extension>
   
  <extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
    <wizard-pages action="wst.web.install">
      <page class="org.eclipse.wst.web.ui.internal.wizards.SimpleWebFacetInstallPage"/>
    </wizard-pages>
  </extension>

</plugin>
