<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	 <extension
        point="org.eclipse.core.runtime.contentTypes">
		<!-- associate .fragx files with the XML content type -->
		<file-association
			content-type="org.eclipse.core.runtime.xml"
			file-extensions="fragx"/>
	 </extension>		 
</plugin>
