<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
    <extension
       point="org.eclipse.ui.commands">
	    <command
	          id="org.eclipse.wst.jsdt.web.showTranslation"
	          name="%_UI_SHOW_TRANSLATION">
	    </command>
	    <command
	          id="org.eclipse.wst.jsdt.web.runCode"
	          name="Run Example Handler">
	    </command>
	</extension>
	<extension point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL
            gtk: ? 
      -->
		<key
			sequence="M1+M2+8"
			contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			commandId="org.eclipse.wst.jsdt.web.showTranslation"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
		<key
			sequence="M1+M2+7"
			contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
			commandId="org.eclipse.wst.jsdt.web.runCode"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
    <extension point="org.eclipse.ui.handlers">
       <handler
             class="org.eclipse.wst.jsdt.web.ui.tests.translation.ShowTranslationHandler"
             commandId="org.eclipse.wst.jsdt.web.showTranslation"/>
       <handler
             class="org.eclipse.wst.jsdt.web.ui.tests.translation.RunCodeHandler"
             commandId="org.eclipse.wst.jsdt.web.runCode"/>
	</extension>
	<extension point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL
            gtk: ? 
      -->
		<key
			sequence="M1+M2+8"
			contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
			commandId="org.eclipse.wst.jsdt.web.executeArbitrarySnippet"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
    <extension
       point="org.eclipse.ui.commands">
	    <command
	          id="org.eclipse.wst.jsdt.web.executeArbitrarySnippet"
	          name="%_UI_RUN"/>
	</extension>
</plugin>
