<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.xml.core"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.wst.xml.core.internal.XMLCorePlugin">

   <runtime>
      <library name="xmlmodel.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.wst.sse.core"/>
      <import plugin="org.eclipse.wst.common.contentmodel"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.wst.xml.uriresolver"/>
   </requires>


   <extension
         point="org.eclipse.wst.sse.core.modelHandler">
      <modelHandler
            default="true"
            class="org.eclipse.wst.xml.core.modelhandler.ModelHandlerForXML"
            associatedContentTypeId="org.eclipse.core.runtime.xml"
            id="org.eclipse.wst.xml.core.modelhandler">
      </modelHandler>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.embeddedTypeHandler">
      <embeddedTypeHandler
            class="org.eclipse.wst.xml.core.modelhandler.EmbeddedXML">
      </embeddedTypeHandler>
   </extension>
   
   <extension
         id="org.eclipse.wst.xml.core.builderdelegate.todo"
         point="org.eclipse.wst.sse.core.builderdelegate">
      <participant
            class="org.eclipse.wst.xml.core.builder.delegates.XMLTaskTagSeeker"
            contentType="org.eclipse.core.runtime.xml,org.eclipse.wst.xml.core.xmlsource">
      </participant>
   </extension>
   
   <extension point="org.eclipse.core.filebuffers.documentCreation"
         id="org.eclipse.wst.xml.core.documentfactories"
         name="%Structured_XML_Document_Factory_Extension.name">
      <factory
            contentTypeId="org.eclipse.core.runtime.xml"
            class="org.eclipse.wst.sse.core.filebuffers.BasicStructuredDocumentFactory"/>
   </extension>
	
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="xsl">
      </fileTypes>
      <fileTypes
            type="text"
            extension="xslt">
      </fileTypes>
      <fileTypes
            type="text"
            extension="dadx">
      </fileTypes>
      <fileTypes
            type="text"
            extension="wsdl">
      </fileTypes>
      <fileTypes
            type="text"
            extension="nst">
      </fileTypes>
      <fileTypes
            type="text"
            extension="xmi">
      </fileTypes>
      <fileTypes
            type="text"
            extension="xsd">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.formatProcessors">
      <processor
            class="org.eclipse.wst.xml.core.format.FormatProcessorXML"
            contentTypeId="org.eclipse.core.runtime.xml">
      </processor>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.contentTypes">
         <content-type
               file-extensions="xml,xsl,xslt,dadx,wsdl,nst,xmi,xsd,exsd"
               priority="low"
               name="%XML_Content_Type_Extension_Element.name"
               id="xmlsource"
               base-type="org.eclipse.core.runtime.xml"
			   default-charset="UTF-8"
			   alias-for="org.eclipse.core.runtime.xml"
			   >
			<describer class="org.eclipse.wst.xml.core.internal.contenttype.ContentDescriberForXML"/>
		</content-type>
   </extension>
   
</plugin>
