<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			default="true"
			class="org.eclipse.wst.xml.core.internal.modelhandler.ModelHandlerForXML"
			associatedContentTypeId="org.eclipse.core.runtime.xml"
			id="org.eclipse.wst.xml.core.internal.modelhandler">
		</modelHandler>
	</extension>
	
	<extension point="org.eclipse.wst.sse.core.embeddedTypeHandler">
		<embeddedTypeHandler
			class="org.eclipse.wst.xml.core.internal.modelhandler.EmbeddedXML">
		</embeddedTypeHandler>
	</extension>

	<extension point="org.eclipse.wst.sse.core.taskscanner">
		<scanner
			id="org.eclipse.wst.xml.core.internal.tasks.XMLFileTaskScanner"
			class="org.eclipse.wst.xml.core.internal.tasks.XMLFileTaskScanner"
			contentTypeIds="org.eclipse.core.runtime.xml" />
	</extension>
	 
   <!-- Here we define a new extension point.  This extension point is used
        to programmatically contribute catalog entries to the XML Catalog. -->
   <extension-point id="catalogContributions" name="%XML_Catalog_Contributions_Extension_Point.name" schema="schema/catalogContributions.exsd"/>

	<!-- This extension point is deprecated, org.eclipse.wst.xml.core.catalogContributions should be used 
		to contribute catalog entries to the XML Catalog. -->
	<extension-point
		id="catalogContributor"
		name="%XML_Catalog_Contributor_Extension_Point.name"
		schema="schema/catalogContributor.exsd" />

   <!-- This extension point extenends the Common Extensbile URI Resolver so that
        the XML Catalog can participare in resolving processes. -->
   <extension point="org.eclipse.wst.common.uriresolver.resolverExtensions">
      <resolverExtension
            stage="postnormalization"
            class="org.eclipse.wst.xml.core.internal.catalog.XMLCatalogURIResolverExtension">
      </resolverExtension>
   </extension>

	<extension
		point="org.eclipse.core.filebuffers.documentCreation"
		id="org.eclipse.wst.xml.core.documentfactories"
		name="%Structured_XML_Document_Factory_Extension.name">
		<factory
			contentTypeId="org.eclipse.core.runtime.xml"
			class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
	</extension>

	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			type="text"
			extension="xsl">
		</fileTypes>
		<fileTypes
			type="text"
			extension="xslt">
		</fileTypes>
		<fileTypes
			type="text"
			extension="dadx">
		</fileTypes>
		<fileTypes
			type="text"
			extension="wsdl">
		</fileTypes>
		<fileTypes
			type="text"
			extension="nst">
		</fileTypes>
		<fileTypes
			type="text"
			extension="xmi">
		</fileTypes>
		<fileTypes
			type="text"
			extension="xsd">
		</fileTypes>
	</extension>
	
	<extension point="org.eclipse.wst.sse.core.formatProcessors">
		<processor
			class="org.eclipse.wst.xml.core.internal.provisional.format.FormatProcessorXML"
			contentTypeId="org.eclipse.core.runtime.xml">
		</processor>
	</extension>

	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type
			file-extensions="xml,xsl,xslt,wsdl,xsd,exsd"
			priority="high"
			name="%XML_Content_Type_Extension_Element.name"
			id="xmlsource"
			base-type="org.eclipse.core.runtime.text"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.wst.xml.core.internal.contenttype.ContentDescriberForXML" />
		</content-type>
	</extension>

	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type
			file-extensions="xsl,xslt"
			priority="high"
			name="%XSL_Content_Type_Extension_Element.name"
			id="xslsource"
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8">
		</content-type>
	</extension>

	<!-- initialize xml core preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.xml.core.internal.preferences.XMLCorePreferenceInitializer" />
	</extension>

	<extension-point
		name="%Content_Model_Document_Factories_Extension.name"
		id="documentFactories" />

	<extension-point
		name="%Model_Query_Extension.name"
		id="modelQueryExtensions" />

	<extension-point
		name="%Content_Model_Annotation_Files_Extension.name"
		id="annotationFiles" />	

</plugin>
