<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
	id="org.eclipse.wst.dtd.core"
	name="%pluginName"
	version="1.0.0"
	provider-name="%providerName"
	class="org.eclipse.wst.dtd.core.internal.DTDCorePlugin">

	<runtime>
		<library name="dtdcore.jar">
			<export name="*" />
		</library>
	</runtime>
	<requires>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.core.runtime" />
		<import plugin="org.eclipse.emf.ecore"/>
		<import plugin="org.eclipse.jface.text" />
		<import plugin="org.eclipse.ui" />
		<import plugin="org.eclipse.wst.common.uriresolver"/>
		<import plugin="org.eclipse.wst.sse.core" />
		<import plugin="org.eclipse.wst.validation"/>
		<import plugin="org.eclipse.wst.xml.core" />
		<import plugin="org.eclipse.wst.xml.uriresolver"/>
	</requires>


	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			class="org.eclipse.wst.dtd.core.internal.modelhandler.ModelHandlerForDTD"
			associatedContentTypeId="org.eclipse.wst.dtd.core.dtdsource"
			id="org.eclipse.wst.dtd.core.internal.modelhandler">
		</modelHandler>
	</extension>
	<extension
		point="org.eclipse.wst.sse.core.builderdelegate"
		id="org.eclipse.wst.dtd.core.builderdelegate.todo">
		<participant
			class="org.eclipse.wst.dtd.core.internal.builder.delegates.DTDTaskTagSeeker"
			contentType="org.eclipse.wst.dtd.core.dtdsource"
		/>
	</extension>

   <extension point="org.eclipse.core.filebuffers.documentCreation"
         id="org.eclipse.wst.dtd.core.documentfactories"
         name="%Structured_DTD_Document_Factory_Extension.name">
      <factory
            contentTypeId="org.eclipse.wst.dtd.core.dtdsource"
            class="org.eclipse.wst.sse.core.filebuffers.BasicStructuredDocumentFactory"/>
   </extension>

	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			type="text"
			extension="dtd" />
		<fileTypes
			type="text"
			extension="mod" />
		<fileTypes
			type="text"
			extension="ent" />
	</extension>
	
	   <extension
         point="org.eclipse.core.runtime.contentTypes">
         <content-type
               file-extensions="dtd,mod,ent"
               priority="normal"
               name="%DTD_Content_Type_Extension_Element.name"
               id="dtdsource"
               base-type="org.eclipse.core.runtime.text"
			   default-charset="UTF-8">
			<describer class="org.eclipse.wst.dtd.core.internal.content.ContentDescriberForDTD"/>
		</content-type>
   </extension>
	
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="dtd"
            class="org.eclipse.wst.dtd.core.internal.emf.util.DTDResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="ent"
            class="org.eclipse.wst.dtd.core.internal.emf.util.DTDResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="DTD.xmi"
            class="org.eclipse.wst.dtd.core.internal.emf.impl.DTDPackageImpl">
      </package>
   </extension>

   <extension
         point="org.eclipse.wst.xml.core.documentFactories">
      <factory
            type="dtd, ent, mod, xml"
            class="org.eclipse.wst.dtd.core.internal.contentmodel.CMDocumentFactoryDTD">
      </factory>
   </extension>
	
</plugin>
