div {      /* comment 1 */
	display: block;
	/* comment 2 */
	color: red;
}

div { 
	
	
	
	
	
	/* comment 1 */
	display: block;
	/* comment 2 */
	color: red;
}

div {      
	/* comment 1 */
	display: block;
	/* comment 2 */
	color: red;
}