# copied from eclipse.platform.debug/.gitignore
/*/bin/ 
*~ 
*.rej 
*.bak 
javacore.* 
heapdump.* 
core.* 
Snap.*

# suggested by github
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
desktop.ini
*.stackdump

#from many .cvsignore files
build.xml
temp.folder
@dot
src.zip
.fbwarnings
javaCompiler...args
/bundles/org.eclipse.jst.jsp.core/bin/
/bundles/org.eclipse.jst.jsp.ui/bin/
/bundles/org.eclipse.wst.css.core/bin/
/bundles/org.eclipse.wst.css.ui/bin/
/bundles/org.eclipse.wst.dtd.core/bin/
/bundles/org.eclipse.wst.dtd.ui/bin/
/bundles/org.eclipse.wst.html.core/bin/
/bundles/org.eclipse.wst.html.ui/bin/
/bundles/org.eclipse.wst.jsdt.web.core/bin/
/bundles/org.eclipse.wst.jsdt.web.support.jsp/bin/
/bundles/org.eclipse.wst.jsdt.web.ui/bin/
/bundles/org.eclipse.wst.sse.core/bin/
/bundles/org.eclipse.wst.sse.ui/bin/
/bundles/org.eclipse.wst.xml.core/bin/
/bundles/org.eclipse.wst.xml.ui/bin/
/bundles/org.eclipse.wst.xsd.core/bin/
/bundles/org.eclipse.wst.xsd.ui/bin/
/development/org.eclipse.wst.sse.unittests/bin/
