<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.xsl.launching.processorType">
      <processorType
            featureProperties="XalanFeatures.properties"
            id="org.eclipse.wst.xsl.xalan.processorType"
            label="%processorType.label.0"
            outputProperties="XalanOutputProperties.properties"
            transformerFactory="org.apache.xalan.processor.TransformerFactoryImpl">
      </processorType>
   </extension>
   <extension
         point="org.eclipse.wst.xsl.launching.debugger">
      <debugger
            className="org.eclipse.wst.xsl.xalan.debugger.XalanDebugger"
            classpath="xalan-debugger.jar"
            id="org.eclipse.wst.xsl.xalan.debugger"
            name="Xalan 2.5.1 or greater"
            processorTypeId="org.eclipse.wst.xsl.xalan.processorType">
      </debugger>
   </extension>
   <extension
         point="org.eclipse.wst.xsl.launching.processor">
      <processor
            classpath="${eclipse_orbit:org.apache.xalan}"
            id="org.eclipse.wst.xsl.launching.xalan.2_7_0"
            label="%processor.label.1"
            processorTypeId="org.eclipse.wst.xsl.xalan.processorType"
            debuggerId="org.eclipse.wst.xsl.xalan.debugger"
            supports="1.0">
      </processor>
   </extension>
</plugin>
