<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.jsp.core"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.jst.jsp.core.internal.JSPCorePlugin">

   <runtime>
      <library name="jspmodel.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.wst.html.core"/>
      <import plugin="org.eclipse.wst.xml.core"/>
      <import plugin="org.eclipse.wst.sse.ui"/>
      <import plugin="org.eclipse.wst.sse.core"/>
      <import plugin="org.eclipse.wst.xml.uriresolver"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.wst.common.uriresolver"/>
   </requires>


  <extension
         point="org.eclipse.wst.sse.core.modelHandler">
      <modelHandler
            class="org.eclipse.jst.jsp.core.internal.modelhandler.ModelHandlerForJSP"
            associatedContentTypeId="org.eclipse.jst.jsp.core.jspsource"
            id="org.eclipse.jst.jsp.core.internal.modelhandler">
      </modelHandler>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.documentFactories">
      <factory
            type="tld"
            class="org.eclipse.jst.jsp.core.internal.contentmodel.tld.CMDocumentFactoryTLD">
      </factory>
   </extension>
   <extension
         id="org.eclipse.jst.jsp.core.builderdelegate.todo"
         point="org.eclipse.wst.sse.core.builderdelegate">
      <participant
            class="org.eclipse.jst.jsp.core.internal.tasks.JSPTaskTagSeeker"
            contentType="org.eclipse.jst.jsp.core.jspsource">
      </participant>
   </extension>
   <extension point="org.eclipse.core.filebuffers.documentCreation"
         id="org.eclipse.jst.jsp.core.documentfactories"
         name="%Structured_JSP_Document_Factory_Extension.name">
      <factory
            contentTypeId="org.eclipse.jst.jsp.core.jspsource"
            class="org.eclipse.wst.sse.core.filebuffers.BasicStructuredDocumentFactory"/>
   </extension>
   <extension point="org.eclipse.core.filebuffers.documentSetup"
         id="org.eclipse.jst.jsp.core.documentsetup"
         name="Structured JSP Document Setup participant">
      <participant
            contentTypeId="org.eclipse.jst.jsp.core.jspsource"
            class="org.eclipse.jst.jsp.core.internal.contentmodel.TaglibController"/>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="jsp">
      </fileTypes>
      <fileTypes
            type="text"
            extension="jspf"/>
      <fileTypes
            type="text"
            extension="jspx"/>
      <fileTypes
            type="text"
            extension="jsf">
      </fileTypes>
      <fileTypes
            type="text"
            extension="jsv">
      </fileTypes>
      <fileTypes
            type="text"
            extension="jtpl">
      </fileTypes>
      <fileTypes
            type="text"
            extension="tld"/>
      <fileTypes
            type="text"
            extension="tag"/>
      <fileTypes
            type="text"
            extension="tagx"/>
      <fileTypes
            type="text"
            extension="tagf"/>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.formatProcessors">
      <processor
            class="org.eclipse.wst.html.core.internal.format.HTMLFormatProcessorImpl"
            contentTypeId="org.eclipse.jst.jsp.core.jspsource">
      </processor>
   </extension>

   <extension
         point="org.eclipse.core.runtime.contentTypes">
         <!-- associate JSP file types -->
         <content-type
               file-extensions="jsp,jsv,jtpl,jspx"
               priority="high"
               name="%JSP_Content_Type_Extension_Element.name"
               id="jspsource"
               base-type="org.eclipse.core.runtime.text"
			   default-charset="ISO-8859-1">
			<describer class="org.eclipse.jst.jsp.core.internal.contenttype.ContentDescriberForJSP"/>
		 </content-type>
		 <content-type
               file-extensions="jspf,jsf"
               priority="high"
               name="%JSP_Content_Type_Extension_Element.name"
               id="jspfragmentsource"
               base-type="org.eclipse.jst.jsp.core.jspsource"
			   default-charset="ISO-8859-1">
			<describer class="org.eclipse.jst.jsp.core.internal.contenttype.ContentDescriberForJSP"/>
		 </content-type>
         <!-- associate JSP 2.0 Tag file types -->
         <content-type
               file-extensions="tag,tagx,tagf"
               priority="high"
               name="%JSP_Tag_Content_Type_Extension_Element.name"
               id="tagsource"
               base-type="org.eclipse.jst.jsp.core.jspsource"
			   default-charset="UTF-8">
		 </content-type>
		<!-- associate .tld files with the XML content type -->
		<file-association
			content-type="org.eclipse.core.runtime.xml"
			file-extensions="tld"/>
	</extension>		 
</plugin>
