<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.jsp.core"
   name="%Structured_Source_JSP_Model.name"
   version="1.0.0"
   provider-name="IBM"
   class="org.eclipse.jst.jsp.core.JSPCorePlugin">

   <runtime>
      <library name="jspmodel.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.wst.common.encoding"/>
      <import plugin="org.eclipse.wst.html.core"/>
      <import plugin="org.eclipse.wst.xml.core"/>
      <import plugin="org.eclipse.wst.sse.ui"/>
      <import plugin="org.eclipse.wst.sse.core"/>
      <import plugin="org.eclipse.wst.xml.uriresolver"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.wst.common.contentmodel"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.wst.common.uriresolver"/>
   </requires>


  <extension
         point="org.eclipse.wst.sse.core.modelHandler">
      <modelHandler
            class="org.eclipse.jst.jsp.core.modelhandler.ModelHandlerForJSP"
            associatedContentTypeId="org.eclipse.jst.jsp.core.jspsource"
            id="org.eclipse.jst.jsp.core.modelhandler">
      </modelHandler>
   </extension>
   <extension
         point="org.eclipse.wst.common.contentmodel.documentFactories">
      <factory
            type="tld"
            class="org.eclipse.jst.jsp.core.contentmodel.tld.CMDocumentFactoryTLD">
      </factory>
   </extension>
   <extension
         id="org.eclipse.jst.jsp.core.builderdelegate.todo"
         point="org.eclipse.wst.sse.core.builderdelegate">
      <participant
            class="org.eclipse.jst.jsp.core.internal.tasks.JSPTaskTagSeeker"
            contentType="org.eclipse.jst.jsp.core.jspsource">
      </participant>
   </extension>
   <extension point="org.eclipse.core.filebuffers.documentCreation"
         id="org.eclipse.jst.jsp.core.documentfactories"
         name="Structured JSP Document Factory">
      <factory
            contentTypeId="org.eclipse.jst.jsp.core.jspsource"
            class="org.eclipse.wst.sse.core.filebuffers.BasicStructuredDocumentFactory:org.eclipse.jst.jsp.core.jspsource"/>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="jsp">
      </fileTypes>
      <fileTypes
            type="text"
            extension="jspf">
      </fileTypes>
      <fileTypes
            type="text"
            extension="jsf">
      </fileTypes>
      <fileTypes
            type="text"
            extension="jsv">
      </fileTypes>
      <fileTypes
            type="text"
            extension="jtpl">
      </fileTypes>
      <fileTypes
            type="text"
            extension="tld"/>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.formatProcessors">
      <processor
            class="org.eclipse.wst.html.core.format.HTMLFormatProcessorImpl"
            contentTypeId="org.eclipse.jst.jsp.core.jspsource">
      </processor>
   </extension>

   <extension
         point="org.eclipse.core.runtime.contentTypes">
         <!-- associate JSP file types -->
         <content-type
               file-extensions="jsp,jspf,jsf,jsv,jtpl,jspx"
               priority="high"
               name="JSP Content Type"
               id="jspsource"
               base-type="org.eclipse.core.runtime.text"
			   default-charset="ISO-8859-1">
			<describer class="org.eclipse.jst.jsp.core.internal.contenttype.ContentDescriberForJSP"/>
		</content-type>
		<!-- associate .tld files with the XML content type -->
		<file-association
			content-type="org.eclipse.core.runtime.xml"
			file-extensions="tld"/>
		<file-association
			content-type="org.eclipse.wst.xml.core.xmlsource"
			file-extensions="tld"/>
	</extension>		 
</plugin>
