<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="elTranslator" name="%extension-point.name.0" schema="schema/eltranslator.exsd"/>

	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			class="org.eclipse.jst.jsp.core.internal.modelhandler.ModelHandlerForJSP"
			associatedContentTypeId="org.eclipse.jst.jsp.core.jspsource"
			id="org.eclipse.jst.jsp.core.internal.modelhandler">
		</modelHandler>
		<modelHandler
			class="org.eclipse.jst.jsp.core.internal.modelhandler.ModelHandlerForJSP"
			associatedContentTypeId="org.eclipse.jst.jsp.core.jspfragmentsource"
			id="org.eclipse.jst.jsp.core.internal.modelhandler">
		</modelHandler>
		<modelHandler
			class="org.eclipse.jst.jsp.core.internal.modelhandler.ModelHandlerForTag"
			associatedContentTypeId="org.eclipse.jst.jsp.core.tagsource"
			id="org.eclipse.jst.jsp.core.internal.modelhandler.tag">
		</modelHandler>
	</extension>

	<extension point="org.eclipse.wst.xml.core.documentFactories">
		<factory
			type="tld"
			class="org.eclipse.jst.jsp.core.internal.contentmodel.tld.CMDocumentFactoryTLD">
		</factory>
	</extension>

	<extension point="org.eclipse.wst.sse.core.taskscanner">
		<scanner
			id="org.eclipse.jst.jsp.core.internal.tasks.JSPFileTaskScanner"
			class="org.eclipse.jst.jsp.core.internal.tasks.JSPFileTaskScanner:org.eclipse.jst.jsp.core.taskMarker"
			contentTypeIds="org.eclipse.jst.jsp.core.jspsource" />
	</extension>
	<extension
		id="taskMarker"
		name="%_taskMarker.name"
		point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
		<persistent value="true"/>
	</extension>
 <extension
         id="validationMarker"
         name="%_validationMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.wst.validation.problemmarker"/>
      <persistent value="true"/>
 </extension>

	<extension
		point="org.eclipse.core.filebuffers.documentCreation"
		id="org.eclipse.jst.jsp.core.documentfactories"
		name="%Structured_JSP_Document_Factory_Extension.name">
		<factory
			contentTypeId="org.eclipse.jst.jsp.core.jspsource"
			class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
	</extension>
	<extension
		point="org.eclipse.core.filebuffers.documentSetup"
		id="org.eclipse.jst.jsp.core.documentsetup"
		name="%Structured_JSP_Document_Setup_participant.name">
		<participant
			contentTypeId="org.eclipse.jst.jsp.core.jspsource"
			class="org.eclipse.jst.jsp.core.internal.contentmodel.TaglibController" />
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			type="text"
			extension="jsp">
		</fileTypes>
		<fileTypes
			type="text"
			extension="jspf" />
		<fileTypes
			type="text"
			extension="jspx" />
		<fileTypes
			type="text"
			extension="jsf">
		</fileTypes>
		<fileTypes
			type="text"
			extension="jsv">
		</fileTypes>
		<fileTypes
			type="text"
			extension="jtpl">
		</fileTypes>
		<fileTypes
			type="text"
			extension="tld" />
		<fileTypes
			type="text"
			extension="tag" />
		<fileTypes
			type="text"
			extension="tagx" />
		<fileTypes
			type="text"
			extension="tagf" />
	</extension>
	<extension point="org.eclipse.wst.sse.core.formatProcessors">
		<processor
			class="org.eclipse.wst.html.core.internal.format.HTMLFormatProcessorImpl"
			contentTypeId="org.eclipse.jst.jsp.core.jspsource">
		</processor>
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
		<!-- create content type for JSP files -->
		<content-type
			file-extensions="jsp,jsv,jtpl,jspx"
			priority="high"
			name="%JSP_Content_Type_Extension_Element.name"
			id="jspsource"
			base-type="org.eclipse.core.runtime.text"
			default-charset="ISO-8859-1">
			<describer
				class="org.eclipse.jst.jsp.core.internal.contenttype.ContentDescriberForJSP" />
		</content-type>
		<!-- create content type for JSP fragment files -->
		<content-type
			file-extensions="jspf,jsf"
			priority="high"
			name="%JSP_Fragment_Content_Type_Extension_Element.name"
			id="jspfragmentsource"
			base-type="org.eclipse.jst.jsp.core.jspsource"
			default-charset="ISO-8859-1">
			<describer
				class="org.eclipse.jst.jsp.core.internal.contenttype.ContentDescriberForJSP" />
		</content-type>
		<!-- create content type for JSP 2.0 Tag file types -->
		<content-type
			file-extensions="tag,tagx,tagf"
			priority="high"
			name="%JSP_Tag_Content_Type_Extension_Element.name"
			id="tagsource"
			base-type="org.eclipse.jst.jsp.core.jspsource"
			default-charset="ISO-8859-1"/>
		<!-- create content type for .tld files -->
		<content-type
			file-extensions="tld"
			priority="high"
			name="%JSP_TLD_Content_Type_Extension_Element.name"
			id="tldsource"
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8">
			<!-- add the describer so it's properly detected when opened from within .jar files -->
			<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
				<parameter name="element" value="taglib"/>
			</describer>
		</content-type>
		

  	<!--======================================================================================-->
	<!-- minimal content-type css jsp support                                                 -->
	<!--======================================================================================-->
        <content-type
			file-extensions="jsp"
			priority="high"
			name="%contentTypeCSSJSPName"
			id="cssjspsource"
			base-type="org.eclipse.jst.jsp.core.jspsource">
			<describer
				class="org.eclipse.jst.jsp.css.core.internal.contenttype.ContentDescriberForJSPedCSS" />
		</content-type>
        <content-type
	        file-extensions="jspf"
			priority="high"
			name="%contentTypeCSSJSPFName"
			id="cssjspfragmentsource"
			base-type="org.eclipse.jst.jsp.core.cssjspsource">
			<describer
				class="org.eclipse.jst.jsp.css.core.internal.contenttype.ContentDescriberForJSPedCSS" />
		</content-type>
	</extension>

	<!-- initialize jsp core preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.jst.jsp.core.internal.preferences.JSPCorePreferenceInitializer" />
	</extension>

	<!--======================================================================================-->
	<!-- JSP batch validation                                       						  -->
	<!--======================================================================================-->
   <extension id="JSPBatchValidator" name="%JSP_Syntax_Validator.name" point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipse.jst.jsp.core.internal.validation.JSPBatchValidator"
            manual="true"
            version="1"
            markerId="org.eclipse.jst.jsp.core.validationMarker"
            sourceid="org.eclipse.jst.jsp.jspelsourcevalidator, org.eclipse.jst.jsp.ui.internal.validation.jspactionvalidator, org.eclipse.jst.jsp.tldsourcevalidator, org.eclipse.jst.jsp.jspsourcevalidator">
         <include>
            <rules>
	           <projectNature id="org.eclipse.jdt.core.javanature"/>
            </rules>
         </include>
         <include>
            <rules>
				<contentType id="org.eclipse.jst.jsp.core.jspsource"/>
				<!-- needed until bug 181443 is implemented -->
				<contentType id="org.eclipse.jst.jsp.core.jspfragmentsource"/>
				<contentType id="org.eclipse.jst.jsp.core.tagsource"/>
               <fileext
                     caseSensitive="false"
                     ext="jsp">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jspf">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jsf">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="tag">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="tagf">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jsv">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jtpl">
               </fileext>
            </rules>
         </include>
         <group id="org.eclipse.wst.sse.core.structuredModelGroup"/>
      </validator>
   </extension>
	
   <extension id="JSPContentValidator" name="%JSP_Content_Validator.name" point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipse.jst.jsp.core.internal.validation.JSPContentValidator"
            manual="true"
            version="1"
            markerId="org.eclipse.jst.jsp.core.validationMarker"
            sourceid="org.eclipse.jst.jsp.ui.internal.validation.markupvalidator, org.eclipse.jst.jsp.ui.internal.validation.htmlsyntaxvalidator">
         <include>
            <rules>
				<contentType id="org.eclipse.jst.jsp.core.jspsource"/>
				<!-- needed until bug 181443 is implemented -->
				<contentType id="org.eclipse.jst.jsp.core.jspfragmentsource"/>
               <fileext
                     caseSensitive="false"
                     ext="jsp">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jspf">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jsf">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="tag">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="tagf">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jsv">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jtpl">
               </fileext>
            </rules>
         </include>
         <group id="org.eclipse.wst.sse.core.structuredModelGroup"/>
      </validator>
   </extension>
   
   <extension id="TLDValidator" name="%TLDValidator.name" point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipse.jst.jsp.core.internal.validation.TLDValidator"
            manual="true"
            version="1"
            markerId="org.eclipse.jst.jsp.core.validationMarker">
         <include>
            <rules>
				<contentType id="org.eclipse.jst.jsp.core.tldsource"/>
               <fileext
                     caseSensitive="false"
                     ext="tld">
               </fileext>
           </rules>
         </include>
         <group id="org.eclipse.wst.sse.core.structuredModelGroup"/>
      </validator>
   </extension>
		
    <extension
       point="org.eclipse.jst.jsp.core.elTranslator">
       <elTranslator
          class="org.eclipse.jst.jsp.core.internal.java.jspel.JSPELTranslator"
          name="Default JSP 2.0 EL Translator"
          id="org.eclipse.jst.jsp.defaultJSP20"/>
    </extension>
    
	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			class="org.eclipse.jst.jsp.css.core.internal.modelhandler.ModelHandlerForJSPedCSS"
			associatedContentTypeId="org.eclipse.jst.jsp.core.cssjspsource"
			id="org.eclipse.jst.jsp.css.core.modelhandler">
		</modelHandler>
		<modelHandler
			class="org.eclipse.jst.jsp.css.core.internal.modelhandler.ModelHandlerForJSPedCSS"
			associatedContentTypeId="org.eclipse.jst.jsp.core.cssjspfragmentsource"
			id="org.eclipse.jst.jsp.css.core.modelhandler">
		</modelHandler>
	</extension>
	
	<extension
		point="org.eclipse.core.filebuffers.documentCreation"
		id="org.eclipse.jst.jsp.css.core.internal.documentfactories"
		name="%contentTypeCSSDocumentFactoryName">
		<factory
			contentTypeId="org.eclipse.jst.jsp.core.cssjspsource"
			class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
	</extension>
	<extension
		point="org.eclipse.core.filebuffers.documentSetup"
		id="org.eclipse.jst.jsp.css.core.documentsetup"
		name="%Structured_JSP_Document_Setup_participant.name">
		<participant
			contentTypeId="org.eclipse.jst.jsp.core.cssjspsource"
			class="org.eclipse.jst.jsp.css.core.internal.contentmodel.JSPedCSSTaglibController" />
	</extension>
	<!--
	<extension
		point="org.eclipse.core.filebuffers.documentCreation"
		id="org.eclipse.jst.jsp.css.core.internal.documentfactories.fragment"
		name="%contentTypeCSSDocumentFactoryName">
		<factory
			contentTypeId="org.eclipse.jst.jsp.core.cssjspfragmentsource"
			class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
	</extension>	
	-->
	<extension point="org.eclipse.wst.xml.core.modelQueryExtensions">
		<modelQueryExtension
			class="org.eclipse.jst.jsp.core.internal.modelquery.JSPModelQueryExtension"
			contentType="org.eclipse.jst.jsp.core.jspsource">
		</modelQueryExtension>
	</extension>
	<extension point="org.eclipse.wst.xml.core.modelQueryExtensions">
		<modelQueryExtension
			class="org.eclipse.jst.jsp.core.internal.modelquery.TaglibModelQueryExtension"
			contentType="org.eclipse.jst.jsp.core.jspsource">
		</modelQueryExtension>
	</extension>
	<extension point="org.eclipse.wst.xml.core.modelQueryExtensions">
		<modelQueryExtension
			class="org.eclipse.jst.jsp.core.internal.modelquery.JSPModelQueryExtension"
			contentType="org.eclipse.jst.jsp.core.tagsource">
		</modelQueryExtension>
	</extension>
	<extension point="org.eclipse.wst.xml.core.modelQueryExtensions">
		<modelQueryExtension
			class="org.eclipse.jst.jsp.core.internal.modelquery.TaglibModelQueryExtension"
			contentType="org.eclipse.jst.jsp.core.tagsource">
		</modelQueryExtension>
	</extension>	
	

</plugin>
