@page {size: 8.5in 11in;margin: 2cm}

@page {
	size: auto; /* auto is the initial value */
	margin: 10%;
}

@page :left {
	margin-left: 4cm;
	margin-right: 3cm;
}
@page :right {
	margin-left: 3cm;
	margin-right: 4cm;
}

@page narrow {size: 9cm 18cm}@page rotated {size: landscape}