declaration {
	dimension : 100ex;
	function : rect(100, 200, 300, 400), format("intellifont"), local("Excelsior Cyrilllic Upright");
	hash : #aabbcc;
	ident : any;
	number : 99999;
	percentage : 100%;
	string : "string";
	unicode-range : U+??, U+100-220, U+4??;
}
