@import url("../sample2.css");

/* Sample Styles */

BODY {
	color : black;
	background-color : rgb(181, 253, 211);
	text-align : center;
	font-family : "Heisei Mincho W3", serif
}

@page :left { margin-left : 4cm }

@media aural {
	P.heidi {
		azimuth : center-left;
		elevation : 12.3deg;
		pause : 30ms 1.6s
	}
}
