<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.xml.ui.tests"
   name="XML UI Tests"
   version="1.0.0"
   provider-name="Eclipse.org"
   class="org.eclipse.wst.xml.ui.tests.XMLUITestsPlugin">

   <runtime>
      <library name="xmluitests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.wst.xml.ui"/>
      <import plugin="org.eclipse.wst.sse.ui"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.wst.sse.core"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.wst.xml.core"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">

      <view
            name="Embedded XML Structured Text Viewer"
            icon="icons/sourceEditor.gif"
            category="org.eclipse.wst.sse.ui.tests"
            class="org.eclipse.wst.xml.ui.tests.viewer.ViewerTestXML"
            id="org.eclipse.wst.xml.ui.tests.viewer.ViewerTestXML">
      </view>
   </extension>
   
<!-- test for breakpoint error handling - ->
   <extension
         point="org.eclipse.wst.sse.ui.extensions.breakpoint">
      <breakpointContribution
            id="org.eclipse.wst.xml.ui.providers.test">
         <provider
               contentTypes="org.eclipse.wst.xml.core.xmlsource,org.eclipse.core.runtime.xml"
               class="org.eclipse.wst.xml.ui.tests.breakpoints.BreakpointErrorProvider"
               id="org.eclipse.wst.xml.ui.tests.breakpoints.BreakpointErrorProvider">
         </provider>
      </breakpointContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.wst.sse.ui.extendedEditorActions">
      <editorContribution
            targetID="org.eclipse.wst.sse.ui.internal.StructuredTextEditor"
            id="org.eclipse.wst.xml.ui.tests.actions">
         <action
               popupmenuPath="group.editor"
               class="org.eclipse.wst.xml.ui.tests.breakpoints.EnableWarningAction"
               menubarPath="edit/MenuAdditions"
               icon="icons/brkp_obj.gif"
               id="org.eclipse.wst.xml.ui.tests.breakpoints.EnableWarningAction">
         </action>
      </editorContribution>
   </extension>
</plugin>
