<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.jsp.ui.tests"
   name="Structured Source Editor for JSP Tests"
   version="1.0.0"
   provider-name="IBM"
   class="org.eclipse.jst.jsp.ui.tests.SSEForJSPTestsPlugin">

   <runtime>
      <library name="ssejsptests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jst.jsp.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.wst.xml.core"/>
      <import plugin="org.eclipse.wst.sse.core"/>
      <import plugin="org.eclipse.wst.sse.ui"/>
      <import plugin="org.eclipse.wst.common.encoding"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jst.jsp.core"/>
      <import plugin="org.eclipse.wst.html.core"/>
      <import plugin="org.eclipse.wst.css.core"/>
      <import plugin="org.eclipse.wst.common.contentmodel"/>
      <import plugin="org.eclipse.wst.html.ui"/>
      <import plugin="org.eclipse.wst.xml.ui"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.wst.css.ui"/>
      <import plugin="org.eclipse.wst.javascript.common.ui"/>
   </requires>


   <extension
         id="ssejsptests"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.jst.jsp.ui.tests.application.SSEJSPTests">
         </run>
      </application>
   </extension>
<!-- TO GET PICKED UP BY com.ibm.etools.commontests.testcollector -->
	<!--
   <extension
         point="com.ibm.etools.commontests.testcollector.suites">
      <suite
            suiteName="SSE JSP Tests"
            suiteClass="org.eclipse.jst.jsp.ui.tests.application.SSEJSPTestSuite">
      </suite>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Experimental"
            id="org.eclipse.wst.sse.tests">
      </category>
      <view
            name="Embedded JSP Structured Text Viewer"
            icon="icons/sourceEditor.gif"
            category="org.eclipse.wst.sse.ui.tests"
            class="org.eclipse.jst.jsp.ui.tests.ViewerTestJSP"
            id="org.eclipse.jst.jsp.ui.tests.ViewerTestJSP"/>
   </extension>

</plugin>
