<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.html.ui.tests"
   name="Structured Source Editor for HTML Tests"
   version="1.0.0"
   provider-name="Eclipse.org"
   class="org.eclipse.wst.html.ui.tests.HTMLUITestsPlugin">

   <runtime>
      <library name="htmluitests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.wst.html.ui"/>
      <import plugin="org.eclipse.wst.sse.ui"/>
      <import plugin="org.eclipse.wst.xml.ui"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.wst.sse.core"/>
      <import plugin="org.eclipse.wst.xml.core"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.wst.html.core"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Embedded HTML Structured Text Viewer"
            icon="icons/sourceEditor.gif"
            category="org.eclipse.wst.sse.ui.tests"
            class="org.eclipse.wst.html.ui.tests.viewer.ViewerTestHTML"
            id="org.eclipse.wst.html.ui.tests.viewer.ViewerTestHTML">
      </view>
   </extension>

</plugin>
