@CHARSET "ISO-8859-1";

/* Some kind of comment being left to the
	
	 			user */
	 			
	 			
h {
	TEXT-ALIGN: LEFT;
	z-index: 				2;
}


#CONTEXT {					
	text-align: left;
	border: 1px solid black;
		
		
		}
