<?json version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="$nl$/icons/full/obj16/npm-16.png"
            id="org.eclipse.wst.json.npm.ui.NPM"
            label="%NPM_File_decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
         <and>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
            <objectState name="contentTypeId"
                 value="org.eclipse.wst.json.npm.core.npmsource"/>
         </and>
      </enablement>
      </decorator>
	</extension>
   
   <!-- Custom completion for dependency key/value for 
   		"dependencies" and "devDependencies" JSON node
   		of package.json-->
	<!-- Disabled until we find a better way to provide content assist fot npm dependencies. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=486849 -->
	<!--extension
	       point="org.eclipse.wst.json.ui.completionProposalCollectors">
	    <completionProposalCollector 
	    	paths="$.dependencies,$.devDependencies"
	    	targets="key,value"
	    	class="org.eclipse.wst.json.npm.ui.internal.contentassist.NPMDependencyCompletionProposalCollector"
	    	contentTypeId="org.eclipse.wst.json.npm.core.npmsource" />	    		   
	</extension-->
	       
</plugin>
