<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  

   <!-- Web Capability Definition-->
   <!-- The Web capability requires the XML capability.
      	The XML capability is currently serving as the
      	default WTP capability. (See the comments on the
      	XML capability.)
    -->
   <extension point="org.eclipse.ui.activities">
      	
  	<activity
            name="%activity.web"
            description="%activity.web.desc"
            id="org.eclipse.wtp.web.capabilities">
     	</activity>
     	
      	<activityPatternBinding
            activityId="org.eclipse.wst.web"
            pattern="org\.eclipse\.wst\.css\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wst.web"
            pattern="org\.eclipse\.wst\.html\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wst.web"
            pattern="org\.eclipse\.wst\.javascript\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wst.web"
            pattern="org\.eclipse\.wst\.server\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wst.web"
            pattern="org\.eclipse\.wst\.internet\.monitor\.[\.\w/]*">
      	</activityPatternBinding>
      	
      	<activityPatternBinding
            activityId="org.eclipse.wst.web"
            pattern="org\.eclipse\.wst\.web\.[\.\w/]*">
      	</activityPatternBinding>
      	
   </extension>
   
</plugin>
