<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

		
<!--	
		<extension point = "org.eclipse.wst.sse.core.adaptOnCreateFactory">
		<AdaptOnCreateFactory
			class="org.eclipse.wst.sse.core.tests.adaptdom.AdapterFactoryTestOnly"
			type="org.eclipse.wst.sse.core.tests.adaptdom.AdapterFactoryTestOnly"
		/>
		</extension>
-->
		

</plugin>
