<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
        point="org.eclipse.ui.activities">
        <activity
            name="%activity.javascript"
            description="%activity.javascript.desc"
            id="org.eclipse.wtp.javascript.capabilities">
        </activity>
        <activityPatternBinding
            activityId="org.eclipse.wtp.javascript.capabilities"
            pattern="org\.eclipse\.wst\.jsdt\.[\.\w/]*">
        </activityPatternBinding>

    </extension>
</plugin>