<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


    <!--==========================================-->
    <!-- Catalog Contributions                    -->
    <!-- Register well known Web DTDs and XSDs    -->
    <!--==========================================-->

    <extension point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution id="default">


            <public
                publicId="-//Sun Microsystems, Inc.//DTD J2EE Application 1.2//EN"
                uri="dtdsAndSchemas/application_1_2.dtd"
                webURL="http://java.sun.com/j2ee/dtds/application_1_2.dtd" />
            <public
                publicId="-//Sun Microsystems, Inc.//DTD J2EE Application 1.3//EN"
                uri="dtdsAndSchemas/application_1_3.dtd"
                webURL="http://java.sun.com/dtd/application_1_3.dtd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/application_1_4.xsd"
                uri="dtdsAndSchemas/application_1_4.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/application_5.xsd"
                uri="dtdsAndSchemas/application_5.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/application_6.xsd"
                uri="dtdsAndSchemas/application_6.xsd" />


            <public
                publicId="-//Sun Microsystems, Inc.//DTD J2EE Application Client 1.2//EN"
                uri="dtdsAndSchemas/application-client_1_2.dtd"
                webURL="http://java.sun.com/j2ee/dtds/application-client_1_2.dtd" />
            <public
                publicId="-//Sun Microsystems, Inc.//DTD J2EE Application Client 1.3//EN"
                uri="dtdsAndSchemas/application-client_1_3.dtd"
                webURL="http://java.sun.com/dtd/application-client_1_3.dtd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/application-client_1_4.xsd"
                uri="dtdsAndSchemas/application-client_1_4.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/application-client_5.xsd"
                uri="dtdsAndSchemas/application-client_5.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/application-client_6.xsd"
                uri="dtdsAndSchemas/application-client_6.xsd" />


            <public
                publicId="-//Sun Microsystems, Inc.//DTD Connector 1.0//EN"
                uri="dtdsAndSchemas/connector_1_0.dtd"
                webURL="http://java.sun.com/dtd/connector_1_0.dtd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/connector_1_5.xsd"
                uri="dtdsAndSchemas/connector_1_5.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/connector_1_6.xsd"
                uri="dtdsAndSchemas/connector_1_6.xsd" />


            <public
                publicId="-//Sun Microsystems, Inc.//DTD Enterprise JavaBeans 1.1//EN"
                uri="dtdsAndSchemas/ejb-jar_1_1.dtd"
                webURL="http://java.sun.com/j2ee/dtds/ejb-jar_1_1.dtd" />
            <public
                publicId="-//Sun Microsystems, Inc.//DTD Enterprise JavaBeans 2.0//EN"
                uri="dtdsAndSchemas/ejb-jar_2_0.dtd"
                webURL="http://java.sun.com/dtd/ejb-jar_2_0.dtd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/ejb-jar_2_1.xsd"
                uri="dtdsAndSchemas/ejb-jar_2_1.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/ejb-jar_3_0.xsd"
                uri="dtdsAndSchemas/ejb-jar_3_0.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/ejb-jar_3_1.xsd"
                uri="dtdsAndSchemas/ejb-jar_3_1.xsd" />


            <uri
                name="http://java.sun.com/xml/ns/j2ee/"
                uri="dtdsAndSchemas/j2ee_1_4.xsd" />


            <uri
                name="http://java.sun.com/xml/ns/j2ee/j2ee_jaxrpc_mapping_1_1.xsd"
                uri="dtdsAndSchemas/j2ee_jaxrpc_mapping_1_1.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/j2ee_web_services_1_1.xsd"
                uri="dtdsAndSchemas/j2ee_web_services_1_1.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/j2ee_web_services_client_1_1.xsd"
                uri="dtdsAndSchemas/j2ee_web_services_client_1_1.xsd" />

            <uri
                name="http://www.ibm.com/webservices/xsd/j2ee_jaxrpc_mapping_1_1.xsd"
                uri="dtdsAndSchemas/j2ee_jaxrpc_mapping_1_1.xsd" />
            <uri
                name="http://www.ibm.com/webservices/xsd/j2ee_web_services_1_1.xsd"
                uri="dtdsAndSchemas/j2ee_web_services_1_1.xsd" />
            <uri
                name="http://www.ibm.com/webservices/xsd/j2ee_web_services_client_1_1.xsd"
                uri="dtdsAndSchemas/j2ee_web_services_client_1_1.xsd" />


            <uri
                name="http://java.sun.com/xml/ns/javaee/javaee_5.xsd"
                uri="dtdsAndSchemas/javaee_5.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/javaee_6.xsd"
                uri="dtdsAndSchemas/javaee_6.xsd" />


            <uri
                name="http://java.sun.com/xml/ns/javaee/javaee_web_services_1_2.xsd"
                uri="dtdsAndSchemas/javaee_web_services_1_2.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/javaee_web_services_1_3.xsd"
                uri="dtdsAndSchemas/javaee_web_services_1_3.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/javaee_web_services_client_1_2.xsd"
                uri="dtdsAndSchemas/javaee_web_services_client_1_2.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/javaee_web_services_client_1_3.xsd"
                uri="dtdsAndSchemas/javaee_web_services_client_1_3.xsd" />

            <uri
                name="http://java.sun.com/xml/ns/j2ee/jsp_2_0.xsd"
                uri="dtdsAndSchemas/jsp_2_0.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/jsp_2_1.xsd"
                uri="dtdsAndSchemas/jsp_2_1.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/jsp_2_2.xsd"
                uri="dtdsAndSchemas/jsp_2_2.xsd" />


            <public
                publicId="-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
                uri="dtdsAndSchemas/web-app_2_2.dtd"
                webURL="http://java.sun.com/j2ee/dtds/web-app_2.2.dtd" />
            <public
                publicId="-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                uri="dtdsAndSchemas/web-app_2_3.dtd"
                webURL="http://java.sun.com/dtd/web-app_2_3.dtd" />


            <uri
                name="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
                uri="dtdsAndSchemas/web-app_2_4.xsd" />

            <uri
                name="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
                uri="dtdsAndSchemas/web-app_2_5.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
                uri="dtdsAndSchemas/web-app_3_0.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/web-common_3_0.xsd"
                uri="dtdsAndSchemas/web-common_3_0.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/web-fragment_3_0.xsd"
                uri="dtdsAndSchemas/web-fragment_3_0.xsd" />


            <public
                publicId="-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
                uri="dtdsAndSchemas/web-jsptaglibrary_1_1.dtd"
                webURL="http://java.sun.com/dtd/web-jsptaglibrary_1_1.dtd" />

            <public
                publicId="-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
                uri="dtdsAndSchemas/web-jsptaglibrary_1_2.dtd"
                webURL="http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd" />
            <uri
                name="http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
                uri="dtdsAndSchemas/web-jsptaglibrary_2_0.xsd" />
            <uri
                name="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
                uri="dtdsAndSchemas/web-jsptaglibrary_2_1.xsd" />

            <public
                publicId="-//Sun Microsystems, Inc.//DTD JavaServer Faces Config 1.0//EN"
                uri="dtdsAndSchemas/web-facesconfig_1_0.dtd"
                webURL="http://java.sun.com/dtd/web-facesconfig_1_0.dtd" />

            <public
                publicId="-//Sun Microsystems, Inc.//DTD JavaServer Faces Config 1.1//EN"
                uri="dtdsAndSchemas/web-facesconfig_1_1.dtd"
                webURL="http://java.sun.com/dtd/web-facesconfig_1_1.dtd" />

                
            <uri
                name="http://java.sun.com/xml/ns/javaee/web-facesconfig_1_2.xsd"
                uri="dtdsAndSchemas/web-facesconfig_1_2.xsd" />
                
            <uri
                name="http://java.sun.com/xml/ns/persistence/orm_1_0.xsd"
                uri="dtdsAndSchemas/orm_1_0.xsd" />
   
            <uri
                name="http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
                uri="dtdsAndSchemas/persistence_1_0.xsd" />   
                          
        </catalogContribution>

    </extension>


</plugin>
