<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="%CSS_Source_Page_Editor.name"
			icon="$nl$/icons/full/obj16/sourceEditor.gif"
			contributorClass="org.eclipse.wst.css.ui.internal.ActionContributorCSS"
			class="org.eclipse.wst.sse.ui.StructuredTextEditor"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="org.eclipse.wst.css.core.csssource.source">
			<contentTypeBinding
				contentTypeId="org.eclipse.wst.css.core.csssource" />
		</editor>
	</extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<contentOutlineConfiguration
			class="org.eclipse.wst.css.ui.views.contentoutline.CSSContentOutlineConfiguration"
			target="org.eclipse.wst.css.core.csssource" />
		<sourceViewerConfiguration
			class="org.eclipse.wst.css.ui.StructuredTextViewerConfigurationCSS"
			target="org.eclipse.wst.css.core.csssource" />
		<propertySheetConfiguration
			class="org.eclipse.wst.css.ui.views.properties.CSSPropertySheetConfiguration"
			target="org.eclipse.wst.css.core.csssource" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.wst.css.ui.internal.text.CSSDocumentRegionEdgeMatcher"
			target="org.eclipse.wst.css.core.csssource" />
		<provisionalConfiguration
			type="structuredtextfoldingprovider"
			class="org.eclipse.wst.css.ui.internal.projection.StructuredTextFoldingProviderCSS"
			target="org.eclipse.wst.css.core.csssource" />
		<provisionalConfiguration
			type="autoeditstrategy"
			class="org.eclipse.wst.css.ui.internal.autoedit.StructuredAutoEditStrategyCSS"
			target="org.eclipse.wst.css.STYLE" />
		<provisionalDefinition
			type="preferencepages"
			value="org.eclipse.wst.sse.ui.preferences.css, org.eclipse.wst.sse.ui.preferences.css.source, org.eclipse.wst.css.ui.preferences.templates, org.eclipse.wst.sse.ui.preferences.css.styles"
			target="org.eclipse.wst.css.core.csssource" />
	</extension>
	
	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.wst.css.ui.internal.registry.AdapterFactoryProviderCSS">
			<contentType id="org.eclipse.wst.css.core.csssource" />
		</adapterFactoryDescription>
	</extension>

	<extension
		point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory
			contentTypeId="org.eclipse.wst.css.core.csssource"
			class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory" />
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="%CSS_Files.name"
			category="org.eclipse.wst.html.ui.preferences.web"
			class="org.eclipse.wst.css.ui.internal.preferences.ui.CSSFilesPreferencePage"
			id="org.eclipse.wst.css.ui.preferences.css">
			<keywordReference id="org.eclipse.wst.css.ui.files"/>
		</page>
		<page
			name="%CSS_Source.name"
			category="org.eclipse.wst.css.ui.preferences.css"
			class="org.eclipse.wst.css.ui.internal.preferences.ui.CSSSourcePreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.css.source">
			<keywordReference id="org.eclipse.wst.css.ui.source"/>
		</page>
		<page
			name="%CSS_Templates.name"
			category="org.eclipse.wst.css.ui.preferences.css"
			class="org.eclipse.wst.css.ui.internal.preferences.ui.CSSTemplatePreferencePage"
			id="org.eclipse.wst.css.ui.preferences.templates">
			<keywordReference id="org.eclipse.wst.css.ui.templates"/>
		</page>
		<page
			name="%CSS_Syntax_Coloring"
			category="org.eclipse.wst.css.ui.preferences.css"
			class="org.eclipse.wst.css.ui.internal.preferences.ui.CSSSyntaxColoringPage"
			id="org.eclipse.wst.sse.ui.preferences.css.styles">
         	<keywordReference id="org.eclipse.wst.css.ui.styles"/>
		</page>
	</extension>

	<!-- CSS Content Settings Property Page -->
	<extension point="org.eclipse.ui.propertyPages">
		<page
			name="%WebContentSettings.name"
			class="org.eclipse.wst.css.ui.internal.contentproperties.ui.CSSWebContentSettingsPropertyPage"
			id="org.eclipse.wst.css.ui.internal.contentproperties.CSSWebContentSettingsPropertyPage.css">
         	<enabledWhen>
               	<and>
					<adapt type="org.eclipse.core.resources.IFile">
						<or> 
							<test 
								forcePluginActivation="true"
								property="org.eclipse.core.resources.contentTypeId"
								value="org.eclipse.wst.css.core.csssource" />
						</or>
					</adapt>
				</and> 
			</enabledWhen>
         	<keywordReference id="org.eclipse.wst.css.ui.webcontent"/>
		</page>
	</extension>

	<!-- Keywords for preference and properties pages -->
	<extension point="org.eclipse.ui.keywords">
		<keyword
			label="%preferenceKeywords.files"
			id="org.eclipse.wst.css.ui.files"/>
		<keyword
			label="%preferenceKeywords.source"
			id="org.eclipse.wst.css.ui.source"/>
		<keyword
			label="%preferenceKeywords.templates"
			id="org.eclipse.wst.css.ui.templates"/>
		<keyword
			label="%preferenceKeywords.styles"
			id="org.eclipse.wst.css.ui.styles"/>
		<keyword
			label="%preferenceKeywords.webcontent"
			id="org.eclipse.wst.css.ui.webcontent"/>
    </extension>

	<!-- Editor actionsets -->
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
			<part id="org.eclipse.wst.css.core.csssource.source"></part>
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.ui.NavigateActionSet">
			<part id="org.eclipse.wst.css.core.csssource.source"></part>
		</actionSetPartAssociation>
	</extension>

	<!-- initialize css ui preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.css.ui.internal.preferences.CSSUIPreferenceInitializer" />
	</extension>

	<!-- New CSS wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			id="org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard"
			name="%_UI_WIZARD_NAME"
			class="org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard"
			category="org.eclipse.wst.web.ui"
			icon="$nl$/icons/full/etool16/newcss_wiz.gif">
			<description>%_UI_WIZARD_CREATE_NEW_FILE</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.wst.css.core.csssource.source.RulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction">
			</action>
			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction">
			</action>
		</viewerContribution>
	</extension>

	<!-- Templates -->
	<extension point="org.eclipse.ui.editors.templates">
		<contextType
			name="%All_CSS_context_type_Extension_Element.name"
			class="org.eclipse.wst.css.ui.internal.templates.TemplateContextTypeCSS"
			id="css_all">
		</contextType>
		<contextType
			name="%CSS_New_context_type_Extension_Element.name"
			class="org.eclipse.wst.css.ui.internal.templates.TemplateContextTypeCSS"
			id="css_new">
		</contextType>
		<include
			file="templates/cssdefault-templates.xml"
			translations="$nl$/templates/cssdefault-templates.properties">
		</include>
	</extension>

	<!-- CSS editor actions -->
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.eclipse.wst.css.core.csssource.source.editorActions"
			targetID="org.eclipse.wst.css.core.csssource.source">
			<action
				id="CleanupDocument"
				label="%CleanupDocument_label"
				definitionId="org.eclipse.wst.sse.ui.cleanup.document"
				tooltip="%CleanupDocument_tooltip"
				class="org.eclipse.wst.css.ui.internal.edit.ui.CleanupActionCSSDelegate"
				actionID="CleanupDocument">
			</action>
			<action
				id="StructureSelectEnclosing"
				label="%StructureSelectEnclosing_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.enclosing"
				tooltip="%StructureSelectEnclosing_tooltip"
				class="org.eclipse.wst.css.ui.internal.selection.StructuredSelectEnclosingCSSActionDelegate"
				actionID="StructureSelectEnclosing">
			</action>
			<action
				id="StructureSelectNext"
				label="%StructureSelectNext_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.next"
				tooltip="%StructureSelectNext_tooltip"
				class="org.eclipse.wst.css.ui.internal.selection.StructuredSelectNextCSSActionDelegate"
				actionID="StructureSelectNext">
			</action>
			<action
				id="StructureSelectPrevious"
				label="%StructureSelectPrevious_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.previous"
				tooltip="%StructureSelectPrevious_tooltip"
				class="org.eclipse.wst.css.ui.internal.selection.StructuredSelectPreviousCSSActionDelegate"
				actionID="StructureSelectPrevious">
			</action>
			<action
				id="StructureSelectHistory"
				label="%StructureSelectHistory_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.last"
				tooltip="%StructureSelectHistory_tooltip"
				class="org.eclipse.wst.sse.ui.internal.selection.StructuredSelectHistoryActionDelegate"
				actionID="StructureSelectHistory">
			</action>
		</editorContribution>
        <editorContribution
            targetID="org.eclipse.wst.css.core.csssource.source"
            id="org.eclipse.wst.css.core.csssource.ruler.actions">
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
         <action
               label="%SelectRuler.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction"/>
        </editorContribution>
	</extension>
</plugin>
