<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.css.ui"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.wst.css.ui.internal.CSSUIPlugin">

   <runtime>
      <library name="csseditor.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.wst.xml.ui"/>
      <import plugin="org.eclipse.wst.sse.ui"/>
      <import plugin="org.eclipse.wst.css.core"/>
      <import plugin="org.eclipse.wst.sse.core"/>
      <import plugin="org.eclipse.wst.html.core"/>
      <import plugin="org.eclipse.wst.xml.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%CSS_Source_Page_Editor.name"
            icon="icons/sourceEditor.gif"
            extensions="css"
            contributorClass="org.eclipse.wst.css.ui.internal.ActionContributorCSS"
            class="org.eclipse.wst.css.ui.internal.StructuredTextEditorCSS"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont"
            id="org.eclipse.wst.css.ui.StructuredTextEditorCSS">
      </editor>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.extendedconfiguration">
      <configuration 
      		type="contentoutlineconfiguration"
            class="org.eclipse.wst.css.ui.views.contentoutline.CSSContentOutlineConfiguration"
            target="org.eclipse.wst.css.core.csssource"/>
      <configuration 
      		type="textviewerconfiguration"
            class="org.eclipse.wst.css.ui.StructuredTextViewerConfigurationCSS"
            target="org.eclipse.wst.css.core.csssource"/>
      <configuration 
      		type="propertysheetconfiguration"
            class="org.eclipse.wst.css.ui.views.properties.CSSPropertySheetConfiguration"
            target="org.eclipse.wst.css.core.csssource"/>
      <configuration 
      		type="characterpairmatcher"
            class="org.eclipse.wst.css.ui.text.CSSDocumentRegionEdgeMatcher"
            target="org.eclipse.wst.css.core.csssource"/>
      <configuration
      		type="structuredtextfoldingprovider"
            class="org.eclipse.wst.css.ui.internal.projection.StructuredTextFoldingProviderCSS"
            target="org.eclipse.wst.css.core.csssource"/>
      <definition 
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.css"
            target="org.eclipse.wst.css.core.csssource"/>
      <definition 
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.css.source"
            target="org.eclipse.wst.css.core.csssource"/>
      <definition 
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.css.styles"
            target="org.eclipse.wst.css.core.csssource"/>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
      <adapterFactoryDescription
            class="org.eclipse.wst.css.ui.registry.AdapterFactoryProviderCSS">
            <contentType id="org.eclipse.wst.css.core.csssource"/>
      </adapterFactoryDescription>
   </extension>
   <extension
      point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            contentTypeId="org.eclipse.wst.css.core.csssource"
            class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%CSS_Files.name"
            category="org.eclipse.wst.sse.ui.preferences"
            class="org.eclipse.wst.css.ui.preferences.ui.CSSFilesPreferencePage"
            id="org.eclipse.wst.sse.ui.preferences.css">
      </page>
      <page
            name="%CSS_Source.name"
            category="org.eclipse.wst.sse.ui.preferences.css"
            class="org.eclipse.wst.css.ui.preferences.ui.CSSSourcePreferencePage"
            id="org.eclipse.wst.sse.ui.preferences.css.source">
      </page>
      <page
            name="%CSS_Styles.name"
            category="org.eclipse.wst.sse.ui.preferences.css"
            class="org.eclipse.wst.css.ui.preferences.ui.CSSColorPage"
            id="org.eclipse.wst.sse.ui.preferences.css.styles">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            name="%WebContentSettings.name"
            nameFilter="*.css"
            class="org.eclipse.wst.css.ui.contentproperties.ui.CSSContentSettingsPropertyPage"
            id="org.eclipse.wst.css.ui.csspropertypage">
      </page>
   </extension>
<!-- Editor actionsets -->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
         <part
               id="org.eclipse.wst.css.ui.StructuredTextEditorCSS">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.NavigateActionSet">
         <part
               id="org.eclipse.wst.css.ui.StructuredTextEditorCSS">
         </part>
      </actionSetPartAssociation>
   </extension>
	<!-- initialize css ui preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
	   <initializer class="org.eclipse.wst.css.ui.internal.preferences.CSSUIPreferenceInitializer"/>
	</extension>
	
	<!-- New CSS wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard"
			name="%_UI_WIZARD_NAME"
			class="org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard"
			category="org.eclipse.wst.web.ui"
			icon="icons/full/ctool16/newcssfile_wiz.gif">
			<description>%_UI_WIZARD_CREATE_NEW_FILE</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>

</plugin>
