<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.eclipse.wst.jsdt.web.support.jsp.JSDTStructuredTextViewerConfigurationJSP"
			target="org.eclipse.jst.jsp.core.jspsource.source" />
		<provisionalConfiguration
			type="contentassistprocessor"
			class="org.eclipse.wst.jsdt.web.ui.internal.contentassist.JSDTContentAssistant"
			target="org.eclipse.jst.jsp.SCRIPT.JAVASCRIPT" />
		<documentationTextHover
			class="org.eclipse.wst.jsdt.web.ui.internal.taginfo.JSDTHoverProcessor"
			target="org.eclipse.jst.jsp.SCRIPT.JAVASCRIPT" />
		<provisionalConfiguration
			type="org.eclipse.wst.sse.ui.internal.search.FindOccurrencesProcessor"
			class="org.eclipse.wst.jsdt.web.ui.internal.java.search.JsFindOccurrencesProcessor"
			target="org.eclipse.jst.jsp.SCRIPT,org.eclipse.jst.jsp.SCRIPT.EVENTHANDLER" />
		<provisionalConfiguration
			type="slaveformattingstrategy"
			class="org.eclipse.wst.jsdt.web.ui.internal.format.FormattingStrategyJSDT"
			target="org.eclipse.jst.jsp.SCRIPT.JAVASCRIPT" />
	</extension>

	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="total"
			class="org.eclipse.wst.jsdt.web.core.internal.validation.JsValidator"
			id="org.eclipse.wst.jsdt.web.support.jsp.jssourcevalidator">
			<contentTypeIdentifier id="org.eclipse.jst.jsp.core.jspsource">
				<partitionType id="org.eclipse.wst.html.SCRIPT"></partitionType>
				<partitionType id="org.eclipse.wst.html.SCRIPT.EVENT"></partitionType>
			</contentTypeIdentifier>
		</validator>
	</extension>

	<extension
			point="org.eclipse.wst.sse.ui.completionProposal">
		<proposalComputerExtendedActivation
				id="org.eclipse.wst.jsdt.web.ui.ContentAssistProposals">
			<contentType
					id="org.eclipse.jst.jsp.core.jspsource">
				<partitionType
						autoActivationDelegate="org.eclipse.wst.jsdt.web.ui.contentassist.JSDTAutoActivationDelegate"
						id="org.eclipse.wst.html.SCRIPT">
				</partitionType>
	            <partitionType
						autoActivationDelegate="org.eclipse.wst.jsdt.web.ui.contentassist.JSDTAutoActivationDelegate"
						id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER">
				</partitionType>
			</contentType>
		</proposalComputerExtendedActivation>
	</extension>

	<extension point="org.eclipse.wst.sse.ui.characterPairing">
		<inserter class="org.eclipse.wst.jsdt.web.ui.internal.text.JsCharacterPairInserter" id="org.eclipse.wst.jsdt.web.jsp.ui.inserter">
		  <contentTypeIdentifier
		        id="org.eclipse.jst.jsp.core.jspsource"
		        partitions="org.eclipse.wst.html.SCRIPT, org.eclipse.wst.html.SCRIPT.EVENTHANDLER">
		  </contentTypeIdentifier>
		</inserter>
	</extension>
   <!--
   <extension point="org.eclipse.wst.common.project.facet.core.facets">
		<event-handler facet="jst.web" type="POST_INSTALL"  version="[2.0">
	   		<delegate class="org.eclipse.wst.jsdt.web.core.internal.project.JsNatureInstaller"/>
		</event-handler>
	
		<event-handler facet="jst.web" type="POST_UNINSTALL" version="[2.0">
			<delegate class="org.eclipse.wst.jsdt.web.core.internal.project.JsNatureUninstaller"/>
		</event-handler>
	</extension>-->
</plugin>
