<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <!-- Install Handler for web JSDT.. Pigybacks on wst.web facet-->
   <extension point="org.eclipse.wst.common.project.facet.core.facets">
   
		<event-handler facet="wst.web" type="POST_INSTALL" version="[1.0">
	   		<delegate class="org.eclipse.wst.jsdt.web.core.internal.project.JsNatureInstaller"/>
		</event-handler>
	
		<event-handler facet="wst.web" type="POST_UNINSTALL" version="[1.0">
			<delegate class="org.eclipse.wst.jsdt.web.core.internal.project.JsNatureUninstaller"/>
		</event-handler>

		<event-handler facet="jst.web" type="POST_INSTALL"  version="[2.4">
	   		<delegate class="org.eclipse.wst.jsdt.web.core.internal.project.JsNatureInstaller"/>
		</event-handler>
	
		<event-handler facet="jst.web" type="POST_UNINSTALL" version="[2.4">
			<delegate class="org.eclipse.wst.jsdt.web.core.internal.project.JsNatureUninstaller"/>
		</event-handler>

	
	</extension>
	
	   <extension id="embeded.jsNature" name="%extension.name.0" point="org.eclipse.core.resources.natures"> 
		   <runtime>          
		   	<run class="org.eclipse.wst.jsdt.web.core.internal.project.JsWebNature"/>       
		   </runtime>       
	 	   <builder id="org.eclipse.wst.jsdt.web.core.embeded.javascript"/>    
	   </extension> 
	   

	   	<!-- 
	   	Not using this at the moment, but everythings in place if we need in the future. 
	    -->  
	   
	   <extension id="embeded.javascript" name="%extension.name.1" point="org.eclipse.core.resources.builders">       
		   	<builder hasNature="true" callOnEmptyDelta="true">
		   	      
		   	<run class="org.eclipse.wst.jsdt.web.core.internal.IncrementalBuilder"/>      
		   </builder>    
	   </extension>
	
	
	
	
	
	<extension point="org.eclipse.wst.sse.core.taskscanner">
		<scanner
			id="org.eclipse.wst.jsdt.web.core.internal.tasks.JsFileTaskScanner"
			class="org.eclipse.wst.jsdt.web.core.internal.tasks.JsFileTaskScanner"
			contentTypeIds="org.eclipse.wst.html.core.htmlsource" />
	</extension>
	
	
	<extension point="org.eclipse.wst.sse.core.formatProcessors">
		<processor
			class="org.eclipse.wst.html.core.internal.format.HTMLFormatProcessorImpl"
			contentTypeId="org.eclipse.wst.html.core.htmlsource">
		</processor>
	</extension>
	

	<!--======================================================================================-->
	<!-- JSP batch validation                                       						  -->
	<!--======================================================================================-->
	<extension
		id="JsBatchValidator"
		name="JavaScript Syntax Validation"
		point="org.eclipse.wst.validation.validator">
		<validator>
			<projectNature id="org.eclipse.wst.jsdt.core.jsNature" />

			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.html">
			</filter>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.htm">
			</filter>
			
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.jsp">
			</filter>
			 

			<enablement/>

			<helper
				class="org.eclipse.wst.validation.internal.operations.WorkbenchContext">
			</helper>

			<run
				enabled="true"
				class="org.eclipse.wst.jsdt.web.core.internal.validation.JsBatchValidator">
			</run>
		</validator>
	</extension>
	
</plugin>
