<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
 		<contentOutlineConfiguration
			class="org.eclipse.wst.jsdt.web.ui.views.provisional.contentoutline.JsContentOutlineConfig"
			target="org.eclipse.wst.html.core.htmlsource.source" />	
		<sourceViewerConfiguration
			class="org.eclipse.wst.jsdt.web.ui.StructuredTextViewerConfigurationJSDT"
			target="org.eclipse.wst.html.core.htmlsource.source" />	
		<provisionalConfiguration
			type="linestyleprovider"
			class="org.eclipse.wst.jsdt.web.ui.internal.style.java.LineStyleProviderForJSDT"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
		<documentationTextHover
			class="org.eclipse.wst.jsdt.web.ui.internal.taginfo.JSDTHoverProcessor"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.wst.jsdt.web.ui.internal.text.JsDocumentRegionEdgeMatcher"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
		<provisionalConfiguration
			type="autoeditstrategy"
			class="org.eclipse.wst.jsdt.web.ui.internal.autoedit.AutoEditStrategyForJs"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
		<provisionalConfiguration
			type="org.eclipse.wst.sse.ui.internal.search.FindOccurrencesProcessor"
			class="org.eclipse.wst.jsdt.web.ui.internal.java.search.JsFindOccurrencesProcessor"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
		<provisionalConfiguration
			type="slaveformattingstrategy"
			class="org.eclipse.wst.jsdt.web.ui.internal.format.FormattingStrategyJSDT"
			target="org.eclipse.wst.html.SCRIPT" />
	</extension>		
	
	 <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector 
            class="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.JSDTHyperlinkDetector"
            id="org.eclipse.wst.jsdt.web.ui.JSDTHyperlinkDetector.SCRIPT"
            name="%hyperlinkDetector.name.0"
            targetId="org.eclipse.wst.html.SCRIPT"/>
      <hyperlinkDetector
            class="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.JSDTHyperlinkDetector"
            id="org.eclipse.wst.jsdt.web.ui.JSDTHyperlinkDetector.SCRIPT.events"
            name="%hyperlinkDetector.name.0"
            targetId="org.eclipse.wst.html.SCRIPT.EVENTHANDLER"/>  
      <hyperlinkDetector
			class="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.JSDTHyperlinkDetector"
			id="org.eclipse.wst.jsdt.web.ui.JSDTHyperlinkDetector.HTML"
			name="%hyperlinkDetector.name.0"
			targetId="org.eclipse.wst.html.core.htmlsource"/>
   </extension>
  
  
    <extension
         point="org.eclipse.ui.popupMenus">
	<!-- content outline contributions for Open Type and Open Hierarchy menu.  Menus show up in reverse order of decliration (google it). -->
      <objectContribution
            objectClass="org.eclipse.wst.jsdt.web.ui.views.contentoutline.IJavaWebNode"
            id="org.eclipse.wst.jsdt.web.ui.JavaActions">
            <!-- Declarations Search Menu -->
            <menu
                id="org.eclipse.wst.jsdt.web.declerations"
         		label="%menu.label.0"
         		path="group.search">
     		 	<separator name="declerations"/>
         </menu>
         <action
               label="%action.label.0"          
               tooltip="%action.tooltip.0"
               menubarPath="org.eclipse.wst.jsdt.web.declerations/declerations"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesInWorkingSetAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindDeclarationsInWorkingSetAction">
         </action>  
         <action
               label="%action.label.1"          
               tooltip="%action.tooltip.1"
               menubarPath="org.eclipse.wst.jsdt.web.declerations/declerations"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindDeclarationsInHierarchyAction">
         </action> 
          <action
               label="%action.label.2"          
               tooltip="%action.tooltip.2"
               menubarPath="org.eclipse.wst.jsdt.web.declerations/declerations"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindDeclarationsInProjectAction">
         </action>
         
         <action
               label="%action.label.3"
               tooltip="%action.tooltip.3"
               menubarPath="org.eclipse.wst.jsdt.web.declerations/declerations"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindDeclarationsAction">
         </action>   
            
            <!-- Refrences Search menu -->
          <menu
                id="org.eclipse.wst.jsdt.web.references"
         		label="%menu.label.1"
         		path="group.search">
     		 	<separator name="references"/>
         </menu>
         <action
               label="%action.label.4"          
               tooltip="%action.tooltip.4"
               menubarPath="org.eclipse.wst.jsdt.web.references/references"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesInWorkingSetAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindReferencesInWorkingSetAction">
         </action>  
         <action
               label="%action.label.5"          
               tooltip="%action.tooltip.5"
               menubarPath="org.eclipse.wst.jsdt.web.references/references"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindReferencesInHierarchyAction">
         </action> 
          <action
               label="%action.label.6"          
               tooltip="%action.tooltip.6"
               menubarPath="org.eclipse.wst.jsdt.web.references/references"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindReferencesInProjectAction">
         </action>
         
         <action
               label="%action.label.7"
               tooltip="%action.tooltip.7"
               menubarPath="org.eclipse.wst.jsdt.web.references/references"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindReferencesAction">
         </action>   
         <!-- Source and Refactoring Menu's -->
          <menu
                id="org.eclipse.wst.jsdt.web.refactor"
         		label="%menu.label.2"
         		path="group.generate">
     		 	<separator name="refactor"/>
         </menu>

         <menu
                id="org.eclipse.wst.jsdt.web.source"
         		label="%menu.label.3"
         		path="group.generate">
     		 	<separator name="source"/>
         </menu>
         <!-- Source Actions -->
		 <action
               label="%action.label.8"          
               tooltip="%action.tooltip.8"
               menubarPath="org.eclipse.wst.jsdt.web.source/source"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.AddJavaDocStubAction"
               enablesFor="*"
               id="org.eclipse.wst.jsdt.web.ui.generate.element.comment">
         </action>
         <!-- Refactor Actions -->
         <action
               label="%action.label.9"          
               tooltip="%action.tooltip.9"
               menubarPath="org.eclipse.wst.jsdt.web.refactor/refactor"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.SourceActionsAction"
               enablesFor="*"
               id="org.eclipse.wst.jsdt.web.ui.change.function.signature">
         </action>
         <action
               label="%action.label.10"          
               tooltip="%action.tooltip.10"
               menubarPath="org.eclipse.wst.jsdt.web.refactor/refactor"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.SourceActionsAction"
               enablesFor="*"
               id="org.eclipse.wst.jsdt.web.ui.Move">
         </action>
         <action
               label="%action.label.11"          
               tooltip="%action.tooltip.11"
               menubarPath="org.eclipse.wst.jsdt.web.refactor/refactor"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.SourceActionsAction"
               enablesFor="*"
               id="org.eclipse.wst.jsdt.web.ui.rename">
         </action>
         
         
         <!-- Edit  (cut copy paste etc.. -->
          <action
               label="%action.label.12"          
               tooltip="%action.tooltip.12"
               menubarPath="group.edit"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.StandardEditorActionsAction"
               enablesFor="*"
               id="org.eclipse.wst.jsdt.web.ui.delete">
         </action>
        
         <action
               label="%action.label.13"          
               tooltip="%action.tooltip.13"
                     menubarPath="group.edit"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.StandardEditorActionsAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.web.ui.paste.after">
         </action>
          <action
               label="%action.label.14"          
               tooltip="%action.tooltip.14"
                     menubarPath="group.edit"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.StandardEditorActionsAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.web.ui.paste.before">
         </action>
         <action
               label="%action.label.15"          
               tooltip="%action.tooltip.15"
                     menubarPath="group.edit"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.StandardEditorActionsAction"
               enablesFor="*"
               id="org.eclipse.wst.jsdt.web.ui.copy">
         </action>

         <action
               label="%action.label.16"          
               tooltip="%action.tooltip.16"
               menubarPath="group.edit"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.StandardEditorActionsAction"
               enablesFor="*"
               id="org.eclipse.wst.jsdt.web.ui.cut">
         </action>         
         
         <!-- Show in Script Explorer, History and Navigator -->       
         <menu
                id="org.eclipse.wst.jsdt.web.showin"
         		label="%menu.label.4"
         		path="group.show">
     		 	<separator name="showin"/>
         </menu>  
         <action
               label="%action.label.17"          
               tooltip="%action.tooltip.17"
               menubarPath="org.eclipse.wst.jsdt.web.showin/showin"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.ShowInNavigatorAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.ShowInNavigatorViewAction">
         </action>
         <!-- History not working well -->
         <!--
         <action
               label="History"          
               tooltip="Show In History"
               menubarPath="org.eclipse.wst.jsdt.web.showin/showin"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.ShowHistoryAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.internal.ui.callhierarchy.OpenCallHierarchyAction">
         </action> 
         -->
          <action
               label="%action.label.18"          
               tooltip="%action.tooltip.18"
               menubarPath="org.eclipse.wst.jsdt.web.showin/showin"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.ShowInScriptExplorerAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.ShowInScriptExplorer">
         </action>
         
         <!-- Open Call and Type Hierarchies -->
          <action
               label="%action.label.19"          
               tooltip="%action.tooltip.19"
             menubarPath="group.show"
             style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.OpenCallHierarchyAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.internal.ui.callhierarchy.OpenCallHierarchyAction">
         </action>
         <action
               label="%action.label.20"
               tooltip="%action.tooltip.20"
   			menubarPath="group.show"
   			style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.OpenTypeHierarchy"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.OpenTypeHierarchyAction">
         </action>
       </objectContribution> 
		
	</extension>
	
  
	<!-- ====================================================================================== -->
	<!-- source validation for JSP															  -->
	<!--======================================================================================-->
	
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="total"
			class="org.eclipse.wst.jsdt.web.core.internal.validation.JsValidator"
			id="org.eclipse.wst.jsdt.web.jssourcevalidator">
			<contentTypeIdentifier id="org.eclipse.wst.html.core.htmlsource">
				<partitionType id="org.eclipse.wst.html.SCRIPT"/>
				<partitionType id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER"/>
			</contentTypeIdentifier>
			<contentTypeIdentifier id="org.eclipse.jst.jsp.core.jspsource">
				<partitionType id="org.eclipse.wst.html.SCRIPT"/>
				<partitionType id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER"/>
			</contentTypeIdentifier>
		</validator>
	</extension>
	
	<!--======================================================================================-->
	<!-- JSP UI Adapter factories					   						  				  -->
	<!--======================================================================================-->
	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.wst.jsdt.web.ui.internal.registry.AdapterFactoryProviderForJSDT">
			<contentType id="org.eclipse.wst.html.core.htmlsource" />
		</adapterFactoryDescription>
	</extension>

	


	<!--======================================================================================-->
	<!-- for breakpoint                                                                       -->
	<!--======================================================================================-->
	<!-- removed for now -->
	<!--
	<extension point="org.eclipse.wst.sse.ui.breakpoint">
		<breakpointContribution id="org.eclipse.wst.jsdt.web.ui.providers">
			<provider
				contentTypes="org.eclipse.wst.html.core.htmlsource"
				class="org.eclipse.wst.jsdt.web.ui.internal.breakpointproviders.JavaStratumBreakpointProvider:*html,js,htm*"
				id="org.eclipse.wst.jsdt.web.ui.internal.breakpointproviders.JavaStratumBreakpointProvider" />
		</breakpointContribution>
	</extension>
	-->
	
	
	<!-- Editor actionsets -->
	<!--
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
			<part id="org.eclipse.wst.jsdt.web.core.jspsource.source" />
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.ui.NavigateActionSet">
			<part id="org.eclipse.wst.jsdt.web.core.jspsource.source" />
		</actionSetPartAssociation>
	</extension>
	-->

	
	
	
	<!-- Keybindings for jsp source editor -->
	<!--
	<extension point="org.eclipse.ui.bindings"> -->
	    <!--  win32:  M1=CTRL, M2=SHIFT, M3=ALT -->
		<!-- rename refactor -->
		<!--
		<key
			sequence="M2+M3+R"
			contextId="org.eclipse.wst.jsdt.web.ui.structured.text.editor.jsp.scope"
			commandId="org.eclipse.wst.jsdt.ui.edit.text.java.rename.element"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
		-->
		<!-- move refactor -->
		<!--
		<key
			sequence="M2+M3+V"
			contextId="org.eclipse.wst.jsdt.web.ui.structured.text.editor.jsp.scope"
			commandId="org.eclipse.wst.jsdt.web.ui.refactor.move"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
	</extension>
	-->
	
	
	<!--======================================================================================-->
	<!-- queryParticipant to participate in java seraches                                     -->
	<!--======================================================================================-->
	<extension point="org.eclipse.wst.jsdt.ui.queryParticipants">
		<queryParticipant
			name="%queryParticipant.name.0"
			nature="org.eclipse.wst.jsdt.core.jsNature"
			class="org.eclipse.wst.jsdt.web.ui.internal.java.search.ui.JsQueryParticipant"
			id="org.eclipse.wst.jsdt.web.ui.java.search.ui.JsQueryParticipant" />

	</extension>
	
	
	<!--======================================================================================-->
	<!-- Document provider for ExternalFileEditorInput                                        -->
	<!--======================================================================================-->
	<!--
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider
			inputTypes="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.ExternalFileEditorInput"
			class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
			id="org.eclipse.wst.jsdt.web.ui.internal.ExternalFileDocumentProvider" />

	</extension>
	-->
	<!--
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.wst.jsdt.web.core.jspsource.source.RulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction" />

			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction" />

		</viewerContribution>
	</extension>
-->


<!--
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.eclipse.wst.jsdt.web.core.jspsource.source.editorActions"
			contributorClass="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
			targetID="org.eclipse.wst.html.core.htmlsource">
			<action
				id="CleanupDocument"
				label="%CleanupDocument_label"
				definitionId="org.eclipse.wst.sse.ui.cleanup.document"
				tooltip="%CleanupDocument_tooltip"
				class="org.eclipse.wst.html.ui.internal.edit.ui.CleanupActionHTMLDelegate"
				actionID="CleanupDocument">
			</action>
			<action
				id="ToggleComment"
				label="%ToggleComment_label"
				definitionId="org.eclipse.wst.sse.ui.toggle.comment"
				tooltip="%ToggleComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.ToggleCommentActionXMLDelegate"
				actionID="ToggleComment">
			</action>
			<action
				id="AddBlockComment"
				label="%AddBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.add.block.comment"
				tooltip="%AddBlockComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.AddBlockCommentActionXMLDelegate"
				actionID="AddBlockComment">
			</action>
			<action
				id="RemoveBlockComment"
				label="%RemoveBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.remove.block.comment"
				tooltip="%RemoveBlockComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.RemoveBlockCommentActionXMLDelegate"
				actionID="RemoveBlockComment">
			</action>
			<action
				id="RenameElement"
				label="%RenameElement_label"
				definitionId="org.eclipse.wst.jsdt.web.ui.refactor.rename"
				class="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPRenameElementActionDelegate"
				actionID="RenameElement">
			</action>
			<action
				id="MoveElement"
				label="%MoveElement_label"
				definitionId="org.eclipse.wst.jsdt.web.ui.refactor.move"
				class="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPMoveElementActionDelegate"
				actionID="MoveElement">
			</action>
			<action
				id="FindOccurrences"
				label="%FindOccurrences_label"
				definitionId="org.eclipse.wst.sse.ui.search.find.occurrences"
				class="org.eclipse.wst.jsdt.web.ui.internal.java.search.JsFindOccurrencesActionDelegate"
				actionID="FindOccurrences">
			</action>
			<action
				id="StructureSelectEnclosing"
				label="%StructureSelectEnclosing_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.enclosing"
				tooltip="%StructureSelectEnclosing_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectEnclosingXMLActionDelegate"
				actionID="StructureSelectEnclosing">
			</action>
			<action
				id="StructureSelectNext"
				label="%StructureSelectNext_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.next"
				tooltip="%StructureSelectNext_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectNextXMLActionDelegate"
				actionID="StructureSelectNext">
			</action>
			<action
				id="StructureSelectPrevious"
				label="%StructureSelectPrevious_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.previous"
				tooltip="%StructureSelectPrevious_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectPreviousXMLActionDelegate"
				actionID="StructureSelectPrevious">
			</action>
			<action
				id="StructureSelectHistory"
				label="%StructureSelectHistory_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.last"
				tooltip="%StructureSelectHistory_tooltip"
				class="org.eclipse.wst.sse.ui.internal.selection.StructuredSelectHistoryActionDelegate"
				actionID="StructureSelectHistory">
			</action>
		</editorContribution>
        <editorContribution
            targetID="org.eclipse.wst.html.core.htmlsource"
            id="org.eclipse.wst.jsdt.web.core.jspsource.ruler.actions">
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
         <action
               label="%SelectRuler.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction"/>
        </editorContribution>
	</extension>
	-->
		<!--======================================================================================-->
	<!-- FOR JSP/JAVA RENAME PARTICIPATION                                                    -->
	<!--======================================================================================-->
	<extension
		point="org.eclipse.ltk.core.refactoring.renameParticipants">
		<renameParticipant
			name="%renameParticipant.name.0"
			class="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPTypeRenameParticipant"
			id="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPTypeRenameParticipant">
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.wst.jsdt.core.jsNature" />
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.wst.jsdt.core.IType" />

				</with>
			</enablement>
		</renameParticipant>
		<renameParticipant
			name="%renameParticipant.name.1"
			class="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPTypeRenameParticipant"
			id="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPTypeRenameParticipant">
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.wst.jsdt.core.jsNature" />
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.wst.jsdt.web.ui.views.contentoutline.IJavaWebNode" />

				</with>
			</enablement>
		</renameParticipant>
		<renameParticipant
			name="%renameParticipant.name.2"
			class="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPMethodRenameParticipant"
			id="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPMethodRenameParticipant">
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.wst.jsdt.core.jsNature" />

					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.wst.jsdt.core.IFunction" />

				</with>
			</enablement>
		</renameParticipant>
		<renameParticipant
			name="%renameParticipant.name.3"
			class="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPMethodRenameParticipant"
			id="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPMethodRenameParticipant">
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.wst.jsdt.core.jsNature" />

					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.wst.jsdt.web.ui.views.contentoutline.IJavaWebNode" />

				</with>
			</enablement>
		</renameParticipant>

	  </extension>

	  <!--
  <extension point="org.eclipse.wst.jsdt.ui.JsGlobalScopeUIInitializer">
     <JsGlobalScopeUIInitializer
     	id="org.eclipse.wst.jsdt.launching.WebProject"
     	class="org.eclipse.wst.jsdt.web.ui.WebProjectJsGlobalScopeUIInitializer">
     </JsGlobalScopeUIInitializer>
   </extension>
-->

  	 <!--
  	 <extension
         point="org.eclipse.ui.popupMenus">
  		<objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.wst.jsdt.web.ui.jsdtSetup">
       	 <visibility>
        	<not>
	        	<or>
		            <objectState 
			            name="projectNature" 
			            value="org.eclipse.wst.jsdt.core.jsNature"/>
			        <objectState
			        	name="open"
			        	value="false"/>
	            </or>
            </not>
       	 </visibility>
         <action
            class="org.eclipse.wst.jsdt.web.ui.SetupProjectsWizzard"
            label="%action.label.21"
            menubarPath="org.eclipse.ui.projectConfigure/additions"
            enablesFor="+"
            id="org.eclipse.wst.jsdt.internal.web.ui.convertProjects">
      	</action>
   		</objectContribution>
   </extension> 
-->

  	 <!-- Uncomment for Standalone + HTML as seperate options -->
  	 <!--
  	 <extension
         point="org.eclipse.ui.popupMenus">
 		<objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.wst.jsdt.web.ui.jsdtSetup">
         <action
            label="Add Support for JavaScript in HTML"
            class="org.eclipse.wst.jsdt.web.ui.SetupProjectsWizzard"
            menubarPath="org.eclipse.wst.jsdt.ui.project.tools/group0"
            enablesFor="+"
            id="org.eclipse.wst.jsdt.web.internal.ui.convertProjects">
      	</action>
   		</objectContribution>
   </extension>  
   -->
 <extension point="org.eclipse.wst.sse.ui.completionProposal">
  <proposalCategory
      id="org.eclipse.wst.jsdt.web.ui.ContentAssistProposals"
      name="%javaScriptProposals"
      icon="icons/full/elcl16/javaassist_co.gif">
  </proposalCategory>
  <proposalComputer
      activate="true"
      categoryId="org.eclipse.wst.jsdt.web.ui.ContentAssistProposals"
      class="org.eclipse.wst.jsdt.web.ui.internal.contentassist.JSDTContentAssistant"
      id="org.eclipse.wst.jsdt.web.ui.ContentAssistProposals">
     <contentType
        id="org.eclipse.jst.jsp.core.jspsource">
      <partitionType
          id="org.eclipse.wst.html.SCRIPT">
      </partitionType>
            <partitionType
          id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER">
      </partitionType>
    </contentType>
     <contentType
        id="org.eclipse.wst.html.core.htmlsource">
      <partitionType
          id="org.eclipse.wst.html.SCRIPT">
      </partitionType>
            <partitionType
          id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER">
      </partitionType>
    </contentType>
  </proposalComputer>
</extension>
<extension point="org.eclipse.wst.sse.ui.characterPairing">
	<inserter class="org.eclipse.wst.jsdt.web.ui.internal.text.JsCharacterPairInserter" id="org.eclipse.wst.jsdt.web.ui.inserter">
  <contentTypeIdentifier
        id="org.eclipse.wst.html.core.htmlsource"
        partitions="org.eclipse.wst.html.SCRIPT, org.eclipse.wst.html.SCRIPT.EVENTHANDLER">
  </contentTypeIdentifier>
  <contentTypeIdentifier
        id="org.eclipse.jst.jsp.core.jspsource"
        partitions="org.eclipse.wst.html.SCRIPT, org.eclipse.wst.html.SCRIPT.EVENTHANDLER">
  </contentTypeIdentifier>
	</inserter>
</extension>
</plugin>
