<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	
 	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
 		<contentOutlineConfiguration
			class="org.eclipse.wst.jsdt.web.ui.views.provisional.contentoutline.JsContentOutlineConfig"
			target="org.eclipse.wst.html.core.htmlsource" />		
		<provisionalConfiguration
			type="contentassistprocessor"
			class="org.eclipse.wst.jsdt.web.ui.internal.contentassist.JSDTContentAssistant"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENT" />
		<provisionalConfiguration
			type="linestyleprovider"
			class="org.eclipse.wst.jsdt.web.ui.internal.style.java.LineStyleProviderForJSDT"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENT" />
		<provisionalConfiguration
			type="texthover"
			class="org.eclipse.wst.jsdt.web.ui.internal.taginfo.JSDTHoverProcessor"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENT" />
		<provisionalConfiguration
			type="informationpresenter"
			class="org.eclipse.wst.jsdt.web.ui.internal.taginfo.JSDTInformationProvider"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENT" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.wst.jsdt.web.ui.internal.text.JsDocumentRegionEdgeMatcher"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENT" />
		<provisionalConfiguration
			type="autoeditstrategy"
			class="org.eclipse.wst.jsdt.web.ui.internal.autoedit.AutoEditStrategyForJs"
			target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENT" />
		<provisionalConfiguration
			type="contentformater"
			class="org.eclipse.wst.jsdt.web.ui.internal.format.FormattingStrategyJSPJava"
			target="org.eclipse.wst.html.SCRIPT" />
		<provisionalConfiguration
			type="hyperlinkdetector"
			class="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.JSPJavaHyperlinkDetector"
			target="org.eclipse.wst.html.SCRIPT" />
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target
			id="org.eclipse.wst.html.SCRIPT"
			name="JavaScirpt Source">
		</target>
	</extension>
	
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target
			id="org.eclipse.wst.html.SCRIPT.EVENT"
			name="JavaScirpt Event Source">
		</target>
	</extension>
	
	 <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.JSPJavaHyperlinkDetector"
            id="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.script.JSPJavaHyperlinkDetector"
            name="Java Element HyperLink Detector"
            targetId="org.eclipse.wst.html.SCRIPT">
      </hyperlinkDetector>
      <hyperlinkDetector
            class="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.JSPJavaHyperlinkDetector"
            id="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.script.event.JSPJavaHyperlinkDetector"
            name="Java Element HyperLink Detector"
            targetId="org.eclipse.wst.html.SCRIPT.EVENT">
      </hyperlinkDetector>  
   </extension>
  
  
    <extension
         point="org.eclipse.ui.popupMenus">
	<!-- content outline contributions for Open Type and Open Hierarchy menu.  Menus show up in reverse order of decliration (google it). -->
      <objectContribution
            objectClass="org.eclipse.wst.jsdt.web.ui.actions.IJavaWebNode"
            id="org.eclipse.wst.jsdt.web.ui.JavaActions">
            <!-- Declerations Search Menu -->
            <menu
                id="org.eclipse.wst.jsdt.web.declerations"
         		label="Declerations"
         		path="group.search">
     		 	<separator name="declerations"/>
         </menu>
         <action
               label="Working Set"          
               tooltip="Working Set"
               menubarPath="org.eclipse.wst.jsdt.web.declerations/declerations"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesInWorkingSetAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindDeclarationsInWorkingSetAction">
         </action>  
         <action
               label="Hierarchy"          
               tooltip="Hierarchy"
               menubarPath="org.eclipse.wst.jsdt.web.declerations/declerations"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindDeclarationsInHierarchyAction">
         </action> 
          <action
               label="Project"          
               tooltip="Project"
               menubarPath="org.eclipse.wst.jsdt.web.declerations/declerations"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindDeclarationsInProjectAction">
         </action>
         
         <action
               label="Workspace"
               tooltip=""
               menubarPath="org.eclipse.wst.jsdt.web.declerations/declerations"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindDeclarationsAction">
         </action>   
            
            <!-- Refrences Search menu -->
          <menu
                id="org.eclipse.wst.jsdt.web.references"
         		label="References"
         		path="group.search">
     		 	<separator name="references"/>
         </menu>
         <action
               label="Working Set"          
               tooltip="Working Set"
               menubarPath="org.eclipse.wst.jsdt.web.references/references"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesInWorkingSetAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindReferencesInWorkingSetAction">
         </action>  
         <action
               label="Hierarchy"          
               tooltip="Hierarchy"
               menubarPath="org.eclipse.wst.jsdt.web.references/references"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindReferencesInHierarchyAction">
         </action> 
          <action
               label="Project"          
               tooltip="Project"
               menubarPath="org.eclipse.wst.jsdt.web.references/references"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindReferencesInProjectAction">
         </action>
         
         <action
               label="Workspace"
               tooltip=""
               menubarPath="org.eclipse.wst.jsdt.web.references/references"
               class="org.eclipse.wst.jsdt.web.ui.actions.FindReferencesAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.FindReferencesAction">
         </action>   
         
         <!-- Show in Script Explorer, History and Navigator -->       
         <menu
                id="org.eclipse.wst.jsdt.web.showin"
         		label="Show In"
         		path="group.show">
     		 	<separator name="showin"/>
         </menu>  
         <action
               label="Navigator"          
               tooltip="Show In Navigator"
               menubarPath="org.eclipse.wst.jsdt.web.showin/showin"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.ShowInNavigatorAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.ShowInNavigatorViewAction">
         </action>
         <!-- History not working well -->
         <!--
         <action
               label="History"          
               tooltip="Show In History"
               menubarPath="org.eclipse.wst.jsdt.web.showin/showin"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.ShowHistoryAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.internal.ui.callhierarchy.OpenCallHierarchyAction">
         </action> 
         -->
          <action
               label="Script Explorer"          
               tooltip="Show In Script Explorer"
               menubarPath="org.eclipse.wst.jsdt.web.showin/showin"
               style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.ShowInScriptExplorerAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.ShowInScriptExplorer">
         </action>
         
         <!-- Open Call and Type Hierarchies -->
          <action
               label="Open Call Hierarchy"          
               tooltip="Open Call Hierarchy"
             menubarPath="group.show"
             style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.OpenCallHierarchyAction"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.internal.ui.callhierarchy.OpenCallHierarchyAction">
         </action>
         <action
               label="Open Type Hierarchy"
               tooltip="Open Type Hierarchy"
   			menubarPath="group.show"
   			style="push"
               class="org.eclipse.wst.jsdt.web.ui.actions.OpenTypeHierarchy"
               enablesFor="1"
               id="org.eclipse.wst.jsdt.ui.actions.OpenTypeHierarchyAction">
         </action>
       </objectContribution> 
		
	</extension>
	
  <!-- Additional adapters for java elements.. this one is so the element will 
       be displayed properly in ui
   -->
    <!--	
   <extension point="org.eclipse.core.runtime.adapters">
		<factory 
            class="org.eclipse.wst.jsdt.web.ui.JsWebElementAdapterFactory" 
            adaptableType="org.eclipse.wst.jsdt.core.IJavaElement">
            <adapter type="org.eclipse.ui.views.properties.IPropertySourceProvider"/>
   		</factory>
   </extension>
   -->
   
<!--
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.eclipse.wst.jsdt.web.ui.StructuredTextViewerConfigurationJSP"
			target="org.eclipse.wst.html.core.htmlsource" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.wst.jsdt.web.ui.internal.text.JsDocumentRegionEdgeMatcher"
			target="org.eclipse.wst.html.core.htmlsource" />
		<provisionalConfiguration
			type="sourceeditingtexttools"
			class="org.eclipse.wst.jsdt.web.ui.internal.editor.JsSourceEditingTextTools"
			target="org.eclipse.wst.html.core.htmlsource" />
		<provisionalConfiguration
			type="structuredtextfoldingprovider"
			class="org.eclipse.wst.jsdt.web.ui.internal.projection.StructuredTextFoldingProviderJSP"
			target="org.eclipse.wst.html.core.htmlsource" />
		<provisionalDefinition
			type="preferencepages"
			value="org.eclipse.wst.sse.ui.preferences.jsp, org.eclipse.wst.sse.ui.preferences.jsp.source, org.eclipse.wst.sse.ui.preferences.jsp.templates, org.eclipse.wst.sse.ui.preferences.jsp.styles"
			target="org.eclipse.wst.html.core.htmlsource" />
		<provisionalDefinition
			type="showintarget"
			value="org.eclipse.wst.jsdt.ui.PackageExplorer"
			target="org.eclipse.wst.html.core.htmlsource" />
	</extension>
	-->
	<!-- ====================================================================================== -->
	<!-- source validation for JSP															  -->
	<!--======================================================================================-->
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="total"
			class="org.eclipse.wst.jsdt.web.core.internal.validation.JsValidator"
			id="org.eclipse.wst.jsdt.web.jspsourcevalidator">
			<contentTypeIdentifier id="org.eclipse.wst.html.core.htmlsource">
				<partitionType id="org.eclipse.wst.html.SCRIPT"></partitionType>
				<partitionType id="org.eclipse.wst.html.SCRIPT.EVENT"></partitionType>
			</contentTypeIdentifier>
		</validator>

		
	</extension>
	<!--
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="partial"
			class="org.eclipse.wst.html.internal.validation.HTMLPartValidator"
			id="org.eclipse.wst.jsdt.web.HTMLPartValidator">
			<contentTypeIdentifier id="org.eclipse.wst.html.core.htmlsource">
				<partitionType id="org.eclipse.wst.html.HTML_DECLARATION"></partitionType>
				<partitionType id="org.eclipse.wst.html.HTML_COMMENT"></partitionType>
				<partitionType id="org.eclipse.wst.html.HTML_DEFAULT"></partitionType>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"></partitionType>
			</contentTypeIdentifier>
		</validator>
	</extension>
	-->
	<!--======================================================================================-->
	<!-- JSP UI Adapter factories					   						  				  -->
	<!--======================================================================================-->
	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.wst.jsdt.web.ui.internal.registry.AdapterFactoryProviderForJSDT">
			<contentType id="org.eclipse.wst.html.core.htmlsource" />
		</adapterFactoryDescription>
	</extension>
<!--======================================================================================-->
<!-- JSP PREFERENCE PAGES                                                                 -->
<!--======================================================================================-->
	<!-- Use the JSDTs prefrence pages -->
	<!--
	<extension point="org.eclipse.ui.preferencePages">

		
		<page
			name="%JSP_Files.name"
			category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
			class="org.eclipse.wst.jsdt.web.ui.internal.preferences.ui.JSPFilesPreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.jsp">
			<keywordReference id="org.eclipse.wst.jsp.ui.files"/>
		</page>
		<page
			name="%JSP_Source.name"
			category="org.eclipse.wst.sse.ui.preferences.jsp"
			class="org.eclipse.wst.jsdt.web.ui.internal.preferences.ui.JSPSourcePreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.jsp.source">
		</page>
		<page
			name="%JSP_Templates.name"
			category="org.eclipse.wst.sse.ui.preferences.jsp"
			class="org.eclipse.wst.jsdt.web.ui.internal.preferences.ui.JSPTemplatePreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.jsp.templates">
			<keywordReference id="org.eclipse.wst.jsp.ui.templates"/>
		</page>
		<page
			name="%JSP_Styles.name"
			category="org.eclipse.wst.sse.ui.preferences.jsp"
			class="org.eclipse.wst.jsdt.web.ui.internal.preferences.ui.JSPColorPage"
			id="org.eclipse.wst.sse.ui.preferences.jsp.styles">
			<keywordReference id="org.eclipse.wst.jsp.ui.styles"/>
		</page>
	</extension>
	-->
	<!-- Keywords for preference and properties pages -->
	<!--
	<extension point="org.eclipse.ui.keywords">
		<keyword
			label="%preferenceKeywords.files"
			id="org.eclipse.wst.jsp.ui.files"/>
		<keyword
			label="%preferenceKeywords.templates"
			id="org.eclipse.wst.jsp.ui.templates"/>
		<keyword
			label="%preferenceKeywords.styles"
			id="org.eclipse.wst.jsp.ui.styles"/>
		<keyword
			label="%preferenceKeywords.fragments"
			id="org.eclipse.wst.jsp.ui.fragments"/>
    </extension>
	-->
	


	<!--======================================================================================-->
	<!-- for breakpoint                                                                       -->
	<!--======================================================================================-->
	<!-- removed for now -->
	<!--
	<extension point="org.eclipse.wst.sse.ui.breakpoint">
		<breakpointContribution id="org.eclipse.wst.jsdt.web.ui.providers">
			<provider
				contentTypes="org.eclipse.wst.html.core.htmlsource"
				class="org.eclipse.wst.jsdt.web.ui.internal.breakpointproviders.JavaStratumBreakpointProvider:*html,js,htm*"
				id="org.eclipse.wst.jsdt.web.ui.internal.breakpointproviders.JavaStratumBreakpointProvider" />
		</breakpointContribution>
	</extension>
	-->
	<!--======================================================================================-->
	<!-- Snippet View contributions                                                           -->
	<!--======================================================================================-->
	<!--
	<extension
		point="org.eclipse.wst.common.snippets.SnippetContributions">
		<category
			label="%JSP_Extension_Element.label"
			smallicon="icons/snippets/tag-jsp.gif"
			id="org.eclipse.wst.jsdt.web.ui.category0"
			contenttypes="org.eclipse.wst.html.core.htmlsource">
			<item
				label="%jsp_hidden_comment"
				smallicon="icons/snippets/tag-generic.gif"
				id="org.eclipse.wst.jsdt.web.ui.jsp_hidden_comment">
				<content>%jsp_hidden_comment_content</content>
			</item>
			<item
				label="%jsp_scriptlet"
				smallicon="icons/snippets/jspscr.gif"
				id="org.eclipse.wst.jsdt.web.ui.jsp_scriptlet">
				<content>%jsp_scr_content</content>
			</item>
			<item
				label="%jsp_expression"
				smallicon="icons/snippets/jspexp.gif"
				id="org.eclipse.wst.jsdt.web.ui.jsp_expression">
				<content>%jsp_expression_content</content>
			</item>
			<item
				label="%jsp_declaration"
				smallicon="icons/snippets/jspdecl.gif"
				id="org.eclipse.wst.jsdt.web.ui.jsp_declaration">
				<content>%jsp_declaration_content</content>
			</item>
			<item
				label="%jsp_include_directive"
				smallicon="icons/snippets/jspincl.gif"
				id="org.eclipse.wst.jsdt.web.ui.jsp_include_directive">
				<content>%jsp_include_directive_content</content>
			</item>
			<item
				label="%jsp_page_directive"
				id="org.eclipse.wst.jsdt.web.ui.jsp_page_directive">
				<content>%jsp_page_directive_content</content>
			</item>
			<item
				label="%jsp_taglib_directive"
				smallicon="icons/snippets/jsptaglib.gif"
				id="org.eclipse.wst.jsdt.web.ui.jsp_taglib_directive">
				<content>%jsp_taglib_directive_content</content>
				<variable
					description="%jsp_taglib_directive_uri"
					id="uri" />

				<variable
					default="mylib"
					description="%jsp_taglib_directive_prefix"
					id="prefix" />

			</item>
		</category>
	</extension>
	-->
	
	<!-- Editor actionsets -->
	<!--
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
			<part id="org.eclipse.wst.jsdt.web.core.jspsource.source" />
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.ui.NavigateActionSet">
			<part id="org.eclipse.wst.jsdt.web.core.jspsource.source" />
		</actionSetPartAssociation>
	</extension>
	-->

	
	
	
	<!-- Keybindings for jsp source editor -->
	
	<extension point="org.eclipse.ui.bindings"> -->
	    <!--  win32:  M1=CTRL, M2=SHIFT, M3=ALT -->
		<!-- rename refactor -->
		
		<key
			sequence="M2+M3+R"
			contextId="org.eclipse.wst.jsdt.web.ui.structured.text.editor.jsp.scope"
			commandId="org.eclipse.wst.jsdt.web.ui.refactor.rename"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
		
		<!-- move refactor -->
		
		<key
			sequence="M2+M3+V"
			contextId="org.eclipse.wst.jsdt.web.ui.structured.text.editor.jsp.scope"
			commandId="org.eclipse.wst.jsdt.web.ui.refactor.move"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
	</extension>
	
	
	<!--======================================================================================-->
	<!-- Templates                                                                            -->
	<!--======================================================================================-->
	<!--
	<extension point="org.eclipse.ui.editors.templates">
		<contextType
			name="%All_JSP_context_type_Extension_Element.name"
			class="org.eclipse.wst.jsdt.web.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_all" />

		<contextType
			name="%JSP_New_context_type_Extension_Element.name"
			class="org.eclipse.wst.jsdt.web.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_new" />

		<contextType
			name="%JSP_Tag_context_type_Extension_Element.name"
			class="org.eclipse.wst.jsdt.web.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_tag" />

		<contextType
			name="%JSP_Attribute_context_type_Extension_Element.name"
			class="org.eclipse.wst.jsdt.web.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_attribute" />

		<contextType
			name="%JSP_Attribute_value_context_type_Extension_Element.name"
			class="org.eclipse.wst.jsdt.web.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_attribute_value" />

		<include
			file="templates/jspdefault-templates.xml"
			translations="$nl$/templates/jspdefault-templates.properties" />

	</extension>
	-->
	<!--======================================================================================-->
	<!-- queryParticipant to participate in java seraches                                     -->
	<!--======================================================================================-->
	<extension point="org.eclipse.wst.jsdt.ui.queryParticipants">
		<queryParticipant
			name="%JSP_Query_Participant_Extension_Element.name"
			nature="org.eclipse.wst.jsdt.core.jsNature"
			class="org.eclipse.wst.jsdt.web.ui.internal.java.search.ui.JSPQueryParticipant"
			id="org.eclipse.wst.jsdt.web.ui.java.search.ui.JSPQueryParticipant" />

	</extension>
	<!-- initialize xml ui preferences -->
	<!--
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.jsdt.web.ui.internal.preferences.JSPUIPreferenceInitializer" />
	</extension>
	-->
	
	<!--======================================================================================-->
	<!-- Document provider for ExternalFileEditorInput                                        -->
	<!--======================================================================================-->
	<!--
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider
			inputTypes="org.eclipse.wst.jsdt.web.ui.internal.hyperlink.ExternalFileEditorInput"
			class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
			id="org.eclipse.wst.jsdt.web.ui.internal.ExternalFileDocumentProvider" />

	</extension>
	-->
	<!-- New JSP wizard -->
	<!--
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			id="org.eclipse.wst.jsdt.web.ui.internal.wizard.NewJSPWizard"
			name="%_UI_WIZARD_NAME"
			class="org.eclipse.wst.jsdt.web.ui.internal.wizard.NewJSPWizard"
			category="org.eclipse.wst.web.ui"
			icon="$nl$/icons/full/etool16/newjsp_wiz.gif">
			<description>%_UI_WIZARD_CREATE_NEW_FILE</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>
	-->
	<!-- Add new JSP wizard to J2EE Project Navigator -->
	<!--
	<extension
		id="org.eclipse.wst.jsdt.web.commonWizard.newJSP"
		point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard
        menuGroupId="org.eclipse.wst.web.ui"
        type="new"
        wizardId="org.eclipse.wst.jsdt.web.ui.internal.wizard.NewJSPWizard">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IResource">
						<test
							property="org.eclipse.wst.common.project.facet.core.projectFacet"
							value="jst.web"/>
					</adapt>
				</or>
			</enablement>
		</commonWizard>
	</extension>
	-->
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.wst.jsdt.web.core.jspsource.source.RulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction" />

			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction" />

		</viewerContribution>
	</extension>

	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.eclipse.wst.jsdt.web.core.jspsource.source.editorActions"
			contributorClass="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
			targetID="org.eclipse.wst.html.core.htmlsource">
			<action
				id="CleanupDocument"
				label="%CleanupDocument_label"
				definitionId="org.eclipse.wst.sse.ui.cleanup.document"
				tooltip="%CleanupDocument_tooltip"
				class="org.eclipse.wst.html.ui.internal.edit.ui.CleanupActionHTMLDelegate"
				actionID="CleanupDocument">
			</action>
			<action
				id="ToggleComment"
				label="%ToggleComment_label"
				definitionId="org.eclipse.wst.sse.ui.toggle.comment"
				tooltip="%ToggleComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.ToggleCommentActionXMLDelegate"
				actionID="ToggleComment">
			</action>
			<action
				id="AddBlockComment"
				label="%AddBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.add.block.comment"
				tooltip="%AddBlockComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.AddBlockCommentActionXMLDelegate"
				actionID="AddBlockComment">
			</action>
			<action
				id="RemoveBlockComment"
				label="%RemoveBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.remove.block.comment"
				tooltip="%RemoveBlockComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.RemoveBlockCommentActionXMLDelegate"
				actionID="RemoveBlockComment">
			</action>
			<action
				id="RenameElement"
				label="%RenameElement_label"
				definitionId="org.eclipse.wst.jsdt.web.ui.refactor.rename"
				class="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPRenameElementActionDelegate"
				actionID="RenameElement">
			</action>
			<action
				id="MoveElement"
				label="%MoveElement_label"
				definitionId="org.eclipse.wst.jsdt.web.ui.refactor.move"
				class="org.eclipse.wst.jsdt.web.ui.internal.java.refactoring.JSPMoveElementActionDelegate"
				actionID="MoveElement">
			</action>
			<action
				id="FindOccurrences"
				label="%FindOccurrences_label"
				definitionId="org.eclipse.wst.sse.ui.search.find.occurrences"
				class="org.eclipse.wst.jsdt.web.ui.internal.java.search.JSPFindOccurrencesActionDelegate"
				actionID="FindOccurrences">
			</action>
			<action
				id="StructureSelectEnclosing"
				label="%StructureSelectEnclosing_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.enclosing"
				tooltip="%StructureSelectEnclosing_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectEnclosingXMLActionDelegate"
				actionID="StructureSelectEnclosing">
			</action>
			<action
				id="StructureSelectNext"
				label="%StructureSelectNext_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.next"
				tooltip="%StructureSelectNext_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectNextXMLActionDelegate"
				actionID="StructureSelectNext">
			</action>
			<action
				id="StructureSelectPrevious"
				label="%StructureSelectPrevious_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.previous"
				tooltip="%StructureSelectPrevious_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectPreviousXMLActionDelegate"
				actionID="StructureSelectPrevious">
			</action>
			<action
				id="StructureSelectHistory"
				label="%StructureSelectHistory_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.last"
				tooltip="%StructureSelectHistory_tooltip"
				class="org.eclipse.wst.sse.ui.internal.selection.StructuredSelectHistoryActionDelegate"
				actionID="StructureSelectHistory">
			</action>
		</editorContribution>
        <editorContribution
            targetID="org.eclipse.wst.html.core.htmlsource"
            id="org.eclipse.wst.jsdt.web.core.jspsource.ruler.actions">
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
         <action
               label="%SelectRuler.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction"/>
        </editorContribution>
	</extension>
	<!-- JSP Fragment Property Page -->
	<!--
	<extension point="org.eclipse.ui.propertyPages">
		
		<page
			name="%JSPFragmentContentSettings.name"
			class="org.eclipse.wst.jsdt.web.ui.internal.contentproperties.ui.ProjectJSPFContentSettingsPropertyPage"
			id="org.eclipse.wst.jsdt.web.ui.internal.contentproperties.ProjectJSPFContentSettingsPropertyPage">
         	<enabledWhen>
               	<and>
					<adapt type="org.eclipse.core.resources.IProject">
						<or> 
							<test 
								forcePluginActivation="true"
								property="org.eclipse.wst.common.project.facet.core.projectFacet"
								value="jst.web" />
						</or>
					</adapt>
				</and> 
			</enabledWhen>
			<keywordReference id="org.eclipse.wst.jsp.ui.fragments"/>
		</page>
		<page
			name="%JSPFragmentContentSettings.name"
			class="org.eclipse.wst.jsdt.web.ui.internal.contentproperties.ui.JSPFContentSettingsPropertyPage"
			id="org.eclipse.wst.jsdt.web.ui.internal.contentproperties.JSPFContentSettingsPropertyPage">
         	<enabledWhen>
               	<and>
					<adapt type="org.eclipse.core.resources.IFile">
						<or> 
							<test 
								forcePluginActivation="true"
								property="org.eclipse.core.resources.contentTypeId"
								value="org.eclipse.wst.jsdt.web.core.jspfragmentsource" />
							<test 
								forcePluginActivation="true"
								property="org.eclipse.core.resources.contentTypeId"
								value="org.eclipse.wst.jsdt.web.core.cssjspfragmentsource" />
						</or>
					</adapt>
				</and> 
			</enabledWhen>
			<keywordReference id="org.eclipse.wst.jsp.ui.fragments"/>
		</page>
	</extension>
	-->	
	<!--  jsp-for-css editor configurations -->		
	<!--
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<contentOutlineConfiguration
			class="org.eclipse.wst.css.ui.views.contentoutline.CSSContentOutlineConfiguration"
			target="org.eclipse.wst.jsdt.web.core.cssjspsource" />
		<sourceViewerConfiguration
			class="org.eclipse.wst.css.ui.StructuredTextViewerConfigurationCSS"
			target="org.eclipse.wst.jsdt.web.core.cssjspsource" />
		<propertySheetConfiguration
			class="org.eclipse.wst.jsdt.web.css.ui.internal.views.properties.JSPedCSSPropertySheetConfiguration"
			target="org.eclipse.wst.jsdt.web.core.cssjspsource" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.wst.css.ui.internal.text.CSSDocumentRegionEdgeMatcher"
			target="org.eclipse.wst.jsdt.web.core.cssjspsource" />
		<provisionalConfiguration
			type="structuredtextfoldingprovider"
			class="org.eclipse.wst.css.ui.internal.projection.StructuredTextFoldingProviderCSS"
			target="org.eclipse.wst.jsdt.web.core.cssjspsource" />
		<provisionalDefinition
			type="preferencepages"
			value="org.eclipse.wst.sse.ui.preferences.css, org.eclipse.wst.sse.ui.preferences.css.source, org.eclipse.wst.css.ui.preferences.templates, org.eclipse.wst.sse.ui.preferences.css.styles"
			target="org.eclipse.wst.jsdt.web.core.cssjspsource" />
	</extension>
		<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.wst.jsdt.web.css.ui.internal.registry.AdapterFactoryProviderJSPedCSS">
			<contentType id="org.eclipse.wst.jsdt.web.core.cssjspsource" />
		</adapterFactoryDescription>
	</extension>
	-->
</plugin>
