<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<!-- class="org.eclipse.wst.sse.ui.StructuredTextEditor" -->
		<editor
			name="%DTD_Source_Page_Editor.name"
			icon="$nl$/icons/full/obj16/DTDFile.gif"
			contributorClass="org.eclipse.wst.dtd.ui.internal.editor.ActionContributorDTD"
			class="org.eclipse.wst.dtd.ui.internal.DTDEditor"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="org.eclipse.wst.dtd.core.dtdsource.source">
			<contentTypeBinding
				contentTypeId="org.eclipse.wst.dtd.core.dtdsource" />
		</editor>
	</extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<contentOutlineConfiguration
			class="org.eclipse.wst.dtd.ui.views.contentoutline.DTDContentOutlineConfiguration"
			target="org.eclipse.wst.dtd.core.dtdsource" />
		<sourceViewerConfiguration
			class="org.eclipse.wst.dtd.ui.StructuredTextViewerConfigurationDTD"
			target="org.eclipse.wst.dtd.core.dtdsource" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.wst.dtd.ui.internal.text.DTDDocumentRegionEdgeMatcher"
			target="org.eclipse.wst.dtd.core.dtdsource" />
		<provisionalConfiguration
			type="foldingstrategy"
			class="org.eclipse.wst.dtd.ui.internal.projection.DTDFoldingStrategy"
			target="org.eclipse.wst.dtd.core.dtdsource" />
		<provisionalDefinition
			type="preferencepages"
			value="org.eclipse.wst.dtd.ui.preferences.dtd, org.eclipse.wst.sse.ui.preferences.dtd.templates, org.eclipse.wst.sse.ui.preferences.dtd.styles"
			target="org.eclipse.wst.dtd.core.dtdsource" />
		<!-- provide syntax highlighting for DTD subset within XML -->
		<provisionalConfiguration
			type="linestyleprovider"
			class="org.eclipse.wst.dtd.ui.internal.style.LineStyleProviderForDTDSubSet"
			target="org.eclipse.wst.xml.dtd.internal_subset" />
		<provisionalDefinition
			type="spellingregions"
			value="org.eclipse.wst.dtd.core.internal.util.parser.DTDRegionTypes.COMMENT_CONTENT"
			target="org.eclipse.wst.dtd.core.dtdsource" />
	</extension>

	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.eclipse.wst.dtd.core.dtdsource.source.editorActions"
			targetID="org.eclipse.wst.dtd.core.dtdsource.source">
			<action
				id="StructureSelectEnclosing"
				label="%StructureSelectEnclosing_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.enclosing"
				tooltip="%StructureSelectEnclosing_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectEnclosingXMLActionDelegate"
				actionID="StructureSelectEnclosing">
			</action>
			<action
				id="StructureSelectNext"
				label="%StructureSelectNext_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.next"
				tooltip="%StructureSelectNext_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectNextXMLActionDelegate"
				actionID="StructureSelectNext">
			</action>
			<action
				id="StructureSelectPrevious"
				label="%StructureSelectPrevious_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.previous"
				tooltip="%StructureSelectPrevious_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectPreviousXMLActionDelegate"
				actionID="StructureSelectPrevious">
			</action>
			<action
				id="StructureSelectHistory"
				label="%StructureSelectHistory_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.last"
				tooltip="%StructureSelectHistory_tooltip"
				class="org.eclipse.wst.sse.ui.internal.selection.StructuredSelectHistoryActionDelegate"
				actionID="StructureSelectHistory">
			</action>
		</editorContribution>
        <editorContribution
            targetID="org.eclipse.wst.dtd.core.dtdsource.source"
            id="org.eclipse.wst.dtd.core.dtdsource.ruler.actions">
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
         <action
               label="%SelectRuler.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction"/>
        </editorContribution>
	</extension>

	<!-- use a specific annotation model with FileBuffers -->
	<extension
		point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory
			contentTypeId="org.eclipse.wst.dtd.core.dtdsource"
			class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory" />
	</extension>

	<!-- Register the UI adapter factory provider -->
	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.wst.dtd.ui.internal.registry.AdapterFactoryProviderForDTD">
			<contentType id="org.eclipse.wst.dtd.core.dtdsource" />
		</adapterFactoryDescription>
	</extension>

	<!-- Editor actionsets -->
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
			<part id="org.eclipse.wst.dtd.core.dtdsource.source" />
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.ui.NavigateActionSet">
			<part id="org.eclipse.wst.dtd.core.dtdsource.source" />
		</actionSetPartAssociation>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="%_UI_LABEL_DTD_FILES"
			category="org.eclipse.wst.xml.ui.preferences.xml"
			class="org.eclipse.wst.dtd.ui.internal.preferences.DTDFilesPreferencePage"
			id="org.eclipse.wst.dtd.ui.preferences.dtd">
         	<keywordReference id="org.eclipse.wst.dtd.ui.files"/>
		</page>
		<page
			name="%DTD_Templates.name"
			category="org.eclipse.wst.dtd.ui.preferences.dtd"
			class="org.eclipse.wst.dtd.ui.internal.preferences.DTDTemplatePreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.dtd.templates">
         	<keywordReference id="org.eclipse.wst.dtd.ui.templates"/>
		</page>
		<page
			name="%DTD_Syntax_Coloring"
			category="org.eclipse.wst.dtd.ui.preferences.dtd"
			class="org.eclipse.wst.dtd.ui.internal.preferences.DTDSyntaxColoringPage"
			id="org.eclipse.wst.sse.ui.preferences.dtd.styles">
         	<keywordReference id="org.eclipse.wst.dtd.ui.styles"/>
		</page>
		<page
			name="%Editor.name"
			category="org.eclipse.wst.dtd.ui.preferences.dtd"
			class="org.eclipse.wst.dtd.ui.internal.preferences.DTDEditorPreferencePage"
			id="org.eclipse.wst.dtd.ui.preferences.editor">
		</page>
	</extension>
	
	<!-- Keywords for preference and properties pages -->
	<extension point="org.eclipse.ui.keywords">
		<keyword
			label="%preferenceKeywords.files"
			id="org.eclipse.wst.dtd.ui.files"/>
		<keyword
			label="%preferenceKeywords.templates"
			id="org.eclipse.wst.dtd.ui.templates"/>
		<keyword
			label="%preferenceKeywords.styles"
			id="org.eclipse.wst.dtd.ui.styles"/>
    </extension>

	<!-- New DTD wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			id="org.eclipse.wst.dtd.ui.internal.wizard.NewDTDWizard"
			name="%_UI_WIZARD_NEW_DTD"
			class="org.eclipse.wst.dtd.ui.internal.wizard.NewDTDWizard"
			category="org.eclipse.wst.XMLCategory"
			icon="$nl$/icons/full/etool16/newdtd_wiz.gif">
			<description>%_UI_CREATE_NEW_DTD_FILE</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>

	<!-- initialize DTD ui preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.dtd.ui.internal.preferences.DTDUIPreferenceInitializer" />
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.wst.dtd.core.dtdsource.source.RulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction">
			</action>
			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction">
			</action>
		</viewerContribution>
	</extension>

	<!-- Templates -->
	<extension point="org.eclipse.ui.editors.templates">
		<contextType
			name="%DTD_New_context_type_Extension_Element.name"
			class="org.eclipse.wst.dtd.ui.internal.templates.TemplateContextTypeDTD"
			id="dtd_new">
		</contextType>
  <include
        file="templates/dtddefault-templates.xml"
        translations="$nl$/templates/dtddefault-templates.properties">
  </include>
	</extension>

   <extension
         id="org.eclipse.wst.dtd.ui.propertyContributor"
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.wst.dtd.core.dtdsource.source"
            labelProvider="org.eclipse.wst.dtd.ui.internal.properties.section.DTDSectionLabelProvider"
            typeMapper="org.eclipse.wst.dtd.ui.internal.properties.section.DTDTypeMapper">
         <propertyCategory
               category="dtd.ui.general"/>
         <propertyCategory
               category="dtd.ui.other"/>
         <propertyCategory
               category="dtd.ui.attributes"/>
         <propertyCategory
               category="dtd.ui.documentation"/>
      </propertyContributor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.wst.dtd.core.dtdsource.source">
         <propertyTab
               label="%_UI_LABEL_GENERAL"
               category="dtd.ui.general"
               id="org.eclipse.wst.dtd.ui.general"/>
         <propertyTab
               afterTab="org.eclipse.wst.dtd.ui.general"
               category="dtd.ui.attributes"
               id="org.eclipse.wst.dtd.ui.attributes"
               label="%_UI_LABEL_ATTRIBUTES"/>
         <propertyTab
               afterTab="org.eclipse.wst.dtd.ui.attributes"
               category="dtd.ui.other"
               id="org.eclipse.wst.dtd.ui.other"
               label="%_UI_LABEL_OTHER"/>
         <propertyTab
               afterTab="org.eclipse.wst.dtd.ui.attributes"
               category="dtd.ui.documentation"
               id="org.eclipse.wst.dtd.ui.documentation"
               label="%_UI_LABEL_DOCUMENTATION"/>
      </propertyTabs>
   </extension>   

<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
   <propertySections contributorId="org.eclipse.wst.dtd.core.dtdsource.source">
	 <propertySection
        class="org.eclipse.wst.dtd.ui.internal.properties.section.NameSection"
        enablesFor="1"
        id="org.eclipse.wst.dtd.ui.internal.properties.section.NameSection"
        tab="org.eclipse.wst.dtd.ui.general">
		    <input type="org.eclipse.wst.dtd.core.internal.Element"/>
		    <input type="org.eclipse.wst.dtd.core.internal.Attribute"/>
		    <input type="org.eclipse.wst.dtd.core.internal.AttributeList"/>
		    <input type="org.eclipse.wst.dtd.core.internal.Notation"/>
	 </propertySection>
	 
	 <propertySection tab="org.eclipse.wst.dtd.ui.general" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.AttributeDefaultSection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.AttributeDefaultSection">
		    <input type="org.eclipse.wst.dtd.core.internal.Attribute"/>
	 </propertySection>
	 	
	 <propertySection tab="org.eclipse.wst.dtd.ui.general" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.CommentSection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.CommentSection">
		    <input type="org.eclipse.wst.dtd.core.internal.Comment"/>
	 </propertySection>
	 	
	 <propertySection tab="org.eclipse.wst.dtd.ui.general" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.ContentModelGroupSection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.ContentModelGroupSection">
	    	<input type="org.eclipse.wst.dtd.core.internal.CMGroupNode"/>
	 </propertySection>
	 	
	 <propertySection
        class="org.eclipse.wst.dtd.ui.internal.properties.section.ContentModelNameSection"
        filter="org.eclipse.wst.dtd.ui.internal.properties.section.ContentModelNameFilter"
        id="org.eclipse.wst.dtd.ui.internal.properties.section.ContentModelNameSection"
        enablesFor="1"
        tab="org.eclipse.wst.dtd.ui.general">
		    <input type="org.eclipse.wst.dtd.core.internal.CMBasicNode"/>
	 </propertySection>
	 	
	 <propertySection tab="org.eclipse.wst.dtd.ui.other" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.ContentModelTypeSection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.ContentModelTypeSection">
		    <input type="org.eclipse.wst.dtd.core.internal.CMBasicNode"/>
		    <input type="org.eclipse.wst.dtd.core.internal.CMGroupNode"/>
	 </propertySection>
	 	
	 <propertySection tab="org.eclipse.wst.dtd.ui.documentation" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.DocumentSection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.DocumentSection">
		    <input type="org.eclipse.wst.dtd.core.internal.Element"/>
		    <input type="org.eclipse.wst.dtd.core.internal.Entity"/>
		    <input type="org.eclipse.wst.dtd.core.internal.AttributeList"/>
		    <input type="org.eclipse.wst.dtd.core.internal.Notation"/>
	 </propertySection>
	 	
	 <propertySection tab="org.eclipse.wst.dtd.ui.general" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.EmptySection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.EmptySection">
		    <input type="org.eclipse.wst.dtd.core.internal.ParameterEntityReference"/>
		 	<input type="org.eclipse.wst.sse.core.internal.provisional.IndexedRegion"/>
	 </propertySection>
	 	
	 <!--	
	 <propertySection tab="org.eclipse.wst.dtd.ui.other" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.EntityTypeSection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.EntityTypeSection">
		    <input type="org.eclipse.wst.dtd.core.internal.Entity"/>
	 </propertySection>

	 <propertySection tab="org.eclipse.wst.dtd.ui.attributes" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.EntityValueSection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.EntityValueSection">
		    <input type="org.eclipse.wst.dtd.core.internal.Entity"/>
	 </propertySection>
	 -->
	 	
	 <propertySection tab="org.eclipse.wst.dtd.ui.general" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.NewEntitySection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.NewEntitySection">
		    <input type="org.eclipse.wst.dtd.core.internal.DTDFile"/>
		    <input type="org.eclipse.wst.dtd.core.internal.Entity"/>
	 </propertySection>
	 	
	 <propertySection tab="org.eclipse.wst.dtd.ui.general" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.NotationSection"  
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.NotationSection">
		    <input type="org.eclipse.wst.dtd.core.internal.Notation"/>
	 </propertySection>
	 	
	 <propertySection tab="org.eclipse.wst.dtd.ui.attributes" 
        enablesFor="1"
        class="org.eclipse.wst.dtd.ui.internal.properties.section.OccurrenceSection"  
        filter="org.eclipse.wst.dtd.ui.internal.properties.section.OccurrenceFilter"
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.OccurrenceSection">
		    <input type="org.eclipse.wst.dtd.core.internal.CMBasicNode"/>
		    <input type="org.eclipse.wst.dtd.core.internal.CMRepeatableNode"/>
	 </propertySection>

	 <propertySection tab="org.eclipse.wst.dtd.ui.attributes" 
        class="org.eclipse.wst.dtd.ui.internal.properties.section.TypeSection"  
        enablesFor="1"
	 	id="org.eclipse.wst.dtd.ui.internal.properties.section.TypeSection">
		    <input type="org.eclipse.wst.dtd.core.internal.Attribute"/>
	 </propertySection>
  </propertySections>
</extension>

	<!-- Define theme -->
	<extension
		point="org.eclipse.ui.themes">
		<theme
			id="org.eclipse.ui.ide.systemDefault">
			<colorOverride
				id="dtdDefault"
				value="COLOR_LIST_FOREGROUND">
			</colorOverride>
			<colorOverride
				id="dtdTag"
				value="COLOR_LIST_FOREGROUND">
			</colorOverride>
			<colorOverride
				id="dtdTagName"
				value="COLOR_LIST_FOREGROUND">
			</colorOverride>
			<colorOverride
				id="dtdComment"
				value="COLOR_LIST_SELECTION">
			</colorOverride>
			<colorOverride
				id="dtdKeyword"
				value="COLOR_LIST_FOREGROUND">
			</colorOverride>
			<colorOverride
				id="dtdString"
				value="COLOR_LIST_FOREGROUND">
			</colorOverride>
			<colorOverride
				id="dtdData"
				value="COLOR_LIST_FOREGROUND">
			</colorOverride>
			<colorOverride
				id="dtdSymbol"
				value="COLOR_LIST_FOREGROUND">
			</colorOverride>
		</theme>
		<colorDefinition
			id="dtdDefault"
			isEditable="false"
			label="%Colors.dtdDefault"
			value="0, 0, 0">
		</colorDefinition>
		<colorDefinition
			id="dtdTag"
			isEditable="false"
			label="%Colors.dtdTag"
			value="63, 63, 191">
		</colorDefinition>
		<colorDefinition
			id="dtdTagName"
			isEditable="false"
			label="%Colors.dtdTagName"
			value="63, 63, 191">
		</colorDefinition>
		<colorDefinition
			id="dtdComment"
			isEditable="false"
			label="%Colors.dtdComment"
			value="127, 127, 127">
		</colorDefinition>
		<colorDefinition
			id="dtdKeyword"
			isEditable="false"
			label="%Colors.dtdKeyword"
			value="128, 0, 0">
		</colorDefinition>
		<colorDefinition
			id="dtdString"
			isEditable="false"
			label="%Colors.dtdString"
			value="63, 159, 95">
		</colorDefinition>
		<colorDefinition
			id="dtdData"
			isEditable="false"
			label="%Colors.dtdData"
			value="191, 95, 95">
		</colorDefinition>
		<colorDefinition
			id="dtdSymbol"
			isEditable="false"
			label="%Colors.dtdSymbol"
			value="128, 0, 0">
		</colorDefinition>
	</extension>

 <extension point="org.eclipse.ui.menus">
	<menuContribution locationURI="toolbar:org.eclipse.wst.xml.ui.perspective.NewFileToolBar">
        <command
              commandId="org.eclipse.ui.newWizard"
              icon="icons/full/etool16/newdtd_wiz.gif"
              id="org.eclipse.wst.dtd.ui.newDTDFile"
              style="push"
              tooltip="%DTD_New_File.tooltip">
             <parameter name="newWizardId" value="org.eclipse.wst.dtd.ui.internal.wizard.NewDTDWizard"/>
          <visibleWhen checkEnabled="false">
			<with variable="activeWorkbenchWindow.activePerspective">
				<equals value="org.eclipse.wst.xml.ui.perspective"/>
			</with>
           </visibleWhen>         
        </command>
     </menuContribution>
  </extension>

 <extension point="org.eclipse.ui.navigator.navigatorContent">
	<commonWizard type="new" wizardId="org.eclipse.wst.dtd.ui.internal.wizard.NewDTDWizard" menuGroupId="org.eclipse.wst.xml.new.menuGroup">
		<enablement>
			<instanceof value="org.eclipse.core.resources.IResource"/>
			<with variable="activeWorkbenchWindow.activePerspective">
			   <equals value="org.eclipse.wst.xml.ui.perspective"/>
			</with>
		</enablement>
	</commonWizard>
 </extension>
</plugin>
