<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.dtd.ui"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.wst.dtd.ui.internal.DTDUIPlugin">

   <runtime>
      <library name="dtdui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.core.runtime" />
		<import plugin="org.eclipse.jface.text"/>
		<import plugin="org.eclipse.ui" />
		<import plugin="org.eclipse.ui.editors"/>
		<import plugin="org.eclipse.ui.ide" />
		<import plugin="org.eclipse.ui.views"/>
		<import plugin="org.eclipse.ui.workbench"/>
		<import plugin="org.eclipse.ui.workbench.texteditor"/>
		<import plugin="org.eclipse.wst.common.ui"/>
		<import plugin="org.eclipse.wst.common.uriresolver"/>
		<import plugin="org.eclipse.wst.dtd.core"/>
		<import plugin="org.eclipse.wst.sse.core"/>
		<import plugin="org.eclipse.wst.sse.ui"/>
		<import plugin="org.eclipse.wst.validation"/>
		<import plugin="org.eclipse.wst.xml.core"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%DTD_Source_Page_Editor.name"
            icon="icons/DTDFile.gif"
            contributorClass="org.eclipse.wst.dtd.ui.internal.editor.ActionContributorDTD"
			class="org.eclipse.wst.dtd.ui.internal.editor.StructuredTextEditorDTD"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="org.eclipse.wst.dtd.core.dtdsource.source">
      <contentTypeBinding contentTypeId="org.eclipse.wst.dtd.core.dtdsource" />
	  </editor>	
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.extendedconfiguration"> 
      <configuration
      		type="contentoutlineconfiguration"
            class="org.eclipse.wst.dtd.ui.internal.views.contentoutline.DTDContentOutlineConfiguration"
            target="org.eclipse.wst.dtd.core.dtdsource"/>
      <configuration
      		type="textviewerconfiguration"
            class="org.eclipse.wst.dtd.ui.internal.provisional.StructuredTextViewerConfigurationDTD"
            target="org.eclipse.wst.dtd.core.dtdsource"/>
      <configuration
      		type="characterpairmatcher"
            class="org.eclipse.wst.dtd.ui.internal.text.DTDDocumentRegionEdgeMatcher"
            target="org.eclipse.wst.dtd.core.dtdsource"/>
      <configuration
      		type="structuredtextfoldingprovider"
            class="org.eclipse.wst.dtd.ui.internal.projection.StructuredTextFoldingProviderDTD"
            target="org.eclipse.wst.dtd.core.dtdsource"/>
      <definition
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.dtd"
            target="org.eclipse.wst.dtd.core.dtdsource"/>
      <definition
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.dtd.styles"
            target="org.eclipse.wst.dtd.core.dtdsource"/>
      <!-- provide syntax highlighting for DTD subset within XML -->
      <configuration
      		type="linestyleprovider"
      		class="org.eclipse.wst.dtd.ui.internal.style.LineStyleProviderForDTDSubSet"
      		target="org.eclipse.wst.xml.dtd.internal_subset"/>
   </extension>

	<!-- use a specific annotation model with FileBuffers -->
   <extension
      point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            contentTypeId="org.eclipse.wst.dtd.core.dtdsource"
            class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory"/>
   </extension>

	<!-- Register the UI adapter factory provider -->
   <extension
         point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
      <adapterFactoryDescription
            class="org.eclipse.wst.dtd.ui.internal.registry.AdapterFactoryProviderForDTD">
            <contentType id="org.eclipse.wst.dtd.core.dtdsource"/>
      </adapterFactoryDescription>
   </extension>

	<!-- Editor actionsets -->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
         <part id="org.eclipse.wst.dtd.core.dtdsource.source"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation targetID="org.eclipse.ui.NavigateActionSet">
         <part id="org.eclipse.wst.dtd.core.dtdsource.source"/>
      </actionSetPartAssociation>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%_UI_LABEL_DTD_FILES"
            category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
            class="org.eclipse.wst.dtd.ui.internal.preferences.DTDFilesPreferencePage"
            id="org.eclipse.wst.sse.ui.preferences.dtd">
      </page>
      <page
            name="%_UI_LABEL_DTD_STYLES"
            category="org.eclipse.wst.sse.ui.preferences.dtd"
			class="org.eclipse.wst.dtd.ui.internal.preferences.DTDColorPage"
            id="org.eclipse.wst.sse.ui.preferences.dtd.styles">
      </page>
   </extension>

	<!-- New DTD wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard id="org.eclipse.wst.dtd.ui.internal.wizard.NewDTDWizard" name="%_UI_WIZARD_NEW_DTD" class="org.eclipse.wst.dtd.ui.internal.wizard.NewDTDWizard" category="org.eclipse.wst.XMLCategory" icon="icons/DTDFile.gif">
			<description>%_UI_CREATE_NEW_DTD_FILE</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>
  
	<!-- initialize DTD ui preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
	   <initializer class="org.eclipse.wst.dtd.ui.internal.preferences.DTDUIPreferenceInitializer"/>
	</extension>
	
	<extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.wst.dtd.core.dtdsource.RulerContext"
            id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction">
			</action>
			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction">
			</action>
		</viewerContribution>
	</extension>
</plugin>
