<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="%JSP_Source_Page_Editor.name"
			icon="icons//full/obj16/sourceEditor.gif"
			extensions="jsp, jsf, jspf, jspx, tag, tagf"
			contributorClass="org.eclipse.jst.jsp.ui.internal.editor.ActionContributorJSP"
			class="org.eclipse.jst.jsp.ui.internal.editor.StructuredTextEditorJSP"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="org.eclipse.jst.jsp.core.jspsource.source">
			<contentTypeBinding
				contentTypeId="org.eclipse.jst.jsp.core.jspsource" />
		</editor>
	</extension>

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.eclipse.jst.jsp.ui.internal.provisional.StructuredTextViewerConfigurationJSP"
			target="org.eclipse.jst.jsp.core.jspsource" />
		<contentOutlineConfiguration
			class="org.eclipse.jst.jsp.ui.internal.views.contentoutline.JSPContentOutlineConfiguration"
			target="org.eclipse.jst.jsp.core.jspsource" />
		<propertySheetConfiguration
			class="org.eclipse.wst.xml.ui.views.properties.XMLPropertySheetConfiguration"
			target="org.eclipse.jst.jsp.core.jspsource" />
		<provisionalConfiguration
			type="sourceeditingtexttools"
			class="org.eclipse.jst.jsp.ui.internal.editor.JSPSourceEditingTextTools"
			target="org.eclipse.jst.jsp.core.jspsource" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.jst.jsp.ui.internal.text.JSPDocumentRegionEdgeMatcher"
			target="org.eclipse.jst.jsp.core.jspsource" />
		<provisionalConfiguration
			type="structuredtextfoldingprovider"
			class="org.eclipse.jst.jsp.ui.internal.projection.StructuredTextFoldingProviderJSP"
			target="org.eclipse.jst.jsp.core.jspsource" />
		<provisionalDefinition
			type="preferencepages"
			value="org.eclipse.wst.sse.ui.preferences.jsp, org.eclipse.wst.sse.ui.preferences.jsp.source, org.eclipse.wst.sse.ui.preferences.jsp.templates, org.eclipse.wst.sse.ui.preferences.jsp.styles"
			target="org.eclipse.jst.jsp.core.jspsource" />
		<provisionalDefinition
			type="showintarget"
			value="org.eclipse.jdt.ui.PackageExplorer"
			target="org.eclipse.jst.jsp.core.jspsource" />
	</extension>

	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.jst.jsp.ui.internal.registry.AdapterFactoryProviderForJSP">
			<contentType id="org.eclipse.jst.jsp.core.jspsource" />
		</adapterFactoryDescription>
	</extension>

	<extension
		point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory
			contentTypeId="org.eclipse.jst.jsp.core.jspsource"
			class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory" />
	</extension>

	<extension point="org.eclipse.ui.preferencePages">

		<!--======================================================================================-->
		<!-- JSP PREFERENCE PAGES                                                                 -->
		<!--======================================================================================-->
		<page
			name="%JSP_Files.name"
			category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
			class="org.eclipse.jst.jsp.ui.internal.preferences.ui.JSPFilesPreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.jsp" />

		<page
			name="%JSP_Source.name"
			category="org.eclipse.wst.sse.ui.preferences.jsp"
			class="org.eclipse.jst.jsp.ui.internal.preferences.ui.JSPSourcePreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.jsp.source" />

		<page
			name="%JSP_Templates.name"
			category="org.eclipse.wst.sse.ui.preferences.jsp"
			class="org.eclipse.jst.jsp.ui.internal.preferences.ui.JSPTemplatePreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.jsp.templates" />

		<page
			name="%JSP_Styles.name"
			category="org.eclipse.wst.sse.ui.preferences.jsp"
			class="org.eclipse.jst.jsp.ui.internal.preferences.ui.JSPColorPage"
			id="org.eclipse.wst.sse.ui.preferences.jsp.styles" />

	</extension>

	<!--======================================================================================-->
	<!-- FOR JSP/JAVA RENAME PARTICIPATION                                                    -->
	<!--======================================================================================-->
	<extension
		point="org.eclipse.ltk.core.refactoring.renameParticipants">
		<renameParticipant
			name="%JSP_Type_Rename_Participant_Extension_Element.name"
			class="org.eclipse.jst.jsp.ui.internal.java.refactoring.JSPTypeRenameParticipant"
			id="org.eclipse.jst.jsp.ui.java.refactoring.JSPTypeRenameParticipant">
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature" />

					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IType" />

				</with>
			</enablement>
		</renameParticipant>

		<renameParticipant
			name="%JSP_Method_Rename_Participant_Extension_Element.name"
			class="org.eclipse.jst.jsp.ui.internal.java.refactoring.JSPMethodRenameParticipant"
			id="org.eclipse.jst.jsp.ui.java.refactoring.JSPMethodRenameParticipant">
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature" />

					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IMethod" />

				</with>
			</enablement>
		</renameParticipant>

		<renameParticipant
			name="%JSP_Package_Rename_Participant_Extension_Element.name"
			class="org.eclipse.jst.jsp.ui.internal.java.refactoring.JSPPackageRenameParticipant"
			id="org.eclipse.jst.jsp.ui.java.refactoring.JSPPackageRenameParticipant">
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature" />

					</iterate>
				</with>
				<with variable="element">
					<instanceof
						value="org.eclipse.jdt.core.IPackageFragment" />

				</with>
			</enablement>
		</renameParticipant>
	</extension>

	<!--======================================================================================-->
	<!-- FOR JSP/JAVA MOVE PARTICIPATION                                                      -->
	<!--======================================================================================-->
	<extension
		point="org.eclipse.ltk.core.refactoring.moveParticipants">

		<moveParticipant
			id="org.eclipse.jst.jsp.ui.java.refactoring.JSPTypeMoveParticipant"
			name="%JSP_Type_Move_Participant_Extension_Element.name"
			class="org.eclipse.jst.jsp.ui.internal.java.refactoring.JSPTypeMoveParticipant">
			<enablement>
				<with variable="affectedNatures">
					<iterate operator="or">
						<equals value="org.eclipse.jdt.core.javanature" />
					</iterate>
				</with>
				<with variable="element">
					<instanceof value="org.eclipse.jdt.core.IType" />

				</with>
			</enablement>
		</moveParticipant>
	</extension>

	<!--======================================================================================-->
	<!-- for breakpoint                                                                       -->
	<!--======================================================================================-->
	<extension point="org.eclipse.wst.sse.ui.breakpoint">
		<breakpointContribution id="org.eclipse.jst.jsp.ui.providers">
			<!-- 
				<provider
				extensions="jsp, jspf, jsf"
				class="org.eclipse.jst.jsp.ui.internal.breakpointproviders.JavaStratumBreakpointProvider"
				id="org.eclipse.jst.jsp.ui.internal.breakpointproviders.JavaStratumBreakpointProvider">
				</provider>
			-->
			<provider
				contentTypes="org.eclipse.jst.jsp.core.jspsource"
				class="org.eclipse.jst.jsp.ui.internal.breakpointproviders.JavaStratumBreakpointProvider:*jsp,jsp_servlet.__*"
				id="org.eclipse.jst.jsp.ui.internal.breakpointproviders.JavaStratumBreakpointProvider" />
		</breakpointContribution>
	</extension>

	<!--======================================================================================-->
	<!-- Snippet View contributions                                                           -->
	<!--======================================================================================-->
	<extension
		point="org.eclipse.wst.common.snippets.SnippetContributions">
		<category
			label="%JSP_Extension_Element.label"
			icon="icons/snippets/tag-jsp.gif"
			id="org.eclipse.jst.jsp.ui.category0"
			contenttypes="org.eclipse.jst.jsp.core.jspsource">
			<item
				label="%jsp_hidden_comment"
				icon="icons/snippets/tag-generic.gif"
				id="org.eclipse.jst.jsp.ui.jsp_hidden_comment">
				<content>%jsp_hidden_comment_content</content>
			</item>
			<item
				label="%jsp_scriptlet"
				icon="icons/snippets/jspscr.gif"
				id="org.eclipse.jst.jsp.ui.jsp_scriptlet">
				<content>%jsp_scr_content</content>
			</item>
			<item
				label="%jsp_expression"
				icon="icons/snippets/jspexp.gif"
				id="org.eclipse.jst.jsp.ui.jsp_expression">
				<content>%jsp_expression_content</content>
			</item>
			<item
				label="%jsp_declaration"
				icon="icons/snippets/jspdecl.gif"
				id="org.eclipse.jst.jsp.ui.jsp_declaration">
				<content>%jsp_declaration_content</content>
			</item>
			<item
				label="%jsp_include_directive"
				icon="icons/snippets/jspincl.gif"
				id="org.eclipse.jst.jsp.ui.jsp_include_directive">
				<content>%jsp_include_directive_content</content>
			</item>
			<item
				label="%jsp_page_directive"
				id="org.eclipse.jst.jsp.ui.jsp_page_directive">
				<content>%jsp_page_directive_content</content>
			</item>
			<item
				label="%jsp_taglib_directive"
				icon="icons/snippets/jsptaglib.gif"
				id="org.eclipse.jst.jsp.ui.jsp_taglib_directive">
				<content>%jsp_taglib_directive_content</content>
				<variable
					description="%jsp_taglib_directive_uri"
					id="uri" />

				<variable
					default="mylib"
					description="%jsp_taglib_directive_prefix"
					id="prefix" />

			</item>
		</category>
	</extension>

	<!-- Editor actionsets -->
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
			<part id="org.eclipse.jst.jsp.core.jspsource.source" />
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.ui.NavigateActionSet">
			<part id="org.eclipse.jst.jsp.core.jspsource.source" />
		</actionSetPartAssociation>
	</extension>

	<!--======================================================================================-->
	<!-- JSP Editor specific actions                                                          -->
	<!--======================================================================================-->
	<extension point="org.eclipse.ui.commands">
		<scope
			name="%scope.structured.text.editor.jsp.name"
			parent="org.eclipse.ui.textEditorScope"
			description="%scope.structured.text.editor.jsp.description"
			id="org.eclipse.jst.jsp.ui.structured.text.editor.jsp.scope" />

		<!-- dmw 6/6 removed from 'scope'      parentId="org.eclipse.ui.textEditorScope" -->
		<!-- rename refactor -->
		<command
			name="%command.jsp.refactor.rename.name"
			description="%command.jsp.refactor.rename.description"
			category="org.eclipse.ui.category.edit"
			id="org.eclipse.jst.jsp.ui.refactor.rename" />

		<keyBinding
			string="Alt+Shift+R"
			scope="org.eclipse.jst.jsp.ui.structured.text.editor.jsp.scope"
			command="org.eclipse.jst.jsp.ui.refactor.rename"
			configuration="org.eclipse.ui.defaultAcceleratorConfiguration" />

		<!-- move refactor -->
		<command
			name="%command.jsp.refactor.move.name"
			description="%command.jsp.refactor.move.description"
			category="org.eclipse.ui.category.edit"
			id="org.eclipse.jst.jsp.ui.refactor.move" />

		<keyBinding
			string="Alt+Shift+V"
			scope="org.eclipse.jst.jsp.ui.structured.text.editor.jsp.scope"
			command="org.eclipse.jst.jsp.ui.refactor.move"
			configuration="org.eclipse.ui.defaultAcceleratorConfiguration" />

	</extension>

	<!--======================================================================================-->
	<!-- Templates                                                                            -->
	<!--======================================================================================-->
	<extension point="org.eclipse.ui.editors.templates">
		<contextType
			name="%All_JSP_context_type_Extension_Element.name"
			class="org.eclipse.jst.jsp.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_all" />

		<contextType
			name="%JSP_New_context_type_Extension_Element.name"
			class="org.eclipse.jst.jsp.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_new" />

		<contextType
			name="%JSP_Tag_context_type_Extension_Element.name"
			class="org.eclipse.jst.jsp.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_tag" />

		<contextType
			name="%JSP_Attribute_context_type_Extension_Element.name"
			class="org.eclipse.jst.jsp.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_attribute" />

		<contextType
			name="%JSP_Attribute_value_context_type_Extension_Element.name"
			class="org.eclipse.jst.jsp.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_attribute_value" />

		<include
			file="templates/jspdefault-templates.xml"
			translations="$nl$/templates/jspdefault-templates.properties" />

	</extension>

	<!--======================================================================================-->
	<!-- queryParticipant to participate in java seraches                                     -->
	<!--======================================================================================-->
	<extension point="org.eclipse.jdt.ui.queryParticipants">
		<queryParticipant
			name="%JSP_Query_Participant_Extension_Element.name"
			nature="org.eclipse.jdt.core.javanature"
			class="org.eclipse.jst.jsp.ui.internal.java.search.ui.JSPQueryParticipant"
			id="org.eclipse.jst.jsp.ui.java.search.ui.JSPQueryParticipant" />

	</extension>
	<!-- initialize xml ui preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.jst.jsp.ui.internal.preferences.JSPUIPreferenceInitializer" />
	</extension>

	<!--======================================================================================-->
	<!-- Document provider for ExternalFileEditorInput                                        -->
	<!--======================================================================================-->
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider
			inputTypes="org.eclipse.jst.jsp.ui.internal.hyperlink.ExternalFileEditorInput"
			class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
			id="org.eclipse.jst.jsp.ui.internal.ExternalFileDocumentProvider" />

	</extension>

	<!-- New JSP wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			id="org.eclipse.jst.jsp.ui.internal.wizard.NewJSPWizard"
			name="%_UI_WIZARD_NAME"
			class="org.eclipse.jst.jsp.ui.internal.wizard.NewJSPWizard"
			category="org.eclipse.wst.web.ui"
			icon="icons/full/etool16/newjsp_wiz.gif">
			<description>%_UI_WIZARD_CREATE_NEW_FILE</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>

	<!-- Add new JSP wizard to J2EE Project Navigator -->
	<extension
		id="org.eclipse.jst.jsp.commonWizard.newJSP"
		point="org.eclipse.wst.common.navigator.workbench.commonWizard">
		<commonWizard
			type="new"
			wizardId="org.eclipse.jst.jsp.ui.internal.wizard.NewJSPWizard">
			<enablement>
				<or>
					<objectClass
						name="org.eclipse.core.resources.IProject" />

					<objectClass
						name="org.eclipse.core.resources.IFolder" />

					<objectClass
						name="org.eclipse.core.resources.IFile" />

				</or>
			</enablement>
		</commonWizard>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.jst.jsp.core.jspsource.source.RulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction" />

			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction" />

		</viewerContribution>
	</extension>


</plugin>
