<?json version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="$nl$/icons/full/obj16/bower-16.png"
            id="org.eclipse.wst.json.bower.ui.bower"
            label="%Bower_File_decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
         <and>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
            <objectState name="contentTypeId"
                 value="org.eclipse.wst.json.bower.core.bowersource"/>
         </and>
      </enablement>
      </decorator>
	</extension>

    <extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="$nl$/icons/full/obj16/bower-16.png"
            id="org.eclipse.wst.json.bower.ui.bowerrc"
            label="%Bowerrc_File_decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
         <and>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
            <objectState name="contentTypeId"
                 value="org.eclipse.wst.json.bower.core.bowerrcsource"/>
         </and>
      </enablement>
      </decorator>
	</extension>
   
   <!-- Custom completion for dependency key/value for 
   		"dependencies" and "devDependencies" JSON node of bower.json-->
	<!-- extension
	       point="org.eclipse.wst.json.ui.completionProposalCollectors">
	    <completionProposalCollector 
	    	paths="$.dependencies,$.devDependencies"
	    	targets="key,value"
	    	class="org.eclipse.wst.json.bower.ui.internal.contentassist.BowerDependencyCompletionProposalCollector"
	    	contentTypeId="org.eclipse.wst.json.bower.core.bowersource" />	    		   
	</extension -->
	   
</plugin>
