@charset "ISO-8859-1";

@import url("../sample2.css") projection, tv;

BODY {
    color : black;
    text-align : center;
    background-color : rgb( 181, 253, 211 )
}

UL {
    color : black;
    list-style-image : url("images/l_a01.gif");
    list-style-position : outside
}

H1 {
    color : white;
    text-align : center;
    border-left-color : #996666;
    padding-top : 0px;
    padding-right : 1cm;
    padding-bottom : 2;
    padding-left : 3em;
    border-style : solid;
    border-top-width : 4.5ex;
    border-right-width : 5in;
    border-bottom-width : 6.02mm;
    border-left-width : 7
}

H1:before {
    content : "Chapter " counter( chapter ) ". ";
    counter-increment : chapter;
    counter-reset : section
}

IMG:before {content : attr(alt)}

DIV.sample {
    font-family : "Robson Celtic", sans-serif;
    position : absolute;
    left : 833.5pc;
    top : 90%;
    width : 100pt;
    height : 110.777px;
    clip : rect( -5px, 80px, 130px, 0px )
}

@font-face {
    font-family : "Swiss 721";
    src : url("swiss721t.pfr") format("intellifont"), local("Excelsior Cyrilllic Upright");
    unicode-range : U+??, U+100-220, U+4??;
    font-weight : 100, 200, 300, 400, 500
}

@page :left {margin-left : 4cm}

@media aural {
    H1, H2, H3, H4, H5, H6 {
        voice-family : paul, child;
        stress : 20;
        richness : 90;
        cue-before : url("ping.au")
    }
    P.heidi {
        azimuth : center-left;
        elevation : 12.3deg;
        pause : 30ms 1.6s
    }
    P.peter {
        azimuth : right;
        elevation : -0.36rad;
        pitch : 210Hz
    }
    P.goat {
        volume : x-soft;
        elevation : 66grad;
        pitch : 0.17kHz
    }
}

