@charset "ISO-8859-1";

@import url("hoge.css");
@import /* comment */ url(hoge.css);
@import "hoge.css" /* comment */;
@IMPORT 'hoge.css' media1,media2 , media3;

@media print {

}

@page :left {

}

h1, h2, h3 {  font-family: sans-serif  }
h1 em {  color: blue  }
div p *[href] {  color: blue  }
body > P {  line-height: 1.3  }
div ol>li p { }
math + p {  text-indent: 0  }
h1.opener + h2 {  margin-top: -5mm  }
h1[title] {  color: blue;  }
span[class=example] {  color: blue;  }
span[hello="Cleveland"][goodbye="Columbus"] {  color: blue;  }
a[rel~="copyright"] {  color: blue  }
a[href="http://www.w3.org/"] {  color: blue  }
*[lang=fr] {  display : none  }
*[lang|="en"] {  color : red  }
DIALOGUE[character=romeo]
{  voice-family: "Lawrence Olivier", charles, male  }
DIALOGUE[ character = juliet ]
{  voice-family: "Vivien Leigh", victoria, female  }
*.pastoral {  color: green  }
.pastoral {  color: green  }
H1.pastoral {  color: green  }
p.pastoral.marine {  color: green  }
h1#chapter1 {  text-align: center  }
div > p:first-child {  text-indent: 0  }
p:first-child em {  font-weight : bold  }
* > a:first-child {  font-weight : bold  }
a:first-child {  font-weight : bold  }
a.external:visited {  color: blue  }
a:focus:hover {  background: white  }
html:lang(fr) {  quotes: '<<' '>>'  }
html:lang(de) {  quotes: '>>' '<<' '\2039' '\203A'  }
:lang(fr) > Q {  quotes: '<<' '>>'  }
:lang(de) > Q {  quotes: '>>' '<<' '\2039' '\203A'  }
p:first-letter {  font-size: 3em; font-weight: normal  }
p.special:before { content: "Special! " }
p.special:first-letter { color: #ffd800 }
BODY { font-family: Baskerville, "Heisi Mincho W3", Symbol, serif }
*:lang(ja-jp) { font: 900 14pt/16pt "Heisei Mincho W9", serif }
*:lang(zh-tw) { font: 800 14pt/16.5pt "Li Sung", serif }
