<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.web"
   name="Simple Web Plug-in"
   version="1.0.0"
   provider-name="IBM"
   description="This plugin contains the basic support, data model and operations to create a simple non j2ee web project."
   class="org.eclipse.wst.web.internal.WSTWebPlugin">

   <runtime>
      <library name="runtime/staticweb.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.wst.common.frameworks.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.wst.validation"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.jst.j2ee.web"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.jst.server.core"/>
   </requires>
   
   <extension
         id="StaticWebNature"
         name="Static Web Properties"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.wst.web.internal.operation.StaticWebNatureRuntime">
         </run>
      </runtime>
  </extension>
   <!--  <extension
         point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            projects="true"
            class="org.eclipse.wst.web.internal.deployables.StaticWebDeployableFactory"
            id="org.eclipse.jst.j2ee.internal.web.deployables.static">
         <moduleType
               versions="1.0"
               types="web.static">
         </moduleType>
      </moduleFactory> -->
    
    <extension
         point="org.eclipse.wst.server.ui.moduleArtifactAdapters">
       <moduleArtifactAdapter
            id="org.eclipse.jst.web.server.webstatic1">
         <enablement>
           <with variable="selection">
             <adapt type="org.eclipse.core.resources.IProject"/>
           </with>
         </enablement>
       </moduleArtifactAdapter>    
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
         <factory
             class="org.eclipse.wst.web.internal.deployables.StaticWebDeployableObjectAdapter"
             adaptableType="org.eclipse.core.resources.IProject">
            <adapter type="org.eclipse.wst.web.internal.deployables.IStaticWebModuleArtifact"/>
        </factory>    
   </extension> 
   
     <extension
         point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            projects="true"
            class="org.eclipse.wst.web.internal.deployables.StaticWebDeployableFactory"
            id="org.eclipse.jst.j2ee.internal.web.deployables.static">
         <moduleType
               versions="1.2, 1.3, 1.4"
               types="web.static">
         </moduleType>
      </moduleFactory>
   </extension>
</plugin>
