<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.web"
   name="Simple Web Plug-in"
   version="1.0.0"
   provider-name="IBM"
   description="This plugin contains the basic support, data model and operations to create a simple non j2ee web project."
   class="org.eclipse.wst.web.internal.WSTWebPlugin">

   <runtime>
      <library name="runtime/staticweb.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.wst.common.frameworks.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.wst.validation"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.wst.server.core"/>
   </requires>
   
   <extension
         id="StaticWebNature"
         name="Static Web Properties"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.wst.web.internal.operation.StaticWebNatureRuntime">
         </run>
      </runtime>
  </extension>
     <extension
         point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            projects="true"
            class="org.eclipse.wst.web.internal.deployables.StaticWebDeployableFactory"
            id="org.eclipse.jst.j2ee.internal.web.deployables.static">
         <moduleType
               versions="1.0"
               types="web.static">
         </moduleType>
      </moduleFactory>
   </extension>
</plugin>
