<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin> 
   <extension
         point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            projects="true"
            class="org.eclipse.wst.web.internal.deployables.StaticWebDeployableFactory"
            id="org.eclipse.wst.web.internal.deployables.static">
         <moduleType
               versions="1.0, 1.2, 1.3, 1.4"
               types="wst.web">
         </moduleType>
      </moduleFactory>
     </extension>
     
    <extension
         point="org.eclipse.wst.server.core.moduleArtifactAdapters">
       <moduleArtifactAdapter
            id="org.eclipse.jst.web.server.webstatic1"
            class="org.eclipse.wst.web.internal.deployables.StaticWebDeployableObjectAdapter">
         <enablement>
           <with variable="selection">
             <adapt type="org.eclipse.core.resources.IProject"/>
           </with>
         </enablement>
       </moduleArtifactAdapter>    
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
         <factory
             class="org.eclipse.wst.web.internal.deployables.StaticWebDeployableObjectAdapter"
             adaptableType="org.eclipse.core.resources.IProject">
            <adapter type="org.eclipse.wst.web.internal.deployables.IStaticWebModuleArtifact"/>
        </factory>    
   </extension> 
   
    <!--============================-->
   <!-- Builder Provider registrations-->
   <!--============================-->
	<extension
         point="org.eclipse.wst.common.frameworks.DataModelProviderExtension">
     	<ProviderDefinesType
      		providerType="wst.web.builder"
      		providerID="org.eclipse.wst.common.componentcore.internal.builder.WorkbenchComponentBuilderDataModelProvider"/>
		<DataModelProvider
            class="org.eclipse.wst.web.internal.operation.SimpleWebModuleCreationDataModelProvider"
            id="org.eclipse.wst.web.internal.operation.SimpleWebModuleCreationDataModelProvider"/>
	</extension>
	
  <!-- Project Facets -->
	<extension point="org.eclipse.wst.common.project.facet.core.facets">

    <project-facet id="wst.web">
      <label>Static Web Module</label>
      <description>Enables the project to be deployed as a static web module.</description>
      <icon>icons/full/obj16/webstatic-deploy.gif</icon>
    </project-facet>

    <project-facet-version facet="wst.web" version="1.0">
      <delegate type="install" class="org.eclipse.wst.project.facet.StaticWebFacetInstallDelegate"/>
      <constraint>
        <and>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>

    
    <template id="template.wst.web">
      <label>Dynamic Web Project</label>
      <fixed facet="wst.web"/>
    </template>

  </extension>	
</plugin>
