<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="%_UI_EDITOR_NAME"
			icon="icons/XSDFile.gif"
            contributorClass="org.eclipse.wst.xsd.ui.internal.editor.XSDMultiPageEditorContributor"
            class="org.eclipse.wst.xsd.ui.internal.editor.InternalXSDMultiPageEditor"
            id="org.eclipse.wst.xsd.ui.internal.editor.InternalXSDMultiPageEditor">
            <contentTypeBinding
                contentTypeId="org.eclipse.wst.xsd.core.xsdsource" />
		</editor>
	</extension>

	<extension point="org.eclipse.ui.editorActions">
        <editorContribution
            targetID="org.eclipse.wst.xsd.ui.internal.editor.InternalXSDMultiPageEditor"
            id="org.eclipse.wst.xsd.core.xsdsource.ruler.actions">
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
         <action
               label="%SelectRuler.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction"/>
        </editorContribution>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard
			id="org.eclipse.wst.xsd.ui.internal.wizards.NewXSDWizard"
			name="%_UI_WIZARD_NEW_XSD"
			class="org.eclipse.wst.xsd.ui.internal.wizards.NewXSDWizard"
			category="org.eclipse.wst.XMLCategory"
			icon="icons/ctool16/NewXSD.gif">
			<description>%_UI_CREATE_A_NEW_SCHEMA</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="%_UI_XML_SCHEMA_PREFERENCE"
			category="org.eclipse.wst.xml.ui.preferences.xml"
			class="org.eclipse.wst.xsd.ui.internal.preferences.XSDPreferencePage"
			id="org.eclipse.wst.xsd.ui.internal.preferences.XSDPreferencePage">
		</page>
    <page
          category="org.eclipse.wst.xsd.ui.internal.preferences.XSDPreferencePage"
          class="org.eclipse.wst.xsd.ui.internal.preferences.XSDEditorPreferencePage"
          id="org.eclipse.wst.xsd.ui.internal.preferences.XSDEditorPreferencePage"
          name="%_UI_XML_SCHEMA_EDITOR_PREFERENCE">
    </page>
    <page
          category="org.eclipse.wst.xsd.ui.internal.preferences.XSDPreferencePage"
          class="org.eclipse.wst.xsd.ui.internal.preferences.XSDValidatorPreferencePage"
          id="org.eclipse.wst.xsd.ui.internal.preferences.XSDValidatorPreferencePage"
          name="%_UI_XML_SCHEMA_VALIDATOR_PREFERENCE">
    </page>
	</extension>
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<provisionalDefinition
			type="preferencepages"
			value="org.eclipse.wst.xsd.ui.internal.preferences.XSDPreferencePage"
			target="org.eclipse.wst.xsd.core.xsdsource" />
   		<sourceViewerConfiguration
			class="org.eclipse.wst.xsd.ui.internal.editor.StructuredTextViewerConfigurationXSD"
			target="org.eclipse.wst.xsd.core.xsdsource" />
	</extension>

	<!-- ==================================================== -->
	<!-- Support help on the tags                             -->
	<!-- ==================================================== -->
	<!--   <extension
		point="org.eclipse.wst.xml.core.internal.contentmodel.annotationFiles">
		<annotationFile
		location="/w3c/schemaForCodeAssist-annotations.xml"
		publicId="http://www.w3.org/2001/XMLSchema">
		</annotationFile>
		</extension>
	-->
	
	
   <extension 
   		point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
     <propertyContributor
           contributorId="org.eclipse.wst.xsd.ui.internal.editor"
           labelProvider="org.eclipse.wst.xsd.ui.internal.common.properties.providers.XSDSectionLabelProvider">
         <propertyCategory category="General"/>
   		 <propertyCategory category="Documentation"/>
         <propertyCategory category="Advanced"/>
     </propertyContributor>
   </extension>

   <extension 
    	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs 
            contributorId="org.eclipse.wst.xsd.ui.internal.editor">
			<propertyTab
				label="%_UI_LABEL_GENERAL"
				category="General"
				id="property.tab.general">
			</propertyTab>
			<propertyTab
				label="%_UI_LABEL_TYPE_CONSTRAINTS"
				category="General"
				afterTab="property.tab.general"
				id="property.tab.typeconstraints">
			</propertyTab>
			<propertyTab
				label="%_UI_LABEL_ENUMERATIONS"
				category="General"
				afterTab="property.tab.general"
				id="property.tab.enumerations">
			</propertyTab>
			<propertyTab
				label="%_UI_LABEL_ADVANCED"
				category="Advanced"
				afterTab="property.tab.general"
				id="property.tab.advanced">
			</propertyTab>			
			<propertyTab
				label="%_UI_LABEL_DOCUMENTATION"
				category="Documentation"
				afterTab="property.tab.general"
				id="property.tab.documentation">
			</propertyTab>
			<propertyTab
				label="%_UI_LABEL_EXTENSIONS"
				category="Documentation"
				afterTab="property.tab.general"
				id="property.tab.extensions">
			</propertyTab>
    </propertyTabs>
 </extension>


<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
   <propertySections contributorId="org.eclipse.wst.xsd.ui.internal.editor">
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDSchemaSection"  
	 	id="prop.section.XSDSchemaSection">
	    <input type="org.eclipse.xsd.XSDSchema">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.advanced" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDSchemaAdvancedSection"  
	 	id="prop.section.XSDSchemaSection">
	    <input type="org.eclipse.xsd.XSDSchema">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.SchemaLocationSection" 
	 	id="prop.section.SchemaLocationSection">
	    <input type="org.eclipse.xsd.XSDSchemaCompositor">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDComplexTypeSection"  
	 	id="prop.section.XSDComplexTypeSection">
	    <input type="org.eclipse.xsd.XSDComplexTypeDefinition">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.advanced" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDComplexTypeAdvancedSection"  
	 	id="prop.section.XSDComplexTypeAdvancedSection">
	    <input type="org.eclipse.xsd.XSDComplexTypeDefinition">
	    </input>
	 </propertySection>		 
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDElementDeclarationSection"  
	 	id="prop.section.XSDElementDeclarationSection">
	    <input type="org.eclipse.xsd.XSDElementDeclaration">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.advanced" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDElementDeclarationAdvancedSection"  
	 	id="prop.section.XSDElementDeclarationAdvancedSection">
	    <input type="org.eclipse.xsd.XSDElementDeclaration">
	    </input>   
	 </propertySection> 
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDAttributeDeclarationSection"
	 	id="prop.section.XSDAttributeDeclarationSection">
	    <input type="org.eclipse.xsd.XSDAttributeDeclaration">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDAttributeGroupDefinitionSection"  
	 	id="prop.section.XSDAttributeGroupDefinitionSection">
	    <input type="org.eclipse.xsd.XSDAttributeGroupDefinition">
	    </input>
	 </propertySection>	
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDModelGroupSection"  
	 	id="prop.section.XSDModelGroupSection">
	    <input type="org.eclipse.xsd.XSDModelGroup">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDModelGroupDefinitionSection"  
	 	id="prop.section.XSDModelGroupDefinitionSection">
	    <input type="org.eclipse.xsd.XSDModelGroupDefinition">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDSimpleTypeSection"
	 	id="prop.section.XSDSimpleTypeSection">
	    <input type="org.eclipse.xsd.XSDSimpleTypeDefinition">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.advanced" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDSimpleTypeAdvancedSection"  
	 	id="prop.section.XSDSimpleTypeAdvancedSection">
	    <input type="org.eclipse.xsd.XSDSimpleTypeDefinition">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.typeconstraints" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDFacetSection"
        filter="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDFacetSectionFilter"
	 	id="prop.section.XSDFacetSection">
	    <input type="org.eclipse.xsd.XSDConcreteComponent">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.documentation" 
	 	class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.AnnotationSection" 
	 	id="prop.section.AnnotationSection">
	    <input type="org.eclipse.xsd.XSDConcreteComponent">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.extensions" 
	 	class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.ExtensionsSection" 
	 	id="prop.section.ExtensionsSection">
	    <input type="org.eclipse.xsd.XSDConcreteComponent">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
	 	class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDAnyElementContentsSection" 
	 	id="prop.section.general">
	    <input type="org.eclipse.xsd.XSDWildcard">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
	 	class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDImportSection" 
	 	id="prop.section.general">
	    <input type="org.eclipse.xsd.XSDImport">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
	 	class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDEnumerationFacetSection" 
	 	id="prop.section.general">
	    <input type="org.eclipse.xsd.XSDEnumerationFacet">
	    </input>
	 </propertySection>	 
  </propertySections>
</extension>

  <!-- this extension point is deprecated, use extensionCategories -->
  <extension-point id="ExtensionsSchemasDescription" name="%ExtensionsSchemasDescription"/>  
  <extension-point id="extensionCategories" name="%ExtensionCategoriesDescription"/>

  <!-- this extension point is deprecated, use internalEditorConfiguration -->  
  <extension-point id="XSDEditorExtensionConfiguration" name="%XSDEditorExtensionConfiguration"/>
  <extension-point id="internalEditorConfiguration" name="%InternalEditorConfiguration"/>
  
  <extension-point id="extensibilityNodeCustomizations" name="%ExtensionNodeCustomizationsDescription"/>
  <extension-point id="editorModes" name="%XMLSchemaEditorModes"/>

	<!-- intialize xsd reconcile validator -->
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="total"
			class="org.eclipse.wst.xsd.ui.internal.validation.DelegatingSourceValidatorForXSD"
			id="org.eclipse.wst.xsd.ui.internal.validation.DelegatingSourceValidatorForXSD">
			<contentTypeIdentifier
				id="org.eclipse.wst.xsd.core.xsdsource">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT">
				</partitionType>
			</contentTypeIdentifier>
		</validator>
	</extension>

	<extension point="org.eclipse.ui.contexts">
		<context
			id="org.eclipse.wst.xsd.ui.text.editor.context"
			name="%context.text.editor.xsd.name"
			parentId="org.eclipse.ui.textEditorScope" />
	</extension>

	<!-- this extension point is used to augment the ModelQuery to provide schema specific guided editing -->
	<extension point="org.eclipse.wst.xml.core.modelQueryExtensions">
		<modelQueryExtension
			class="org.eclipse.wst.xsd.ui.internal.text.XSDModelQueryExtension"
			contentType="org.eclipse.wst.xsd.core.xsdsource">
		</modelQueryExtension>
	</extension>

	<!-- ============================================================================== -->
	<!-- Register the XSDSearchParticpant against for XMLComponentSearchPatterns 		-->
	<!-- ============================================================================== -->	
	 <extension   
		point="org.eclipse.wst.common.core.searchParticipants">
		<searchParticipant
			id="org.eclipse.wst.xsd.search.XSDSearchParticipant"
			class="org.eclipse.wst.xsd.ui.internal.search.XSDSearchParticipant">
			<enablement>
			   <or>
			      <with variable="pattern">
					<instanceof value="org.eclipse.wst.xml.core.internal.search.XMLComponentSearchPattern"/>			   
				  </with>
				</or>
			</enablement>
		</searchParticipant>
	</extension>

	<!-- ============================================================================== -->	 
    <!-- Register a 'rename' participant this enables us to provide refactoring for     --> 
    <!-- renamed XML Schema components (e.g. elements, types etc.)                      --> 
	<!-- ============================================================================== -->	 
	<extension
		point="org.eclipse.ltk.core.refactoring.renameParticipants">
		<renameParticipant
			name="%xsd.resource.rename.participant.name"
			class="org.eclipse.wst.xsd.ui.internal.refactor.rename.XSDComponentRenameParticipant"
			id="org.eclipse.wst.xsd.refactoring.XSDComponentRenameParticipant">
			<enablement>
				<with variable="element">
					<instanceof
						value="org.eclipse.xsd.XSDNamedComponent">
					</instanceof>
				</with>
			</enablement>
		</renameParticipant>
		
	</extension>
	
	<!-- ============================================================================== -->	 
    <!-- Register a 'rename' participant this enables us to provide refactoring for     --> 
    <!-- renamed resources.                                                             --> 
	<!-- ============================================================================== -->	 
<!--
    <extension
		point="org.eclipse.ltk.core.refactoring.renameParticipants">
		<renameParticipant
			name="%xsd.resource.rename.participant.name"
			class="org.eclipse.wst.xsd.ui.internal.refactor.rename.ResourceRenameParticipant"
			id="org.eclipse.wst.xsd.refactoring.XSDResourceRenameParticipant">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.core.resources.IResource"/>
				</with>
			</enablement>
		</renameParticipant>
	</extension>
	-->
	<!-- ============================================================================================== -->
	<!-- Register the  'Refactor', 'References' and 'Declarations' items to the design view	            -->
	<!-- ============================================================================================== -->	    
   <extension point="org.eclipse.ui.popupMenus"> 
      <objectContribution 
         id="org.eclipse.wst.xsd.ui.refactoring.menu.objectContrib" 
         objectClass="org.eclipse.wst.xsd.ui.internal.adapters.XSDBaseAdapter">  
         <!-- 
         cs : declaration search isn't fully implemented yet, removing this menu action for now
         <action
            id="org.eclipse.wst.xsd.ui.search.declarations.action" 
            enablesFor="1"
            style="pulldown"
            menubarPath="search-slot"
            label="%search.declarations.label"
            class="org.eclipse.wst.xsd.ui.internal.search.actions.XSDSearchDeclarationsGroupActionDelegate"> 
         </action>          
         -->
         <action
            id="org.eclipse.wst.xsd.ui.search.references.action" 
            enablesFor="1"
            style="pulldown"
            menubarPath="search-slot"
            label="%search.references.label"
            class="org.eclipse.wst.xsd.ui.internal.search.actions.XSDSearchReferencesGroupActionDelegate"> 
         </action>
  
      </objectContribution>         
    
     </extension>

	<extension point="org.eclipse.ui.commands">
		<command
			name="%command.xsd.refactor.rename.element.name"
			description="%command.xsd.refactor.rename.element.description"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.wst.xsd.ui.refactor.rename.element">
		</command>
		<command
			name="%command.xsd.refactor.makeElementGlobal.element.name"
			description="%command.xsd.refactor.makeElementGlobal.element.description"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.wst.xsd.ui.refactor.makeElementGlobal">
		</command>
		<command
			name="%command.xsd.refactor.makeTypeGlobal.element.name"
			description="%command.xsd.refactor.makeTypeGlobal.element.description"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.wst.xsd.ui.refactor.makeTypeGlobal">
		</command>
		<command
			name="%command.xsd.refactor.renameTargetNamespace.name"
			description="%command.xsd.refactor.renameTargetNamespace.description"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.wst.xsd.ui.refactor.renameTargetNamespace">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target
			id="org.eclipse.wst.xsd.core.xsdsource"
			name="%XSD_Source_target_name">
		</target>
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="org.eclipse.wst.xsd.ui.internal.editor.XSDHyperlinkDetector"
			id="org.eclipse.wst.xsd.ui.internal.editor.XSDHyperlinkDetector"
			name="%XSD_hyperlink"
			targetId="org.eclipse.wst.xsd.core.xsdsource">
		</hyperlinkDetector>
   </extension>

 <extension point="org.eclipse.ui.menus">
	<menuContribution locationURI="toolbar:org.eclipse.wst.xml.ui.perspective.NewFileToolBar">
        <command
              commandId="org.eclipse.ui.newWizard"
              icon="icons/ctool16/NewXSD.gif"
              id="org.eclipse.wst.xsd.ui.newXSDFile"
              style="push"
              tooltip="%_UI_NEW_XML_SCHEMA_TITLE">
             <parameter name="newWizardId" value="org.eclipse.wst.xsd.ui.internal.wizards.NewXSDWizard"/>
          <visibleWhen checkEnabled="false">
			<with variable="activeWorkbenchWindow.activePerspective">
				<equals value="org.eclipse.wst.xml.ui.perspective"/>
			</with>
           </visibleWhen>         
        </command>        
     </menuContribution>
     <menuContribution locationURI="popup:refactorPopupMenuId">
        <command
              commandId="org.eclipse.wst.xsd.ui.refactor.rename.element"
              label="%refactoring.renameAction.label">
           <visibleWhen
                 checkEnabled="false">
           </visibleWhen>
        </command>
    </menuContribution>
    <menuContribution
          locationURI="popup:org.eclipse.wst.xsd.ui.refactorMenuId">
          <command
                commandId="org.eclipse.wst.xsd.ui.refactor.rename.element"
                label="%refactoring.renameAction.label">
             <visibleWhen
                   checkEnabled="false">
             </visibleWhen>
        </command>
    </menuContribution>
	<menuContribution
          locationURI="menu:refactorMenuId">
       <command
             commandId="org.eclipse.wst.xsd.ui.refactor.rename.element"
             label="%refactoring.renameAction.label">
          <visibleWhen
                checkEnabled="false">
                <or>
	                <reference
	                      definitionId="org.eclipse.wst.xsd.ui.editor.active.designView.definition">
	                </reference>
	                <reference
	                      definitionId="org.eclipse.wst.xsd.ui.editor.active.sourceView.definition">
	                </reference>
                </or>
          </visibleWhen>
          
        </command>
    </menuContribution>
    <menuContribution locationURI="popup:refactorPopupMenuId">
        <command
              commandId="org.eclipse.wst.xsd.ui.refactor.makeElementGlobal"
              label="%command.xsd.refactor.makeElementGlobal.element.name">
           <visibleWhen
                 checkEnabled="false">
           </visibleWhen>
        </command>
    </menuContribution>
    <menuContribution
          locationURI="popup:org.eclipse.wst.xsd.ui.refactorMenuId">
          <command
                commandId="org.eclipse.wst.xsd.ui.refactor.makeElementGlobal"
                label="%command.xsd.refactor.makeElementGlobal.element.name">
             <visibleWhen
                   checkEnabled="false">
             </visibleWhen>
        </command>
    </menuContribution>
	<menuContribution
          locationURI="menu:refactorMenuId">
       <command
             commandId="org.eclipse.wst.xsd.ui.refactor.makeElementGlobal"
             label="%command.xsd.refactor.makeElementGlobal.element.name">
          <visibleWhen
                checkEnabled="false">
                <or>
	                <reference
	                      definitionId="org.eclipse.wst.xsd.ui.editor.active.designView.definition">
	                </reference>
	                <reference
	                      definitionId="org.eclipse.wst.xsd.ui.editor.active.sourceView.definition">
	                </reference>
                </or>
          </visibleWhen>
          
        </command>
    </menuContribution>
     <menuContribution locationURI="popup:refactorPopupMenuId">
        <command
              commandId="org.eclipse.wst.xsd.ui.refactor.makeTypeGlobal"
              label="%command.xsd.refactor.makeTypeGlobal.element.name">
           <visibleWhen
                 checkEnabled="false">
           </visibleWhen>
        </command>
    </menuContribution>
    <menuContribution
          locationURI="popup:org.eclipse.wst.xsd.ui.refactorMenuId">
          <command
                commandId="org.eclipse.wst.xsd.ui.refactor.makeTypeGlobal"
                label="%command.xsd.refactor.makeTypeGlobal.element.name">
             <visibleWhen
                   checkEnabled="false">
             </visibleWhen>
        </command>
    </menuContribution>
	<menuContribution
          locationURI="menu:refactorMenuId">
       <command
             commandId="org.eclipse.wst.xsd.ui.refactor.makeTypeGlobal"
             label="%command.xsd.refactor.makeTypeGlobal.element.name">
          <visibleWhen
                checkEnabled="false">
                <or>
	                <reference
	                      definitionId="org.eclipse.wst.xsd.ui.editor.active.designView.definition">
	                </reference>
	                <reference
	                      definitionId="org.eclipse.wst.xsd.ui.editor.active.sourceView.definition">
	                </reference>
                </or>
          </visibleWhen>
          
        </command>
    </menuContribution>
  </extension>

 <extension point="org.eclipse.ui.navigator.navigatorContent">
	<commonWizard type="new" wizardId="org.eclipse.wst.xsd.ui.internal.wizards.NewXSDWizard">
		<enablement></enablement>
	</commonWizard>
 </extension>
 <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.wst.xsd.ui.internal.refactor.handlers.RenameHandler"
            commandId="org.eclipse.wst.xsd.ui.refactor.rename.element">
         <enabledWhen>
                <with
	                   variable="selection">
                 <test
                       property="org.eclipse.wst.xsd.ui.refactor.renameEnabled">
                 </test>
	                
	             </with>             
		</enabledWhen>
      </handler>
     <handler
            class="org.eclipse.wst.xsd.ui.internal.refactor.handlers.MakeLocalElementGlobalHandler"
            commandId="org.eclipse.wst.xsd.ui.refactor.makeElementGlobal">
         <enabledWhen>
                <with
	                   variable="selection">
                 <test
                       property="org.eclipse.wst.xsd.ui.refactor.makeLocalElementGlobalEnabled">
                 </test>
	                
	             </with>             
		</enabledWhen>
      </handler>
      <handler
            class="org.eclipse.wst.xsd.ui.internal.refactor.handlers.MakeAnonymousTypeGobalHandler"
            commandId="org.eclipse.wst.xsd.ui.refactor.makeTypeGlobal">
         <enabledWhen>
                <with
	                   variable="selection">
                 <test
                       property="org.eclipse.wst.xsd.ui.refactor.makeAnonymousTypeGlobalEnabled">
                 </test>
	                
	             </with>             
		</enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.wst.xsd.ui.internal.refactor.RenameEnablementTester"
            id="org.eclipse.wst.xsd.ui.refactor.rename.enablement"
            namespace="org.eclipse.wst.xsd.ui.refactor"
            properties="renameEnabled"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="org.eclipse.wst.xsd.ui.internal.refactor.MakeLocalElementGlobalEnablementTester"
            id="org.eclipse.wst.xsd.ui.refactor.makeLocalElementGlobalEnabled"
            namespace="org.eclipse.wst.xsd.ui.refactor"
            properties="makeLocalElementGlobalEnabled"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
       <propertyTester
            class="org.eclipse.wst.xsd.ui.internal.refactor.MakeAnonymousTypsGlobalEnablementTester"
            id="org.eclipse.wst.xsd.ui.refactor.makeAnonymousTypeGlobalEnabled"
            namespace="org.eclipse.wst.xsd.ui.refactor"
            properties="makeAnonymousTypeGlobalEnabled"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%XSD_DESIGN_VIEW_DESCRIPTION"
            id="org.eclipse.wst.xsd.ui.editor.designView"
            name="%XSD_DESIGN_VIEW">
      </context>
            <context
            description="%XSD_SOURCE_VIEW_DESCRIPTION"
            id="org.eclipse.wst.xsd.ui.editor.sourceView"
            name="%XSD_SOURCE_VIEW">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.wst.xsd.ui.editor.active.designView.definition">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="org.eclipse.wst.xsd.ui.editor.designView">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.wst.xsd.ui.editor.active.sourceView.definition">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="org.eclipse.wst.xsd.ui.editor.sourceView">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>  
   
</plugin>
