<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="%_UI_EDITOR_NAME"
			icon="icons/XSDFile.gif"
            contributorClass="org.eclipse.wst.xsd.ui.internal.editor.XSDMultiPageEditorContributor"
            class="org.eclipse.wst.xsd.ui.internal.editor.InternalXSDMultiPageEditor"
            id="org.eclipse.wst.xsd.ui.internal.editor.InternalXSDMultiPageEditor">
            <contentTypeBinding
                contentTypeId="org.eclipse.wst.xsd.core.xsdsource" />
		</editor>
	</extension>

	<extension point="org.eclipse.ui.editorActions">
        <editorContribution
            targetID="org.eclipse.wst.xsd.core.xsdsource.source"
            id="org.eclipse.wst.xsd.core.xsdsource.ruler.actions">
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
         <action
               label="%SelectRuler.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction"/>
        </editorContribution>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard
			id="org.eclipse.wst.xsd.ui.internal.wizards.NewXSDWizard"
			name="%_UI_WIZARD_NEW_XSD"
			class="org.eclipse.wst.xsd.ui.internal.wizards.NewXSDWizard"
			category="org.eclipse.wst.XMLCategory"
			icon="icons/XSDFile.gif">
			<description>%_UI_CREATE_A_NEW_SCHEMA</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="%_UI_XML_SCHEMA_PREFERENCE"
			category="org.eclipse.wst.xml.ui.preferences.xml"
			class="org.eclipse.wst.xsd.ui.internal.preferences.XSDPreferencePage"
			id="org.eclipse.wst.xsd.ui.internal.preferences.XSDPreferencePage">
		</page>
	</extension>
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<provisionalDefinition
			type="preferencepages"
			value="org.eclipse.wst.xsd.ui.internal.preferences.XSDPreferencePage"
			target="org.eclipse.wst.xsd.core.xsdsource" />
   		<sourceViewerConfiguration
			class="org.eclipse.wst.xsd.ui.internal.editor.StructuredTextViewerConfigurationXSD"
			target="org.eclipse.wst.xsd.core.xsdsource" />
	</extension>

	<!-- ==================================================== -->
	<!-- Support help on the tags                             -->
	<!-- ==================================================== -->
	<!--   <extension
		point="org.eclipse.wst.xml.core.internal.contentmodel.annotationFiles">
		<annotationFile
		location="/w3c/schemaForCodeAssist-annotations.xml"
		publicId="http://www.w3.org/2001/XMLSchema">
		</annotationFile>
		</extension>
	-->
	
	
   <extension 
   		point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
     <propertyContributor
           contributorId="org.eclipse.wst.xsd.ui.internal.editor"
           labelProvider="org.eclipse.wst.xsd.ui.internal.common.properties.providers.XSDSectionLabelProvider">
         <propertyCategory category="General"/>
   		 <propertyCategory category="Documentation"/>
         <propertyCategory category="Advanced"/>
     </propertyContributor>
   </extension>

   <extension 
    	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs 
            contributorId="org.eclipse.wst.xsd.ui.internal.editor">
			<propertyTab
				label="%_UI_LABEL_GENERAL"
				category="General"
				id="property.tab.general">
			</propertyTab>
			<propertyTab
				label="%_UI_LABEL_TYPE_CONSTRAINTS"
				category="General"
				afterTab="property.tab.general"
				id="property.tab.typeconstraints">
			</propertyTab>
			<propertyTab
				label="%_UI_LABEL_ENUMERATIONS"
				category="General"
				afterTab="property.tab.general"
				id="property.tab.enumerations">
			</propertyTab>
			<propertyTab
				label="%_UI_LABEL_ADVANCED"
				category="Advanced"
				afterTab="property.tab.general"
				id="property.tab.advanced">
			</propertyTab>			
			<propertyTab
				label="%_UI_LABEL_DOCUMENTATION"
				category="Documentation"
				afterTab="property.tab.general"
				id="property.tab.documentation">
			</propertyTab>
			<propertyTab
				label="%_UI_LABEL_EXTENSIONS"
				category="Documentation"
				afterTab="property.tab.general"
				id="property.tab.extensions">
			</propertyTab>
    </propertyTabs>
 </extension>


<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
   <propertySections contributorId="org.eclipse.wst.xsd.ui.internal.editor">
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDSchemaSection"  
	 	id="prop.section.XSDSchemaSection">
	    <input type="org.eclipse.xsd.XSDSchema">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.SchemaLocationSection" 
	 	id="prop.section.SchemaLocationSection">
	    <input type="org.eclipse.xsd.XSDSchemaCompositor">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDComplexTypeSection"  
	 	id="prop.section.XSDComplexTypeSection">
	    <input type="org.eclipse.xsd.XSDComplexTypeDefinition">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.advanced" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDComplexTypeAdvancedSection"  
	 	id="prop.section.XSDComplexTypeAdvancedSection">
	    <input type="org.eclipse.xsd.XSDComplexTypeDefinition">
	    </input>
	 </propertySection>		 
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDElementDeclarationSection"  
	 	id="prop.section.XSDElementDeclarationSection">
	    <input type="org.eclipse.xsd.XSDElementDeclaration">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.advanced" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDElementDeclarationAdvancedSection"  
	 	id="prop.section.XSDElementDeclarationAdvancedSection">
	    <input type="org.eclipse.xsd.XSDElementDeclaration">
	    </input>   
	 </propertySection> 
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDAttributeDeclarationSection"
	 	id="prop.section.XSDAttributeDeclarationSection">
	    <input type="org.eclipse.xsd.XSDAttributeDeclaration">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDAttributeGroupDefinitionSection"  
	 	id="prop.section.XSDAttributeGroupDefinitionSection">
	    <input type="org.eclipse.xsd.XSDAttributeGroupDefinition">
	    </input>
	 </propertySection>	
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDModelGroupSection"  
	 	id="prop.section.XSDModelGroupSection">
	    <input type="org.eclipse.xsd.XSDModelGroup">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDModelGroupDefinitionSection"  
	 	id="prop.section.XSDModelGroupDefinitionSection">
	    <input type="org.eclipse.xsd.XSDModelGroupDefinition">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDSimpleTypeSection"
	 	id="prop.section.XSDSimpleTypeSection">
	    <input type="org.eclipse.xsd.XSDSimpleTypeDefinition">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.advanced" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDSimpleTypeAdvancedSection"  
	 	id="prop.section.XSDSimpleTypeAdvancedSection">
	    <input type="org.eclipse.xsd.XSDSimpleTypeDefinition">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.typeconstraints" 
        class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDFacetSection"
        filter="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDFacetSectionFilter"
	 	id="prop.section.XSDFacetSection">
	    <input type="org.eclipse.xsd.XSDConcreteComponent">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.documentation" 
	 	class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.AnnotationSection" 
	 	id="prop.section.AnnotationSection">
	    <input type="org.eclipse.xsd.XSDConcreteComponent">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.extensions" 
	 	class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.ExtensionsSection" 
	 	id="prop.section.ExtensionsSection">
	    <input type="org.eclipse.xsd.XSDConcreteComponent">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
	 	class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDAnyElementContentsSection" 
	 	id="prop.section.general">
	    <input type="org.eclipse.xsd.XSDWildcard">
	    </input>
	 </propertySection>
	 <propertySection tab="property.tab.general" 
	 	class="org.eclipse.wst.xsd.ui.internal.common.properties.sections.XSDImportSection" 
	 	id="prop.section.general">
	    <input type="org.eclipse.xsd.XSDImport">
	    </input>
	 </propertySection>
  </propertySections>
</extension>

  <!-- this extension point is deprecated, use extensionCategories -->
  <extension-point id="ExtensionsSchemasDescription" name="%ExtensionsSchemasDescription"/>  
  <extension-point id="extensionCategories" name="%ExtensionCategoriesDescription"/>

  <!-- this extension point is deprecated, use internalEditorConfiguration -->  
  <extension-point id="XSDEditorExtensionConfiguration" name="%XSDEditorExtensionConfiguration"/>
  <extension-point id="internalEditorConfiguration" name="%InternalEditorConfiguration"/>
  
  <extension-point id="extensibilityNodeCustomizations" name="%ExtensionNodeCustomizationsDescription"/>
  <extension-point id="editorModes" name="%XMLSchemaEditorModes"/>

	<!-- intialize xsd reconcile validator -->
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="total"
			class="org.eclipse.wst.xsd.ui.internal.validation.DelegatingSourceValidatorForXSD"
			id="org.eclipse.wst.xsd.ui.internal.validation.DelegatingSourceValidatorForXSD">
			<contentTypeIdentifier
				id="org.eclipse.wst.xsd.core.xsdsource">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT">
				</partitionType>
			</contentTypeIdentifier>
		</validator>
	</extension>

	<extension point="org.eclipse.ui.contexts">
		<context
			id="org.eclipse.wst.xsd.ui.text.editor.context"
			name="%context.text.editor.xsd.name"
			parentId="org.eclipse.ui.textEditorScope" />
	</extension>

	<!-- this extension point is used to augment the ModelQuery to provide schema specific guided editing -->
	<extension point="org.eclipse.wst.xml.core.modelQueryExtensions">
		<modelQueryExtension
			class="org.eclipse.wst.xsd.ui.internal.text.XSDModelQueryExtension"
			contentType="org.eclipse.wst.xsd.core.xsdsource">
		</modelQueryExtension>
	</extension>

	<!-- ============================================================================== -->
	<!-- Register the XSDSearchParticpant against for XMLComponentSearchPatterns 		-->
	<!-- ============================================================================== -->	
	 <extension   
		point="org.eclipse.wst.common.core.searchParticipants">
		<searchParticipant
			id="org.eclipse.wst.xsd.search.XSDSearchParticipant"
			class="org.eclipse.wst.xsd.ui.internal.search.XSDSearchParticipant">
			<enablement>
			   <or>
			      <with variable="pattern">
					<instanceof value="org.eclipse.wst.xml.core.internal.search.XMLComponentSearchPattern"/>			   
				  </with>
				</or>
			</enablement>
		</searchParticipant>
	</extension>

	<!-- ============================================================================== -->	 
    <!-- Register a 'rename' participant this enables us to provide refactoring for     --> 
    <!-- renamed XML Schema components (e.g. elements, types etc.)                      --> 
	<!-- ============================================================================== -->	 
	<extension
		point="org.eclipse.ltk.core.refactoring.renameParticipants">
		<renameParticipant
			name="%xsd.resource.rename.participant.name"
			class="org.eclipse.wst.xsd.ui.internal.refactor.rename.XSDComponentRenameParticipant"
			id="org.eclipse.wst.xsd.refactoring.XSDComponentRenameParticipant">
			<enablement>
				<with variable="element">
					<instanceof
						value="org.eclipse.xsd.XSDNamedComponent">
					</instanceof>
				</with>
			</enablement>
		</renameParticipant>
		
	</extension>
	
	<!-- ============================================================================== -->	 
    <!-- Register a 'rename' participant this enables us to provide refactoring for     --> 
    <!-- renamed resources.                                                             --> 
	<!-- ============================================================================== -->	 
<!--
    <extension
		point="org.eclipse.ltk.core.refactoring.renameParticipants">
		<renameParticipant
			name="%xsd.resource.rename.participant.name"
			class="org.eclipse.wst.xsd.ui.internal.refactor.rename.ResourceRenameParticipant"
			id="org.eclipse.wst.xsd.refactoring.XSDResourceRenameParticipant">
			<enablement>
				<with variable="element">
					<instanceof value="org.eclipse.core.resources.IResource"/>
				</with>
			</enablement>
		</renameParticipant>
	</extension>
	-->
	<!-- ============================================================================================== -->
	<!-- Register the  'Refactor', 'References' and 'Declarations' items to the design view	            -->
	<!-- ============================================================================================== -->	    
   <extension point="org.eclipse.ui.popupMenus"> 
      <objectContribution 
         id="org.eclipse.wst.xsd.ui.refactoring.menu.objectContrib" 
         objectClass="org.eclipse.wst.xsd.ui.internal.adapters.XSDBaseAdapter">  
         <!-- 
         cs : declaration search isn't fully implemented yet, removing this menu action for now
         <action
            id="org.eclipse.wst.xsd.ui.search.declarations.action" 
            enablesFor="1"
            style="pulldown"
            menubarPath="search-slot"
            label="%search.declarations.label"
            class="org.eclipse.wst.xsd.ui.internal.search.actions.XSDSearchDeclarationsGroupActionDelegate"> 
         </action>          
         -->
         <action
            id="org.eclipse.wst.xsd.ui.search.references.action" 
            enablesFor="1"
            style="pulldown"
            menubarPath="search-slot"
            label="%search.references.label"
            class="org.eclipse.wst.xsd.ui.internal.search.actions.XSDSearchReferencesGroupActionDelegate"> 
         </action>
         <action
            id="org.eclipse.wst.xsd.ui.refactoring.menu.refactorGroup.object" 
            enablesFor="1"
            style="pulldown"
            menubarPath="refactoring-slot"
            label="%refactoringActionSet.label" 
            class="org.eclipse.wst.xsd.ui.internal.refactor.actions.XSDRefactorGroupActionDelegate"> 
         </action>   
      </objectContribution>         
      <!-- here we add the 'refactor' menu item to the source view -->
      <viewerContribution
        id="org.eclipse.wst.xsd.ui.refactoring.menu.source"
        targetID="org.eclipse.wst.xsd.core.xsdsource.source.EditorContext">
	    <action id="org.eclipse.wst.xsd.ui.refactoring.menu.refactorGroup.source"
       		style="pulldown"
            menubarPath="additions"
            label="%refactoring.menu.label" 
            class="org.eclipse.wst.xsd.ui.internal.refactor.actions.XSDRefactorGroupActionDelegate"> 
  	    </action>
       </viewerContribution>
		<viewerContribution
			targetID="org.eclipse.wst.xsd.core.xsdsource.source.RulerContext"
			id="org.eclipse.wst.xsd.ui.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction">
			</action>
			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction">
			</action>
		</viewerContribution>

     </extension>

	
	<!-- 
		The following extension to the file context menu is temporary until resource 
		navigator will provide allow to extend refactor menu        
	-->
	
	<!--extension point="org.eclipse.ui.popupMenus">
	 <objectContribution
		objectClass="org.eclipse.core.resources.IFile"
		nameFilter="*.xsd"
		id="org.wst.xsd.ui.rename">
		<menu id="refactorXSDResource" path="additions" label="%refactoring.menu.label">
		  <separator name="refactor"/>
		</menu>
	<action
		label="%refactoring.renameAction.label"
		menubarPath="refactorXSDResource/refactor"
		class="org.eclipse.wst.xsd.ui.internal.refactor.actions.RenameResourceActionDelegate"
		enablesFor="1"
		id="org.eclipse.wst.xsd.ui.refactoring.actions.RenameResource">
	 </action>
	 </objectContribution>
	</extension-->	

	<extension point="org.eclipse.ui.commands">
		<command
			name="%command.xsd.refactor.rename.element.name"
			description="%command.xsd.refactor.rename.element.description"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.wst.xsd.ui.refactor.rename.element">
		</command>
		<command
			name="%command.xsd.refactor.makeElementGlobal.element.name"
			description="%command.xsd.refactor.makeElementGlobal.element.description"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.wst.xsd.ui.refactor.makeElementGlobal">
		</command>
		<command
			name="%command.xsd.refactor.makeTypeGlobal.element.name"
			description="%command.xsd.refactor.makeTypeGlobal.element.description"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.wst.xsd.ui.refactor.makeTypeGlobal">
		</command>
		<command
			name="%command.xsd.refactor.renameTargetNamespace.name"
			description="%command.xsd.refactor.renameTargetNamespace.description"
			categoryId="org.eclipse.ui.category.edit"
			id="org.eclipse.wst.xsd.ui.refactor.renameTargetNamespace">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target
			id="org.eclipse.wst.xsd.core.xsdsource"
			name="%XSD_Source_target_name">
		</target>
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="org.eclipse.wst.xsd.ui.internal.editor.XSDHyperlinkDetector"
			id="org.eclipse.wst.xsd.ui.internal.editor.XSDHyperlinkDetector"
			name="%XSD_hyperlink"
			targetId="org.eclipse.wst.xsd.core.xsdsource">
		</hyperlinkDetector>
   </extension>
</plugin>
