<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="invoke" name="XSLT Processor Invoker"
		schema="schema/invoke.exsd" />
	<extension-point id="processorType" name="XSLT Processor Type"
		schema="schema/processorType.exsd" />
	<extension-point id="processor" name="XSLT Processor"
		schema="schema/processor.exsd" />
	<extension-point id="debugger" name="XSLT Debugger" schema="schema/debugger.exsd"/>

	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
            sourceLocatorId="org.eclipse.wst.xsl.launching.sourceLookupDirector"
            sourcePathComputerId="org.eclipse.wst.xsl.launching.sourcePathComputer"
			delegate="org.eclipse.wst.xsl.internal.launching.XSLTLaunchConfigurationDelegate"
			id="org.eclipse.wst.xsl.launching.launchConfigurationType"
			modes="run, debug" name="%launchConfigurationType.name.0" />
	</extension>
	
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="%sourceLocator.name.0"
            class="org.eclipse.wst.xsl.internal.launching.XSLTSourceLookupDirector"
            id="org.eclipse.wst.xsl.launching.sourceLookupDirector">
      </sourceLocator>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.eclipse.wst.xsl.internal.launching.XSLTSourcePathComputerDelegate"
            id="org.eclipse.wst.xsl.launching.sourcePathComputer">
      </sourcePathComputer>
   </extension>
	
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
      		id="xslLineBreakpoint"
            markerType="org.eclipse.wst.xsl.launching.xslLineBreakpointMarker"
            class="org.eclipse.wst.xsl.launching.model.XSLLineBreakpoint">
      </breakpoint>
   </extension>

   <extension
         id="xslLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
<!--	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="org.eclipse.wst.xsl.internal.launching.XSLPropertyTester"
			id="org.eclipse.wst.xsl.launching.xslPropertyTester"
			namespace="org.eclipse.wst.xsl.launching"
			properties="canTransform" type="org.eclipse.core.runtime.IAdaptable" />
	</extension>
	-->
 	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.xsl.internal.launching.PreferenceInitializer">
		</initializer>
	</extension>
 
 	<extension
	       point="org.eclipse.wst.xsl.launching.processorType">
     <processorType
            featureProperties="W3CProcessorFeatures.properties"
            id="org.eclipse.wst.xsl.launching.processorType.jreDefault"
            label="%processorType.label.0"
            outputProperties="W3COutputProperties.properties" />
	 </extension>

	<extension
	         point="org.eclipse.wst.xsl.launching.processor">
        <processor
              classpath=""
              id="org.eclipse.wst.xsl.launching.jre.default"
              label="%processor.label.0"
              processorTypeId="org.eclipse.wst.xsl.launching.processorType.jreDefault"
              supports="1.0"/>
	 </extension>
	
</plugin>
