<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.editors.templates">
		<include file="templates/file_templates.xml"/>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
		<page
	        category="org.eclipse.wst.xml.ui.preferences.xml"
	        class="org.eclipse.wst.xsl.internal.ui.preferences.MainPreferencePage"
	        id="org.eclipse.wst.xsl.ui.preferences.BasePreferencePage"
	        name="%page.name.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.wst.xml.internal.perspective.XMLPerspectiveFactory"
            icon="icons/XMLFile.gif"
            id="org.eclipse.wst.xsl.ui.perspective"
            name="%perspectiveName">
      </perspective>
   </extension>
</plugin>
