<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
	id="org.eclipse.wst.html.core.tests"
	name="SSE Model HTML Tests"
	version="1.0.0"
	provider-name="Eclipse.org"
	class="org.eclipse.wst.html.core.tests.SSEModelHTMLTestsPlugin">

	<runtime>
		<library name="ssemodelhtmltests.jar">
			<export name="*" />
		</library>
	</runtime>
	<requires>
		<import plugin="org.eclipse.core.runtime.compatibility" />
		<import plugin="org.junit" />
		<import plugin="org.eclipse.wst.html.core" />
		<import plugin="org.eclipse.wst.xml.core" />
		<import plugin="org.eclipse.wst.sse.core" />
		<import plugin="org.eclipse.core.resources" />
		<import plugin="org.eclipse.wst.common.encoding" />
		<import plugin="org.eclipse.ui" />
	</requires>


	<extension
		id="ssemodelhtmltests"
		point="org.eclipse.core.runtime.applications">
		<application>
			<run
				class="org.eclipse.wst.html.core.tests.application.SSEModelHTMLTests">
			</run>
		</application>
	</extension>
	<!-- TO GET PICKED UP BY com.ibm.etools.commontests.testcollector -->
	<!--
	<extension
		point="com.ibm.etools.commontests.testcollector.suites">
		<suite
			suiteClass="org.eclipse.wst.html.core.tests.application.SSEModelHTMLTestSuite"
			suiteName="SSE Model HTML Tests">
		</suite>
	</extension>
	-->

</plugin>
