<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
	id="org.eclipse.wst.html.core.tests"
	name="HTML Core Tests"
	version="1.0.0"
	provider-name="Eclipse.org"
	class="org.eclipse.wst.html.core.tests.HTMLCoreTestsPlugin">

	<runtime>
		<library name="htmlcoretests.jar">
			<export name="*" />
		</library>
	</runtime>
	<requires>
		<import plugin="org.junit" />
		<import plugin="org.eclipse.wst.html.core" />
		<import plugin="org.eclipse.wst.xml.core" />
		<import plugin="org.eclipse.wst.sse.core" />
		<import plugin="org.eclipse.core.resources" />
  <import plugin="org.eclipse.core.runtime"/>
	</requires>
	
</plugin>
