<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type
			priority="high"
			name="XSD Content Type "
			id="xsdsource"
			base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8"
			file-extensions="xsd" />
	</extension>

	<extension point="org.eclipse.wst.xml.core.documentFactories">
		<factory
			type="xsd"
			class="org.eclipse.wst.xsd.contentmodel.internal.CMDocumentFactoryXSD">
		</factory>
	</extension>

</plugin>
