<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="catalogFileType" name="%XML_Catalog_File_Type_Extension_Point.name" schema="schema/catalogFileType.exsd"/>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="%_UI_PREF_XML_CATALOG"
			category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
			class="org.eclipse.wst.xml.ui.internal.catalog.XMLCatalogPreferencePage"
			id="org.eclipse.wst.xml.core.ui.XMLCatalogPreferencePage">
         	<keywordReference id="org.eclipse.wst.xml.ui.xmlcatalog"/>
		</page>
	</extension>
	<extension point="org.eclipse.wst.xml.ui.catalogFileType">
		<fileType
			extensions="dtd, ent, mod"
			description="%_UI_PREF_DTD_FILES"
			id="org.eclipse.wst.xml.core.ui.catalogFileType.dtd">
		</fileType>
		<fileType
			extensions="xsd"
			description="%_UI_PREF_XSD_FILES"
			id="org.eclipse.wst.xml.core.ui.catalogFileType.xsd">
		</fileType>
		<fileType
			extensions="tld"
			description="%_UI_PREF_TAGLIB_DEF_FILES"
			id="org.eclipse.wst.xml.core.ui.catalogFileType.tld">
		</fileType>
	</extension>
	
	<!--The org.eclipse.wst.xml.core.xmlsource content type is only for
		handling some special cases of ill-formed xml in a reasonable
		manner, and should not be emulated by clients. The two content
		types are often used interchangeably by the XML component, but
		please use org.eclipse.core.runtime.xml instead. -->
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.eclipse.wst.xml.ui.StructuredTextViewerConfigurationXML"
			target="org.eclipse.core.runtime.xml, org.eclipse.wst.xml.core.xmlsource" />
		<contentOutlineConfiguration
			class="org.eclipse.wst.xml.ui.views.contentoutline.XMLContentOutlineConfiguration"
			target="org.eclipse.core.runtime.xml, org.eclipse.wst.xml.core.xmlsource" />
		<propertySheetConfiguration
			class="org.eclipse.wst.xml.ui.views.properties.XMLPropertySheetConfiguration"
			target="org.eclipse.core.runtime.xml, org.eclipse.wst.xml.core.xmlsource" />
		<provisionalConfiguration
			type="sourceeditingtexttools"
			class="org.eclipse.wst.xml.ui.internal.provisional.XMLSourceEditingTextTools"
			target="org.eclipse.core.runtime.xml, org.eclipse.wst.xml.core.xmlsource" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.wst.xml.ui.internal.text.XMLDocumentRegionEdgeMatcher"
			target="org.eclipse.core.runtime.xml, org.eclipse.wst.xml.core.xmlsource" />
		<provisionalConfiguration
			type="structuredtextfoldingprovider"
			class="org.eclipse.wst.xml.ui.internal.projection.StructuredTextFoldingProviderXML"
			target="org.eclipse.core.runtime.xml, org.eclipse.wst.xml.core.xmlsource" />
		<provisionalConfiguration
			type="org.eclipse.jface.text.quickassist.IQuickAssistProcessor"
			class="org.eclipse.wst.xml.ui.internal.correction.XMLQuickAssistProcessor"
			target="org.eclipse.wst.xml.XML_DEFAULT" />
		<provisionalDefinition
			type="preferencepages"
			value="org.eclipse.wst.sse.ui.preferences.xml, org.eclipse.wst.sse.ui.preferences.xml.source, org.eclipse.wst.sse.ui.preferences.xml.templates, org.eclipse.wst.sse.ui.preferences.xml.colors"
			target="org.eclipse.core.runtime.xml, org.eclipse.wst.xml.core.xmlsource" />
		<provisionalDefinition
			type="spellingregions"
			value="XML_COMMENT_TEXT, XML_CONTENT, XML_DEFAULT"
			target="org.eclipse.core.runtime.xml, org.eclipse.wst.xml.core.xmlsource" />
		<documentationTextHover
        	class="org.eclipse.wst.xml.ui.internal.taginfo.XMLTagInfoHoverProcessor"
        	target="org.eclipse.wst.xml.XML_DEFAULT">
  		</documentationTextHover>
	</extension>

	<extension
		point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory
			contentTypeId="org.eclipse.core.runtime.xml"
			class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory" />
		<factory
			contentTypeId="org.eclipse.wst.xml.core.xmlsource"
			class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory" />
	</extension>
	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.wst.xml.ui.internal.registry.AdapterFactoryProviderForXML">
			<contentType id="org.eclipse.core.runtime.xml" />
			<contentType id="org.eclipse.wst.xml.core.xmlsource" />
		</adapterFactoryDescription>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<!-- XML PREFERENCE PAGES -->
		<page
			name="%XML_Files.name"
			category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
			class="org.eclipse.wst.xml.ui.internal.preferences.XMLFilesPreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.xml">
         	<keywordReference id="org.eclipse.wst.xml.ui.files"/>
		</page>
		<page
			name="%XML_Source.name"
			category="org.eclipse.wst.sse.ui.preferences.xml"
			class="org.eclipse.wst.xml.ui.internal.preferences.XMLSourcePreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.xml.source">
         	<keywordReference id="org.eclipse.wst.xml.ui.source"/>
		</page>
		<page
			name="%XML_Templates.name"
			category="org.eclipse.wst.sse.ui.preferences.xml"
			class="org.eclipse.wst.xml.ui.internal.preferences.XMLTemplatePreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.xml.templates">
         	<keywordReference id="org.eclipse.wst.xml.ui.templates"/>
		</page>
		<page
			name="%XML_Syntax_Coloring"
			category="org.eclipse.wst.sse.ui.preferences.xml"
			class="org.eclipse.wst.xml.ui.internal.preferences.XMLSyntaxColoringPage"
			id="org.eclipse.wst.sse.ui.preferences.xml.colors">
         	<keywordReference id="org.eclipse.wst.xml.ui.styles"/>
		</page>
	</extension>
	
	<!-- Keywords for preference and properties pages -->
	<extension point="org.eclipse.ui.keywords">
		<keyword
			label="%preferenceKeywords.files"
			id="org.eclipse.wst.xml.ui.files"/>
		<keyword
			label="%preferenceKeywords.source"
			id="org.eclipse.wst.xml.ui.source"/>
		<keyword
			label="%preferenceKeywords.templates"
			id="org.eclipse.wst.xml.ui.templates"/>
		<keyword
			label="%preferenceKeywords.styles"
			id="org.eclipse.wst.xml.ui.styles"/>
		<keyword
			label="%preferenceKeywords.xmlcatalog"
			id="org.eclipse.wst.xml.ui.xmlcatalog"/>
    </extension>
	
	<!-- Editor actionsets -->
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
			<part id="org.eclipse.core.runtime.xml.source"></part>
			<part id="org.eclipse.core.runtime.xml.source2"></part>
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.ui.NavigateActionSet">
			<part id="org.eclipse.core.runtime.xml.source"></part>
			<part id="org.eclipse.core.runtime.xml.source2"></part>
		</actionSetPartAssociation>
	</extension>

	<!-- Templates -->
	<extension point="org.eclipse.ui.editors.templates">
		<contextType
			name="%All_XML_context_type_Extension_Element.name"
			class="org.eclipse.wst.xml.ui.internal.templates.TemplateContextTypeXML"
			id="xml_all">
		</contextType>
		<contextType
			name="%XML_New_context_type_Extension_Element.name"
			class="org.eclipse.wst.xml.ui.internal.templates.TemplateContextTypeXML"
			id="xml_new">
		</contextType>
		<contextType
			name="%XML_Tag_context_type_Extension_Element.name"
			class="org.eclipse.wst.xml.ui.internal.templates.TemplateContextTypeXML"
			id="xml_tag">
		</contextType>
		<contextType
			name="%XML_Attribute_context_type_Extension_Element.name"
			class="org.eclipse.wst.xml.ui.internal.templates.TemplateContextTypeXML"
			id="xml_attribute">
		</contextType>
		<contextType
			name="%XML_Attribute_value_context_type_Extension_Element.name"
			class="org.eclipse.wst.xml.ui.internal.templates.TemplateContextTypeXML"
			id="xml_attribute_value">
		</contextType>
		<include
			file="templates/xmldefault-templates.xml"
			translations="$nl$/templates/xmldefault-templates.properties">
		</include>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="%XML_Editor.name"
			icon="$nl$/icons/xmldoc.gif"
			contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
			class="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart"
			id="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
			<contentTypeBinding
				contentTypeId="org.eclipse.core.runtime.xml" />
			<contentTypeBinding
				contentTypeId="org.eclipse.wst.xml.core.xmlsource" />

		</editor>
	</extension>

	<!-- Editor actionsets -->
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
			<part
				id="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
			</part>
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.ui.NavigateActionSet">
			<part
				id="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart">
			</part>
		</actionSetPartAssociation>
	</extension>



	<!-- ================================================== -->
	<!-- Contribute a 'New Wizard' for XML files            -->
	<!-- ================================================== -->
	<extension point="org.eclipse.ui.newWizards">
		<category
			name="%_UI_WIZARD_NEW_XML"
			id="org.eclipse.wst.XMLCategory">
		</category>
		<wizard
			name="%_UI_WIZARD_NEW_XML"
			icon="$nl$/icons/XMLFile.gif"
			category="org.eclipse.wst.XMLCategory"
			class="org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard"
			id="org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard">
			<description>%_UI_CREATE_NEW_XML_FILE</description>
			<selection class="org.eclipse.core.resources.IResource">
			</selection>
		</wizard>
	</extension>

	<!-- =============================================================================== -->
	<!-- Allow the 'New XML' wizard to be accessed via the 'Generate' menu on a XSD file -->
	<!-- =============================================================================== -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.xsd"
			id="org.eclipse.wst.xmlwizard.createXMLFromXSD">
			<menu
				label="%genMenuLabel"
				path="additions"
				id="generateXMLArtifacts">
				<separator name="xml" />
			</menu>
			<action
				label="%_UI_ACTION_CREATE_XML"
				class="org.eclipse.wst.xml.ui.internal.wizards.XMLImportActionDelegate"
				menubarPath="generateXMLArtifacts/xml"
				enablesFor="1"
				id="org.eclipse.wst.xmlwizard.createXMLFromXSDAction">
			</action>
		</objectContribution>
	</extension>

	<!-- =============================================================================== -->
	<!-- Allow the 'New XML' wizard to be accessed via the 'Generate' menu on a DTD file -->
	<!-- =============================================================================== -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.dtd"
			id="org.eclipse.wst.xmlwizard.createXMLFromDTD">
			<menu
				label="%genMenuLabel"
				path="additions"
				id="generateXMLArtifacts">
				<separator name="xml" />
			</menu>
			<action
				label="%_UI_ACTION_CREATE_XML"
				class="org.eclipse.wst.xml.ui.internal.wizards.XMLImportActionDelegate"
				menubarPath="generateXMLArtifacts/xml"
				enablesFor="1"
				id="org.eclipse.wst.xmlwizard.createXMLFromDTDAction">
			</action>
		</objectContribution>
	</extension>

	<!-- =============================================================================== -->
	<!-- Contribute a New->Example... entry for Editing and Validating XML files         -->
	<!-- =============================================================================== -->

	<!-- define the XMLSamples project wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<category
			name="%_UI_WIZARD_NEW_XML"
			parentCategory="org.eclipse.ui.Examples"
			id="org.eclipse.wst.xml.examples">
		</category>
		<wizard
			name="%XMLExample.name"
			class="org.eclipse.wst.xml.ui.internal.wizards.ExampleProjectCreationWizard"
			category="org.eclipse.ui.Examples/org.eclipse.wst.xml.examples"
			id="org.eclipse.wst.xml.ui.XMLExampleProjectCreationWizard"
			project="true"
			icon="$nl$/icons/newSampleProject_wiz.gif">
			<description>
				%XMLExampleProjectCreationWizard.description
			</description>
		</wizard>
	</extension>

	<!-- configure the XMLSamples project wizard -->
	<extension
		point="org.eclipse.wst.common.ui.exampleProjectCreationWizard"
		id="XMLExampleProjectCreationWizardExtension">
		<wizard
			id="org.eclipse.wst.xml.ui.XMLExampleProjectCreationWizard"
			banner="icons/newSampleProject_wizbanner.png">
			<projectsetup
				pagetitle="%XMLExampleProjectCreationWizard.pagetitle"
				name="%XMLExampleProjectCreationWizard.projectname"
				label="%XMLExampleProjectCreationWizard.label"
				pagedescription="%XMLExampleProjectCreationWizard.pagedescription"
				open="readme.html">
				<import
					dest=""
					src="examples/EditingAndValidatingXML.zip" />
			</projectsetup>
		</wizard>
	</extension>

	<!-- initialize xml ui preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.xml.ui.internal.preferences.XMLUIPreferenceInitializer" />
	</extension>

	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="total"
			class="org.eclipse.wst.xml.ui.internal.validation.DelegatingSourceValidatorForXML"
			id="org.eclipse.wst.xml.ui.internal.validation.DelegatingSourceValidatorForXML">
			<contentTypeIdentifier id="org.eclipse.core.runtime.xml">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
			</contentTypeIdentifier>
			<contentTypeIdentifier id="org.eclipse.wst.xml.core.xmlsource">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
			</contentTypeIdentifier>
		</validator>
	</extension>
	
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="partial"
			class="org.eclipse.wst.xml.ui.internal.validation.MarkupValidator"
			id="org.eclipse.wst.xml.ui.internal.validation.markupvalidator">
			<contentTypeIdentifier id="org.eclipse.core.runtime.xml">
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
			</contentTypeIdentifier>
			<contentTypeIdentifier id="org.eclipse.wst.xml.core.xmlsource">
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
			</contentTypeIdentifier>
		</validator>
	</extension>
	
	<!--======================================================================================-->
	<!-- Document provider for ExternalFileEditorInput                                        -->
	<!--======================================================================================-->
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider
			inputTypes="org.eclipse.wst.xml.ui.internal.hyperlink.ExternalFileEditorInput"
			class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
			id="org.eclipse.wst.xml.ui.internal.ExternalFileDocumentProvider">
		</provider>
	</extension>


	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.core.runtime.xml.source.RulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction">
			</action>
			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction">
			</action>
		</viewerContribution>
	</extension>

	<!-- ====================================================== -->
	<!-- An extension for creating nested validation messages.  -->
	<!-- This extension should be moved when the referenced     -->
	<!-- files dialog is moved to another plugin.               -->
	<!-- ====================================================== -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			objectClass="org.eclipse.core.resources.IMarker"
			id="org.eclipse.wst.xml.ui.internal.validation.nestederrorlist"
			nameFilter="*">
			<filter
				name="done"
				value="true">
			</filter>
			<filter
				name="type"
				value="org.eclipse.wst.validation.problemmarker">
			</filter>
			<action
				label="%_UI_REF_FILE_SHOW_DETAILS"
				class="org.eclipse.wst.xml.ui.internal.validation.core.errorinfo.ReferencedFileErrorActionDelegate"
				id="org.eclipse.wst.xml.ui.internal.validation.core.errorinfo.ReferencedFileErrorActionDelegate">
			</action>
		</objectContribution>
	</extension>

	
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.eclipse.core.runtime.xml.source.editorActions"
			targetID="org.eclipse.core.runtime.xml.source">
			<action
				id="CleanupDocument"
				label="%CleanupDocument_label"
				definitionId="org.eclipse.wst.sse.ui.cleanup.document"
				tooltip="%CleanupDocument_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.CleanupActionXMLDelegate"
				actionID="CleanupDocument">
			</action>
			<action
				id="ToggleComment"
				label="%ToggleComment_label"
				definitionId="org.eclipse.wst.sse.ui.toggle.comment"
				tooltip="%ToggleComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.ToggleCommentActionXMLDelegate"
				actionID="ToggleComment">
			</action>
			<action
				id="AddBlockComment"
				label="%AddBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.add.block.comment"
				tooltip="%AddBlockComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.AddBlockCommentActionXMLDelegate"
				actionID="AddBlockComment">
			</action>
			<action
				id="RemoveBlockComment"
				label="%RemoveBlockComment_label"
				definitionId="org.eclipse.wst.sse.ui.remove.block.comment"
				tooltip="%RemoveBlockComment_tooltip"
				class="org.eclipse.wst.xml.ui.internal.actions.RemoveBlockCommentActionXMLDelegate"
				actionID="RemoveBlockComment">
			</action>
			<action
				id="FindOccurrences"
				label="%FindOccurrences_label"
				definitionId="org.eclipse.wst.sse.ui.search.find.occurrences"
				class="org.eclipse.wst.xml.ui.internal.search.XMLFindOccurrencesActionDelegate"
				actionID="FindOccurrences">
			</action>
			<action
				id="StructureSelectEnclosing"
				label="%StructureSelectEnclosing_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.enclosing"
				tooltip="%StructureSelectEnclosing_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectEnclosingXMLActionDelegate"
				actionID="StructureSelectEnclosing">
			</action>
			<action
				id="StructureSelectNext"
				label="%StructureSelectNext_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.next"
				tooltip="%StructureSelectNext_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectNextXMLActionDelegate"
				actionID="StructureSelectNext">
			</action>
			<action
				id="StructureSelectPrevious"
				label="%StructureSelectPrevious_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.previous"
				tooltip="%StructureSelectPrevious_tooltip"
				class="org.eclipse.wst.xml.ui.internal.selection.StructuredSelectPreviousXMLActionDelegate"
				actionID="StructureSelectPrevious">
			</action>
			<action
				id="StructureSelectHistory"
				label="%StructureSelectHistory_label"
				definitionId="org.eclipse.wst.sse.ui.structure.select.last"
				tooltip="%StructureSelectHistory_tooltip"
				class="org.eclipse.wst.sse.ui.internal.selection.StructuredSelectHistoryActionDelegate"
				actionID="StructureSelectHistory">
			</action>
		</editorContribution>
        <editorContribution
            targetID="org.eclipse.core.runtime.xml.source"
            id="org.eclipse.core.runtime.xml.source.ruler.actions">
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
         <action
               label="%SelectRuler.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction"/>
        </editorContribution>
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target
			id="org.eclipse.core.runtime.xml"
			name="%XML_Source_target_name">
		</target>
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="org.eclipse.wst.xml.ui.internal.hyperlink.XMLHyperlinkDetector"
			id="org.eclipse.wst.xml.ui.internal.hyperlink.XMLHyperlinkDetector"
			name="%XML_hyperlink"
			targetId="org.eclipse.core.runtime.xml">
		</hyperlinkDetector>
   </extension>
</plugin>
