<?json version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="$nl$/icons/full/obj16/json-16.png"
            id="org.eclipse.wst.json.eslint.ui.ESLint"
            label="%ESLint_File_decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
         <and>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
            <objectState name="contentTypeId"
                 value="org.eclipse.wst.json.eslint.core.eslintsource"/>
         </and>
      </enablement>
      </decorator>
	</extension>

</plugin>
