<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.xsl.launching.processorType">
      <processorType
            featureProperties="SaxonFeatures.properties"
            id="org.eclipse.wst.xsl.saxon_1_0.processorType"
            label="%processorType.label.1"
            outputProperties="SaxonOutputProperties.properties"
            transformerFactory="com.icl.saxon.TransformerFactoryImpl">
      </processorType>
      <processorType
            featureProperties="SaxonFeatures.properties"
            id="org.eclipse.wst.xsl.saxon.processorType"
            label="%processorType.label.0"
            outputProperties="SaxonOutputProperties.properties"
            transformerFactory="net.sf.saxon.TransformerFactoryImpl">
      </processorType>
      
   </extension>

</plugin>
