<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.xsl.launching.processorType">
      <processorType
            featureProperties="SaxonFeatures.properties"
            id="org.eclipse.wst.xsl.saxon.processorType"
            label="Saxon"
            outputProperties="SaxonOutputProperties.properties"
            transformerFactory="net.sf.saxon.TransformerFactoryImpl">
      </processorType>
   </extension>
   <extension
         point="org.eclipse.wst.xsl.launching.debugger">
      <debugger
            className="org.eclipse.wst.xsl.xalan.debugger.SaxonDebugger"
            classpath="saxon-debugger.jar"
            id="org.eclipse.wst.xsl.saxon.debugger"
            name="Saxon Debugger"
            processorTypeId="org.eclipse.wst.xsl.saxon.processorType">
      </debugger>
   </extension>

</plugin>
