<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
        <extension point="org.eclipse.ui.editors">
                <editor
                        name="%XML_Source_Page_Editor.name"
                        icon="icons/sourceEditor.gif"
                        contributorClass="org.eclipse.wst.xml.ui.internal.actions.ActionContributorXML"
                        class="org.eclipse.wst.sse.ui.StructuredTextEditor"
                        symbolicFontName="org.eclipse.wst.sse.ui.textfont"
                        id="org.eclipse.core.runtime.xml.source">
                        <contentTypeBinding
                                contentTypeId="org.eclipse.core.runtime.xml" />
                        <contentTypeBinding
                                contentTypeId="org.eclipse.wst.xml.core.xmlsource" />
                </editor>
        </extension>

	<extension-point id="additionalTests" name="%additionalTests" schema="schema/additionalTests.exsd"/>

</plugin>
