[@charset] CHARSET - 0, 8
[ ] S - 8, 1
["ISO-8859-1"] STRING - 9, 12
[;] DELIMITER - 21, 1
[

] S - 22, 4
[@import] IMPORT - 26, 7
[ ] S - 33, 1
[url("hoge.css")] URI - 34, 15
[;] DELIMITER - 49, 1
[
] S - 50, 2
[@import] IMPORT - 52, 7
[ ] S - 59, 1
[/* comment */] COMMENT - 60, 13
[ ] S - 73, 1
[url(hoge.css)] URI - 74, 13
[;] DELIMITER - 87, 1
[
] S - 88, 2
[@import] IMPORT - 90, 7
[ ] S - 97, 1
["hoge.css"] STRING - 98, 10
[ ] S - 108, 1
[/* comment */] COMMENT - 109, 13
[;] DELIMITER - 122, 1
[
] S - 123, 2
[@IMPORT] IMPORT - 125, 7
[ ] S - 132, 1
['hoge.css'] STRING - 133, 10
[ ] S - 143, 1
[media1] MEDIUM - 144, 6
[,] MEDIA_SEPARATOR - 150, 1
[media2] MEDIUM - 151, 6
[ ] S - 157, 1
[,] MEDIA_SEPARATOR - 158, 1
[ ] S - 159, 1
[media3] MEDIUM - 160, 6
[;] DELIMITER - 166, 1
[

] S - 167, 4
[@media] MEDIA - 171, 6
[ ] S - 177, 1
[print] MEDIUM - 178, 5
[ ] S - 183, 1
[{] LBRACE - 184, 1
[

] S - 185, 4
[}] RBRACE - 189, 1
[

] S - 190, 4
[@page] PAGE - 194, 5
[ ] S - 199, 1
[:left] CSS_PAGE_SELECTOR - 200, 5
[ ] S - 205, 1
[{] LBRACE - 206, 1
[

] S - 207, 4
[}] RBRACE - 211, 1
[

] S - 212, 4
[h1] SELECTOR_ELEMENT_NAME - 216, 2
[,] SELECTOR_SEPARATOR - 218, 1
[ ] S - 219, 1
[h2] SELECTOR_ELEMENT_NAME - 220, 2
[,] SELECTOR_SEPARATOR - 222, 1
[ ] S - 223, 1
[h3] SELECTOR_ELEMENT_NAME - 224, 2
[ ] S - 226, 1
[{] LBRACE - 227, 1
[  ] S - 228, 2
[font-family] DECLARATION_PROPERTY - 230, 11
[:] DECLARATION_SEPARATOR - 241, 1
[ ] S - 242, 1
[sans-serif] DECLARATION_VALUE_IDENT - 243, 10
[  ] S - 253, 2
[}] RBRACE - 255, 1
[
] S - 256, 2
[h1] SELECTOR_ELEMENT_NAME - 258, 2
[ ] SELECTOR_COMBINATOR - 260, 1
[em] SELECTOR_ELEMENT_NAME - 261, 2
[ ] S - 263, 1
[{] LBRACE - 264, 1
[  ] S - 265, 2
[color] DECLARATION_PROPERTY - 267, 5
[:] DECLARATION_SEPARATOR - 272, 1
[ ] S - 273, 1
[blue] DECLARATION_VALUE_IDENT - 274, 4
[  ] S - 278, 2
[}] RBRACE - 280, 1
[
] S - 281, 2
[div] SELECTOR_ELEMENT_NAME - 283, 3
[ ] SELECTOR_COMBINATOR - 286, 1
[p] SELECTOR_ELEMENT_NAME - 287, 1
[ ] SELECTOR_COMBINATOR - 288, 1
[*] SELECTOR_UNIVERSAL - 289, 1
[[] SELECTOR_ATTRIBUTE_START - 290, 1
[href] SELECTOR_ATTRIBUTE_NAME - 291, 4
[]] SELECTOR_ATTRIBUTE_END - 295, 1
[ ] S - 296, 1
[{] LBRACE - 297, 1
[  ] S - 298, 2
[color] DECLARATION_PROPERTY - 300, 5
[:] DECLARATION_SEPARATOR - 305, 1
[ ] S - 306, 1
[blue] DECLARATION_VALUE_IDENT - 307, 4
[  ] S - 311, 2
[}] RBRACE - 313, 1
[
] S - 314, 2
[body] SELECTOR_ELEMENT_NAME - 316, 4
[ ] S - 320, 1
[>] SELECTOR_COMBINATOR - 321, 1
[ ] S - 322, 1
[P] SELECTOR_ELEMENT_NAME - 323, 1
[ ] S - 324, 1
[{] LBRACE - 325, 1
[  ] S - 326, 2
[line-height] DECLARATION_PROPERTY - 328, 11
[:] DECLARATION_SEPARATOR - 339, 1
[ ] S - 340, 1
[1.3] DECLARATION_VALUE_NUMBER - 341, 3
[  ] S - 344, 2
[}] RBRACE - 346, 1
[
] S - 347, 2
[div] SELECTOR_ELEMENT_NAME - 349, 3
[ ] SELECTOR_COMBINATOR - 352, 1
[ol] SELECTOR_ELEMENT_NAME - 353, 2
[>] SELECTOR_COMBINATOR - 355, 1
[li] SELECTOR_ELEMENT_NAME - 356, 2
[ ] SELECTOR_COMBINATOR - 358, 1
[p] SELECTOR_ELEMENT_NAME - 359, 1
[ ] S - 360, 1
[{] LBRACE - 361, 1
[ ] S - 362, 1
[}] RBRACE - 363, 1
[
] S - 364, 2
[math] SELECTOR_ELEMENT_NAME - 366, 4
[ ] S - 370, 1
[+] SELECTOR_COMBINATOR - 371, 1
[ ] S - 372, 1
[p] SELECTOR_ELEMENT_NAME - 373, 1
[ ] S - 374, 1
[{] LBRACE - 375, 1
[  ] S - 376, 2
[text-indent] DECLARATION_PROPERTY - 378, 11
[:] DECLARATION_SEPARATOR - 389, 1
[ ] S - 390, 1
[0] DECLARATION_VALUE_NUMBER - 391, 1
[  ] S - 392, 2
[}] RBRACE - 394, 1
[
] S - 395, 2
[h1] SELECTOR_ELEMENT_NAME - 397, 2
[.opener] SELECTOR_CLASS - 399, 7
[ ] S - 406, 1
[+] SELECTOR_COMBINATOR - 407, 1
[ ] S - 408, 1
[h2] SELECTOR_ELEMENT_NAME - 409, 2
[ ] S - 411, 1
[{] LBRACE - 412, 1
[  ] S - 413, 2
[margin-top] DECLARATION_PROPERTY - 415, 10
[:] DECLARATION_SEPARATOR - 425, 1
[ ] S - 426, 1
[-5mm] DECLARATION_VALUE_DIMENSION - 427, 4
[  ] S - 431, 2
[}] RBRACE - 433, 1
[
] S - 434, 2
[h1] SELECTOR_ELEMENT_NAME - 436, 2
[[] SELECTOR_ATTRIBUTE_START - 438, 1
[title] SELECTOR_ATTRIBUTE_NAME - 439, 5
[]] SELECTOR_ATTRIBUTE_END - 444, 1
[ ] S - 445, 1
[{] LBRACE - 446, 1
[  ] S - 447, 2
[color] DECLARATION_PROPERTY - 449, 5
[:] DECLARATION_SEPARATOR - 454, 1
[ ] S - 455, 1
[blue] DECLARATION_VALUE_IDENT - 456, 4
[;] DECLARATION_DELIMITER - 460, 1
[  ] S - 461, 2
[}] RBRACE - 463, 1
[
] S - 464, 2
[span] SELECTOR_ELEMENT_NAME - 466, 4
[[] SELECTOR_ATTRIBUTE_START - 470, 1
[class] SELECTOR_ATTRIBUTE_NAME - 471, 5
[=] SELECTOR_ATTRIBUTE_OPERATOR - 476, 1
[example] SELECTOR_ATTRIBUTE_VALUE - 477, 7
[]] SELECTOR_ATTRIBUTE_END - 484, 1
[ ] S - 485, 1
[{] LBRACE - 486, 1
[  ] S - 487, 2
[color] DECLARATION_PROPERTY - 489, 5
[:] DECLARATION_SEPARATOR - 494, 1
[ ] S - 495, 1
[blue] DECLARATION_VALUE_IDENT - 496, 4
[;] DECLARATION_DELIMITER - 500, 1
[  ] S - 501, 2
[}] RBRACE - 503, 1
[
] S - 504, 2
[span] SELECTOR_ELEMENT_NAME - 506, 4
[[] SELECTOR_ATTRIBUTE_START - 510, 1
[hello] SELECTOR_ATTRIBUTE_NAME - 511, 5
[=] SELECTOR_ATTRIBUTE_OPERATOR - 516, 1
["Cleveland"] SELECTOR_ATTRIBUTE_VALUE - 517, 11
[]] SELECTOR_ATTRIBUTE_END - 528, 1
[[] SELECTOR_ATTRIBUTE_START - 529, 1
[goodbye] SELECTOR_ATTRIBUTE_NAME - 530, 7
[=] SELECTOR_ATTRIBUTE_OPERATOR - 537, 1
["Columbus"] SELECTOR_ATTRIBUTE_VALUE - 538, 10
[]] SELECTOR_ATTRIBUTE_END - 548, 1
[ ] S - 549, 1
[{] LBRACE - 550, 1
[  ] S - 551, 2
[color] DECLARATION_PROPERTY - 553, 5
[:] DECLARATION_SEPARATOR - 558, 1
[ ] S - 559, 1
[blue] DECLARATION_VALUE_IDENT - 560, 4
[;] DECLARATION_DELIMITER - 564, 1
[  ] S - 565, 2
[}] RBRACE - 567, 1
[
] S - 568, 2
[a] SELECTOR_ELEMENT_NAME - 570, 1
[[] SELECTOR_ATTRIBUTE_START - 571, 1
[rel] SELECTOR_ATTRIBUTE_NAME - 572, 3
[~=] SELECTOR_ATTRIBUTE_OPERATOR - 575, 2
["copyright"] SELECTOR_ATTRIBUTE_VALUE - 577, 11
[]] SELECTOR_ATTRIBUTE_END - 588, 1
[ ] S - 589, 1
[{] LBRACE - 590, 1
[  ] S - 591, 2
[color] DECLARATION_PROPERTY - 593, 5
[:] DECLARATION_SEPARATOR - 598, 1
[ ] S - 599, 1
[blue] DECLARATION_VALUE_IDENT - 600, 4
[  ] S - 604, 2
[}] RBRACE - 606, 1
[
] S - 607, 2
[a] SELECTOR_ELEMENT_NAME - 609, 1
[[] SELECTOR_ATTRIBUTE_START - 610, 1
[href] SELECTOR_ATTRIBUTE_NAME - 611, 4
[=] SELECTOR_ATTRIBUTE_OPERATOR - 615, 1
["http://www.w3.org/"] SELECTOR_ATTRIBUTE_VALUE - 616, 20
[]] SELECTOR_ATTRIBUTE_END - 636, 1
[ ] S - 637, 1
[{] LBRACE - 638, 1
[  ] S - 639, 2
[color] DECLARATION_PROPERTY - 641, 5
[:] DECLARATION_SEPARATOR - 646, 1
[ ] S - 647, 1
[blue] DECLARATION_VALUE_IDENT - 648, 4
[  ] S - 652, 2
[}] RBRACE - 654, 1
[
] S - 655, 2
[*] SELECTOR_UNIVERSAL - 657, 1
[[] SELECTOR_ATTRIBUTE_START - 658, 1
[lang] SELECTOR_ATTRIBUTE_NAME - 659, 4
[=] SELECTOR_ATTRIBUTE_OPERATOR - 663, 1
[fr] SELECTOR_ATTRIBUTE_VALUE - 664, 2
[]] SELECTOR_ATTRIBUTE_END - 666, 1
[ ] S - 667, 1
[{] LBRACE - 668, 1
[  ] S - 669, 2
[display] DECLARATION_PROPERTY - 671, 7
[ ] S - 678, 1
[:] DECLARATION_SEPARATOR - 679, 1
[ ] S - 680, 1
[none] DECLARATION_VALUE_IDENT - 681, 4
[  ] S - 685, 2
[}] RBRACE - 687, 1
[
] S - 688, 2
[*] SELECTOR_UNIVERSAL - 690, 1
[[] SELECTOR_ATTRIBUTE_START - 691, 1
[lang] SELECTOR_ATTRIBUTE_NAME - 692, 4
[|=] SELECTOR_ATTRIBUTE_OPERATOR - 696, 2
["en"] SELECTOR_ATTRIBUTE_VALUE - 698, 4
[]] SELECTOR_ATTRIBUTE_END - 702, 1
[ ] S - 703, 1
[{] LBRACE - 704, 1
[  ] S - 705, 2
[color] DECLARATION_PROPERTY - 707, 5
[ ] S - 712, 1
[:] DECLARATION_SEPARATOR - 713, 1
[ ] S - 714, 1
[red] DECLARATION_VALUE_IDENT - 715, 3
[  ] S - 718, 2
[}] RBRACE - 720, 1
[
] S - 721, 2
[DIALOGUE] SELECTOR_ELEMENT_NAME - 723, 8
[[] SELECTOR_ATTRIBUTE_START - 731, 1
[character] SELECTOR_ATTRIBUTE_NAME - 732, 9
[=] SELECTOR_ATTRIBUTE_OPERATOR - 741, 1
[romeo] SELECTOR_ATTRIBUTE_VALUE - 742, 5
[]] SELECTOR_ATTRIBUTE_END - 747, 1
[
] S - 748, 2
[{] LBRACE - 750, 1
[  ] S - 751, 2
[voice-family] DECLARATION_PROPERTY - 753, 12
[:] DECLARATION_SEPARATOR - 765, 1
[ ] S - 766, 1
["Lawrence Olivier"] DECLARATION_VALUE_STRING - 767, 18
[,] DECLARATION_VALUE_OPERATOR - 785, 1
[ ] DECLARATION_VALUE_S - 786, 1
[charles] DECLARATION_VALUE_IDENT - 787, 7
[,] DECLARATION_VALUE_OPERATOR - 794, 1
[ ] DECLARATION_VALUE_S - 795, 1
[male] DECLARATION_VALUE_IDENT - 796, 4
[  ] S - 800, 2
[}] RBRACE - 802, 1
[
] S - 803, 2
[DIALOGUE] SELECTOR_ELEMENT_NAME - 805, 8
[[] SELECTOR_ATTRIBUTE_START - 813, 1
[ ] S - 814, 1
[character] SELECTOR_ATTRIBUTE_NAME - 815, 9
[ ] S - 824, 1
[=] SELECTOR_ATTRIBUTE_OPERATOR - 825, 1
[ ] S - 826, 1
[juliet] SELECTOR_ATTRIBUTE_VALUE - 827, 6
[ ] S - 833, 1
[]] SELECTOR_ATTRIBUTE_END - 834, 1
[
] S - 835, 2
[{] LBRACE - 837, 1
[  ] S - 838, 2
[voice-family] DECLARATION_PROPERTY - 840, 12
[:] DECLARATION_SEPARATOR - 852, 1
[ ] S - 853, 1
["Vivien Leigh"] DECLARATION_VALUE_STRING - 854, 14
[,] DECLARATION_VALUE_OPERATOR - 868, 1
[ ] DECLARATION_VALUE_S - 869, 1
[victoria] DECLARATION_VALUE_IDENT - 870, 8
[,] DECLARATION_VALUE_OPERATOR - 878, 1
[ ] DECLARATION_VALUE_S - 879, 1
[female] DECLARATION_VALUE_IDENT - 880, 6
[  ] S - 886, 2
[}] RBRACE - 888, 1
[
] S - 889, 2
[*] SELECTOR_UNIVERSAL - 891, 1
[.pastoral] SELECTOR_CLASS - 892, 9
[ ] S - 901, 1
[{] LBRACE - 902, 1
[  ] S - 903, 2
[color] DECLARATION_PROPERTY - 905, 5
[:] DECLARATION_SEPARATOR - 910, 1
[ ] S - 911, 1
[green] DECLARATION_VALUE_IDENT - 912, 5
[  ] S - 917, 2
[}] RBRACE - 919, 1
[
] S - 920, 2
[.pastoral] SELECTOR_CLASS - 922, 9
[ ] S - 931, 1
[{] LBRACE - 932, 1
[  ] S - 933, 2
[color] DECLARATION_PROPERTY - 935, 5
[:] DECLARATION_SEPARATOR - 940, 1
[ ] S - 941, 1
[green] DECLARATION_VALUE_IDENT - 942, 5
[  ] S - 947, 2
[}] RBRACE - 949, 1
[
] S - 950, 2
[H1] SELECTOR_ELEMENT_NAME - 952, 2
[.pastoral] SELECTOR_CLASS - 954, 9
[ ] S - 963, 1
[{] LBRACE - 964, 1
[  ] S - 965, 2
[color] DECLARATION_PROPERTY - 967, 5
[:] DECLARATION_SEPARATOR - 972, 1
[ ] S - 973, 1
[green] DECLARATION_VALUE_IDENT - 974, 5
[  ] S - 979, 2
[}] RBRACE - 981, 1
[
] S - 982, 2
[p] SELECTOR_ELEMENT_NAME - 984, 1
[.pastoral] SELECTOR_CLASS - 985, 9
[.marine] SELECTOR_CLASS - 994, 7
[ ] S - 1001, 1
[{] LBRACE - 1002, 1
[  ] S - 1003, 2
[color] DECLARATION_PROPERTY - 1005, 5
[:] DECLARATION_SEPARATOR - 1010, 1
[ ] S - 1011, 1
[green] DECLARATION_VALUE_IDENT - 1012, 5
[  ] S - 1017, 2
[}] RBRACE - 1019, 1
[
] S - 1020, 2
[h1] SELECTOR_ELEMENT_NAME - 1022, 2
[#chapter1] SELECTOR_ID - 1024, 9
[ ] S - 1033, 1
[{] LBRACE - 1034, 1
[  ] S - 1035, 2
[text-align] DECLARATION_PROPERTY - 1037, 10
[:] DECLARATION_SEPARATOR - 1047, 1
[ ] S - 1048, 1
[center] DECLARATION_VALUE_IDENT - 1049, 6
[  ] S - 1055, 2
[}] RBRACE - 1057, 1
[
] S - 1058, 2
[div] SELECTOR_ELEMENT_NAME - 1060, 3
[ ] S - 1063, 1
[>] SELECTOR_COMBINATOR - 1064, 1
[ ] S - 1065, 1
[p] SELECTOR_ELEMENT_NAME - 1066, 1
[:first-child] SELECTOR_PSEUDO - 1067, 12
[ ] S - 1079, 1
[{] LBRACE - 1080, 1
[  ] S - 1081, 2
[text-indent] DECLARATION_PROPERTY - 1083, 11
[:] DECLARATION_SEPARATOR - 1094, 1
[ ] S - 1095, 1
[0] DECLARATION_VALUE_NUMBER - 1096, 1
[  ] S - 1097, 2
[}] RBRACE - 1099, 1
[
] S - 1100, 2
[p] SELECTOR_ELEMENT_NAME - 1102, 1
[:first-child] SELECTOR_PSEUDO - 1103, 12
[ ] SELECTOR_COMBINATOR - 1115, 1
[em] SELECTOR_ELEMENT_NAME - 1116, 2
[ ] S - 1118, 1
[{] LBRACE - 1119, 1
[  ] S - 1120, 2
[font-weight] DECLARATION_PROPERTY - 1122, 11
[ ] S - 1133, 1
[:] DECLARATION_SEPARATOR - 1134, 1
[ ] S - 1135, 1
[bold] DECLARATION_VALUE_IDENT - 1136, 4
[  ] S - 1140, 2
[}] RBRACE - 1142, 1
[
] S - 1143, 2
[*] SELECTOR_UNIVERSAL - 1145, 1
[ ] S - 1146, 1
[>] SELECTOR_COMBINATOR - 1147, 1
[ ] S - 1148, 1
[a] SELECTOR_ELEMENT_NAME - 1149, 1
[:first-child] SELECTOR_PSEUDO - 1150, 12
[ ] S - 1162, 1
[{] LBRACE - 1163, 1
[  ] S - 1164, 2
[font-weight] DECLARATION_PROPERTY - 1166, 11
[ ] S - 1177, 1
[:] DECLARATION_SEPARATOR - 1178, 1
[ ] S - 1179, 1
[bold] DECLARATION_VALUE_IDENT - 1180, 4
[  ] S - 1184, 2
[}] RBRACE - 1186, 1
[
] S - 1187, 2
[a] SELECTOR_ELEMENT_NAME - 1189, 1
[:first-child] SELECTOR_PSEUDO - 1190, 12
[ ] S - 1202, 1
[{] LBRACE - 1203, 1
[  ] S - 1204, 2
[font-weight] DECLARATION_PROPERTY - 1206, 11
[ ] S - 1217, 1
[:] DECLARATION_SEPARATOR - 1218, 1
[ ] S - 1219, 1
[bold] DECLARATION_VALUE_IDENT - 1220, 4
[  ] S - 1224, 2
[}] RBRACE - 1226, 1
[
] S - 1227, 2
[a] SELECTOR_ELEMENT_NAME - 1229, 1
[.external] SELECTOR_CLASS - 1230, 9
[:visited] SELECTOR_PSEUDO - 1239, 8
[ ] S - 1247, 1
[{] LBRACE - 1248, 1
[  ] S - 1249, 2
[color] DECLARATION_PROPERTY - 1251, 5
[:] DECLARATION_SEPARATOR - 1256, 1
[ ] S - 1257, 1
[blue] DECLARATION_VALUE_IDENT - 1258, 4
[  ] S - 1262, 2
[}] RBRACE - 1264, 1
[
] S - 1265, 2
[a] SELECTOR_ELEMENT_NAME - 1267, 1
[:focus] SELECTOR_PSEUDO - 1268, 6
[:hover] SELECTOR_PSEUDO - 1274, 6
[ ] S - 1280, 1
[{] LBRACE - 1281, 1
[  ] S - 1282, 2
[background] DECLARATION_PROPERTY - 1284, 10
[:] DECLARATION_SEPARATOR - 1294, 1
[ ] S - 1295, 1
[white] DECLARATION_VALUE_IDENT - 1296, 5
[  ] S - 1301, 2
[}] RBRACE - 1303, 1
[
] S - 1304, 2
[html] SELECTOR_ELEMENT_NAME - 1306, 4
[:lang(fr)] SELECTOR_PSEUDO - 1310, 9
[ ] S - 1319, 1
[{] LBRACE - 1320, 1
[  ] S - 1321, 2
[quotes] DECLARATION_PROPERTY - 1323, 6
[:] DECLARATION_SEPARATOR - 1329, 1
[ ] S - 1330, 1
['<<'] DECLARATION_VALUE_STRING - 1331, 4
[ ] DECLARATION_VALUE_S - 1335, 1
['>>'] DECLARATION_VALUE_STRING - 1336, 4
[  ] S - 1340, 2
[}] RBRACE - 1342, 1
[
] S - 1343, 2
[html] SELECTOR_ELEMENT_NAME - 1345, 4
[:lang(de)] SELECTOR_PSEUDO - 1349, 9
[ ] S - 1358, 1
[{] LBRACE - 1359, 1
[  ] S - 1360, 2
[quotes] DECLARATION_PROPERTY - 1362, 6
[:] DECLARATION_SEPARATOR - 1368, 1
[ ] S - 1369, 1
['>>'] DECLARATION_VALUE_STRING - 1370, 4
[ ] DECLARATION_VALUE_S - 1374, 1
['<<'] DECLARATION_VALUE_STRING - 1375, 4
[ ] DECLARATION_VALUE_S - 1379, 1
['\2039'] DECLARATION_VALUE_STRING - 1380, 7
[ ] DECLARATION_VALUE_S - 1387, 1
['\203A'] DECLARATION_VALUE_STRING - 1388, 7
[  ] S - 1395, 2
[}] RBRACE - 1397, 1
[
] S - 1398, 2
[:lang(fr)] SELECTOR_PSEUDO - 1400, 9
[ ] S - 1409, 1
[>] SELECTOR_COMBINATOR - 1410, 1
[ ] S - 1411, 1
[Q] SELECTOR_ELEMENT_NAME - 1412, 1
[ ] S - 1413, 1
[{] LBRACE - 1414, 1
[  ] S - 1415, 2
[quotes] DECLARATION_PROPERTY - 1417, 6
[:] DECLARATION_SEPARATOR - 1423, 1
[ ] S - 1424, 1
['<<'] DECLARATION_VALUE_STRING - 1425, 4
[ ] DECLARATION_VALUE_S - 1429, 1
['>>'] DECLARATION_VALUE_STRING - 1430, 4
[  ] S - 1434, 2
[}] RBRACE - 1436, 1
[
] S - 1437, 2
[:lang(de)] SELECTOR_PSEUDO - 1439, 9
[ ] S - 1448, 1
[>] SELECTOR_COMBINATOR - 1449, 1
[ ] S - 1450, 1
[Q] SELECTOR_ELEMENT_NAME - 1451, 1
[ ] S - 1452, 1
[{] LBRACE - 1453, 1
[  ] S - 1454, 2
[quotes] DECLARATION_PROPERTY - 1456, 6
[:] DECLARATION_SEPARATOR - 1462, 1
[ ] S - 1463, 1
['>>'] DECLARATION_VALUE_STRING - 1464, 4
[ ] DECLARATION_VALUE_S - 1468, 1
['<<'] DECLARATION_VALUE_STRING - 1469, 4
[ ] DECLARATION_VALUE_S - 1473, 1
['\2039'] DECLARATION_VALUE_STRING - 1474, 7
[ ] DECLARATION_VALUE_S - 1481, 1
['\203A'] DECLARATION_VALUE_STRING - 1482, 7
[  ] S - 1489, 2
[}] RBRACE - 1491, 1
[
] S - 1492, 2
[p] SELECTOR_ELEMENT_NAME - 1494, 1
[:first-letter] SELECTOR_PSEUDO - 1495, 13
[ ] S - 1508, 1
[{] LBRACE - 1509, 1
[  ] S - 1510, 2
[font-size] DECLARATION_PROPERTY - 1512, 9
[:] DECLARATION_SEPARATOR - 1521, 1
[ ] S - 1522, 1
[3em] DECLARATION_VALUE_DIMENSION - 1523, 3
[;] DECLARATION_DELIMITER - 1526, 1
[ ] S - 1527, 1
[font-weight] DECLARATION_PROPERTY - 1528, 11
[:] DECLARATION_SEPARATOR - 1539, 1
[ ] S - 1540, 1
[normal] DECLARATION_VALUE_IDENT - 1541, 6
[  ] S - 1547, 2
[}] RBRACE - 1549, 1
[
] S - 1550, 2
[p] SELECTOR_ELEMENT_NAME - 1552, 1
[.special] SELECTOR_CLASS - 1553, 8
[:before] SELECTOR_PSEUDO - 1561, 7
[ ] S - 1568, 1
[{] LBRACE - 1569, 1
[ ] S - 1570, 1
[content] DECLARATION_PROPERTY - 1571, 7
[:] DECLARATION_SEPARATOR - 1578, 1
[ ] S - 1579, 1
["Special! "] DECLARATION_VALUE_STRING - 1580, 11
[ ] S - 1591, 1
[}] RBRACE - 1592, 1
[
] S - 1593, 2
[p] SELECTOR_ELEMENT_NAME - 1595, 1
[.special] SELECTOR_CLASS - 1596, 8
[:first-letter] SELECTOR_PSEUDO - 1604, 13
[ ] S - 1617, 1
[{] LBRACE - 1618, 1
[ ] S - 1619, 1
[color] DECLARATION_PROPERTY - 1620, 5
[:] DECLARATION_SEPARATOR - 1625, 1
[ ] S - 1626, 1
[#ffd800] DECLARATION_VALUE_HASH - 1627, 7
[ ] S - 1634, 1
[}] RBRACE - 1635, 1
[
] S - 1636, 2
[BODY] SELECTOR_ELEMENT_NAME - 1638, 4
[ ] S - 1642, 1
[{] LBRACE - 1643, 1
[ ] S - 1644, 1
[font-family] DECLARATION_PROPERTY - 1645, 11
[:] DECLARATION_SEPARATOR - 1656, 1
[ ] S - 1657, 1
[Baskerville] DECLARATION_VALUE_IDENT - 1658, 11
[,] DECLARATION_VALUE_OPERATOR - 1669, 1
[ ] DECLARATION_VALUE_S - 1670, 1
["Heisi Mincho W3"] DECLARATION_VALUE_STRING - 1671, 17
[,] DECLARATION_VALUE_OPERATOR - 1688, 1
[ ] DECLARATION_VALUE_S - 1689, 1
[Symbol] DECLARATION_VALUE_IDENT - 1690, 6
[,] DECLARATION_VALUE_OPERATOR - 1696, 1
[ ] DECLARATION_VALUE_S - 1697, 1
[serif] DECLARATION_VALUE_IDENT - 1698, 5
[ ] S - 1703, 1
[}] RBRACE - 1704, 1
[
] S - 1705, 2
[*] SELECTOR_UNIVERSAL - 1707, 1
[:lang(ja-jp)] SELECTOR_PSEUDO - 1708, 12
[ ] S - 1720, 1
[{] LBRACE - 1721, 1
[ ] S - 1722, 1
[font] DECLARATION_PROPERTY - 1723, 4
[:] DECLARATION_SEPARATOR - 1727, 1
[ ] S - 1728, 1
[900] DECLARATION_VALUE_NUMBER - 1729, 3
[ ] DECLARATION_VALUE_S - 1732, 1
[14pt] DECLARATION_VALUE_DIMENSION - 1733, 4
[/] DECLARATION_VALUE_OPERATOR - 1737, 1
[16pt] DECLARATION_VALUE_DIMENSION - 1738, 4
[ ] DECLARATION_VALUE_S - 1742, 1
["Heisei Mincho W9"] DECLARATION_VALUE_STRING - 1743, 18
[,] DECLARATION_VALUE_OPERATOR - 1761, 1
[ ] DECLARATION_VALUE_S - 1762, 1
[serif] DECLARATION_VALUE_IDENT - 1763, 5
[ ] S - 1768, 1
[}] RBRACE - 1769, 1
[
] S - 1770, 2
[*] SELECTOR_UNIVERSAL - 1772, 1
[:lang(zh-tw)] SELECTOR_PSEUDO - 1773, 12
[ ] S - 1785, 1
[{] LBRACE - 1786, 1
[ ] S - 1787, 1
[font] DECLARATION_PROPERTY - 1788, 4
[:] DECLARATION_SEPARATOR - 1792, 1
[ ] S - 1793, 1
[800] DECLARATION_VALUE_NUMBER - 1794, 3
[ ] DECLARATION_VALUE_S - 1797, 1
[14pt] DECLARATION_VALUE_DIMENSION - 1798, 4
[/] DECLARATION_VALUE_OPERATOR - 1802, 1
[16.5pt] DECLARATION_VALUE_DIMENSION - 1803, 6
[ ] DECLARATION_VALUE_S - 1809, 1
["Li Sung"] DECLARATION_VALUE_STRING - 1810, 9
[,] DECLARATION_VALUE_OPERATOR - 1819, 1
[ ] DECLARATION_VALUE_S - 1820, 1
[serif] DECLARATION_VALUE_IDENT - 1821, 5
[ ] S - 1826, 1
[}] RBRACE - 1827, 1
[
] S - 1828, 2

-------
